.bm {
    &--rfi {
        text-align: center;
        p {
            font-size: var(--type-size--regular);
            margin-block-end: calc(var(--space--grid-unit) * 6);
        }
        padding-inline-start: 0;
        padding-inline-end: 0;
        margin-block-end: var(--space--gap-xxl);
        @media (min-width: 1024px) {
            display: flex;
            align-items: stretch;
            justify-content: stretch;
            flex-basis: 50%;
            picture,
            figure {
                flex: 1 50%;
                border-bottom-left-radius: var(--corner--radius);
                border-top-left-radius: var(--corner--radius);
                background-clip: border-box;
                max-height: 90vh;
            }
        }
    }
    &--rfi-form {
        text-align: left;
        padding: var(--space--gap-xl) 4vw;
        @media ( min-width: 1024px ) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        @media (min-width: 1300px) {
            flex: 0 1 50%;
        }
    }
}