// Layout is in ../_layouts.scss
.bm--section-nav,
.bm--jump-menu {
    width: 100%;
    margin-block-start: var(--space--gap-large);
    margin-block-end: var(--space--gap-large);
    font-size: var(--type-size--base);
    position: relative;
    z-index: 1;
    button {
        display: flex;
        align-items: center;
        padding: var(--space--gap-medium);
        font-weight: 500;
        width: 100%;
        justify-content: space-between;
        &:after {
            content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 8V16M8 12H16M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            color: var(--color--blue-600);
            display: block;
            height: 24px;
            width: 24px;
            transform-origin: center;
            transform: rotate(0);
            transition: all ease-in-out .15s;
        }
        &[aria-expanded="true"]:after {
            transform: rotate(-45deg);
        }
        & + div {
            background-color: var(--color--white);
        }
    }
    h2 {
        font-size: inherit;
        font-weight: 500;
        display: none;
        font-family: var(--wc-font-family--sans-serif);
        margin: 0;
        flex: 0 100px;
    }
    div {
        display: flex;
        flex-direction: column;
        gap: var(--space--gap-large);
        padding: 0 18px;
        max-height: 0;
        opacity: 0;
        transition: opacity 0.15s ease-in-out, padding 0.2s ease-in-out 0.15s, max-height 0.2s ease-in-out 0.15s;
        font-size: var(--type-size--small);
        visibility: collapse;
        @media ( width <= 1023px ) {
            position: absolute;
            left: 0;
            width: 100%;
            box-shadow: var(--elevation--large);
            &.visible {
                padding: var(--space--gap-large) 18px;
                max-height: 78dvh;
                opacity: 1;
                transition: padding .25s ease-in-out, max-height .25s ease-in-out, opacity .15s ease-in-out .15s;
                visibility: visible;
            }
        }
    }
    @media (width >= 1024px) {
        padding-inline: var(--space--gap-medium);
        border: 0;
        background-color: var(--color--grey-100);
        border-radius: 16px;
        display: flex;
        gap: var(--space--gap-large);
        align-items: baseline;
        h2 {
            display: block;
            line-height: inherit;
        }
        button {
            display: none;
        }
        div {
            row-gap: var(--space--gap-regular);
            flex-wrap: wrap;
            flex-direction: row;
            opacity: 1;
            height: auto;
            max-height: none;
            padding: 0;
            align-items: flex-start;
            visibility: visible !important;
        }
    }
}
.bm {
    &--jump-menu {
        padding-block: var(--space--gap-medium);
        position: sticky;
        top: 68px;
        ul,
        li {
            list-style: none;
            padding-inline-start: 0;
            margin: 0;
        }
        li a {
            text-decoration: none;
            display: flex;
            align-content: center;
            padding: var(--space--gap-regular) 4px;

            &:hover {
                background-color: var(--color--grey-100);
            }
        }
        ul {
            height: auto;
            overflow-y: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar{
                display: none;
                width:0px;
            }
            /*track*/
            &::-webkit-scrollbar-track {
                background:transparent;
            }

            /*thumb*/
            &::-webkit-scrollbar-thumb {
                background:transparent;
            }
        }
        @media (width >= 1024px) {
            padding-inline: var(--space--gap-regular);
            background-color: var(--color--white);
            border: 0;
            border-radius: 0;
            bottom: unset;
            top: 124px;
            grid-column: 1 / span 2;
            align-self: start;
            margin-block: 0 calc(var(--space--grid-unit) * 4);
            padding: 0;
            z-index: unset;
            div {
                width: 100%;
                max-height: 70dvh;
                flex-direction: column;
                flex-wrap: nowrap;
            }
            button {
                display: none;
            }
            ul {
                width: 100%;
            }
            li {
                border-top: 1px solid var(--color--grey-300);
                margin-block-end: 0 !important;
                &:last-child {
                    border-block-end: 1px solid var(--color--grey-300);
                }
            }
        }
    }
}
@media (width >= 1024px) {
    .bm--section-nav {
        padding: var(--space--gap-medium);
        > div {
            background-color: transparent !important;
        }
    }
}