.bm {
    &-home--hero {
        &.is-fullwidth {
            padding: unset;
        }
        .bm-mobile {
            margin-inline-start: calc(var(--space--gap-medium) * -1);
            margin-inline-end: calc(var(--space--gap-medium) * -1);
            width: 100vw;
            overflow: hidden;
            flex: 1 auto;
            border-radius: 0;
            align-items: stretch;
        }
        .home--greeting {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding-inline: var(--space--gap-medium);
            padding-block-end: var(--space--gap-xxl);
            gap: var(--space--gap-large);
            isolation: isolate;
            color: var(--color--blue-600);
            block-size: calc(100dvh - 72px);
            h2 {
                color: inherit;
                max-width: 475px;
            }
            .prehead {
                position: relative;
                &:after {
                    content: "";
                    background-color: var(--color--orange-600);
                    display: block;
                    height: 3px;
                    width: calc(9 * var(--space--grid-unit));
                    bottom: 0;
                    transform: translateY(var(--space--gap-xl));
                    left: 0;
                }
            }
            button {
                width: 100%;
            }
        }
        @media (min-width: 1024px) {
            .bm-mobile {
                display: none;
            }
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            height: 85vh;
            .home--greeting {
                padding: var(--space--gap-3xl);
                gap: var(--space--gap-xxl);
                height: unset;
                justify-content: flex-end;
                flex-basis: minmax(30%, 500px);

            }
        }
    }
    &-gallery--marquee {
        display: none;
        height: 100%;
        width: 70%;
        justify-content: flex-start;
        gap: var(--space--gap-xl);
        overflow: hidden;
        padding-inline: 0 !important;
        &:hover .bm-marquee--group {
            animation-play-state: paused;
        }
        @media (min-width: 1024px) {
            display: flex;
        }
    }
    &-marquee {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        user-select: none;
        gap: var(--space--gap-xl);
        width: 100%;
        &[data-direction="reverse"] .bm-marquee--group {
            animation-direction: reverse;
            animation-delay: -3s;
        }
    }
    &-marquee--group {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: var(--space--gap-xl);
        min-width: 100%;
        animation: scroll-y 180s linear infinite;
        > figure {
            aspect-ratio: 0.71 / 1;
            border-radius: var(--corner--radius);
            overflow: hidden;
            width: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@media (prefers-reduced-motion: reduce) {
  .bm-marquee--group {
    animation-play-state: paused;
  }
}

@keyframes scroll-y {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-100% - 32px));
  }
}