// Gallery layouts.
.bm-gallery {

    &--staggered {
        display: flex;
        gap: var(--space--gap-xxl);
        padding-inline: 3vw;
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        scroll-snap-align: start;
        scroll-snap-stop: always;
        scrollbar-width: 0;
        > * {
            // aspect-ratio: 2 / 3;
            scroll-snap-align: center;
            height: 60vh;
            &:nth-child(even) {
                margin-block-start: 3vw;
            }

        }
        @media ( min-width: 1024px ) {

            scroll-snap-align: center;
            > * {
                flex: 0 0 auto;
                height: 508px;
                width: auto;
            }
        }
    }

}
[class*="bm-gallery"] {
    figure {
        position: relative;
        & > img + figcaption {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
            position: absolute;
            bottom: 0;
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;
            color: var(--color--white);
            height: 25% !important;
            padding-block-end: var(--space--gap-large);
            padding-inline: var(--space--gap-large);
            font-size: var(--type-size--xsmall);
            font-family: var(--wc-font-family--sans-serif);
        }
    }
}
