.bm-stat {
    display: flex;
    flex-direction: column;
    h3 {
        font-size: var(--type-size--medium);
        span {
            font-family: var(--wc-font-family--sans-serif);
            font-weight: 700;
            display: block;
        }
    }
    cite {
        font-style: normal;
        font-size: var(--type-size--xsmall);
        color: var(--color--grey-700)
    }
}
.bm--section-stats {
    padding-inline: var(--space--gap-large);
    h2:before {
        content: "";
        display: block;
        width: calc(var(--space--grid-unit) * 9);
        background-color: var(--color--orange-700);
        height: 3px;
        margin: 0 auto var(--space--gap-xl);
    }
    header > p {
        font-size: var(--type-size--large);
    }
    .bm-stat {
        color: var(--color--grey-900);
    }
}