@media (min-width: 1024px) {
    .program-finder-2023 {
        .finder {
            min-height: calc(100vh - 96px);
            position: sticky;
            top: 96px;
        }
    }
}
#program-finder-mountpoint {
    padding-block: 0;
}

.program-finder-2023-popover {
    .finder {
        padding: var(--space--gap-large) !important;
    }
    .scroller.pf-areas {
        transform: none !important;
        right: 7% !important;
        left: auto !important;
    }
}
.result .program_name a {
    text-decoration-thickness: 2px;
}

fieldset.credential_types .scroller,
.bm-gallery--staggered {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    &::-webkit-scrollbar{
        display: none;
        width:0px;
    }
    /*track*/
    &::-webkit-scrollbar-track {
        background:transparent;
    }

    /*thumb*/
    &::-webkit-scrollbar-thumb {
        background:transparent;
    }
}