<aside class="bm--actions">
    <ul>
        <li><a href="/" class="bm--action-link has-arrow">Request Information</a></li>
        <li><a href="/" class="bm--action-link has-arrow">Apply Now</a></li>
    </ul>
</aside>