<section class="bm--cta-callout bm--callout">
    <header>
        <h2>Next Steps</h2>
        <p>Interested in studying anthropology at Wheaton? Request more information or start your application today.</p>
    </header>
    <div class="bm--buttons">
        <a href="#" class="bm--cta style-primary">Apply</a>
        <a href="#" class="bm--cta style-outline">Request Info</a>
    </div>
</section>