<div class="bm--card bm--card-news">
    <figure>
        <img src="https://placehold.jp/587x384.png" />
    </figure>
    <article class="card--content">
        <span class="news-meta categories"><a href="#">Wheaton News</a>, <a href="#">News</a>, <a href="#">Staff</a></span>
        <h2><a href="#">Marion E. Wade Center’s Crystal and David Downing Retiring in June, Jim Beitler to Serve as New Director</a></h2>
        <p></p>
    </article>
</div>
<div class="bm--card bm--card-news">
    <figure>
        <img src="https://placehold.jp/587x384.png" />
    </figure>
    <article class="card--content">
        <span class="news-meta categories"><a href="#">Wheaton News</a>, <a href="#">News</a>, <a href="#">Staff</a></span>
        <h2><a href="#">Associate Professor of New Testament Dr. Esau McCaulley Appointed Jonathan Blanchard Chair of New Testament and Public Theology</a></h2>
        <p></p>
    </article>
</div>
<div class="bm--card bm--card-news">
    <figure>
        <img src="https://placehold.jp/587x384.png" />
    </figure>
    <article class="card--content">
        <span class="news-meta categories"><a href="#">Wheaton News</a>, <a href="#">News</a>, <a href="#">Staff</a></span>
        <h2><a href="#">Marion E. Wade Center’s Crystal and David Downing Retiring in June, Jim Beitler to Serve as New Director</a></h2>
        <p></p>
    </article>
</div>