<article class="bm--collapsible" data-collapsible>
    <h3><button aria-controls="collapsible1" aria-expanded="false">Collapsible Trigger Label</button></h3>
    <div id="collapsible1" hidden>
        <p>We are committed to ensuring that our graduates leave Wheaton with the financial freedom to launch their careers, start their families, and lead lives of leadership and service For Christ and His Kingdom.</p>
    </div>
</article>