<section class="bm--content-block is-animated">
    <h2>How much does it cost to attend Wheaton College?</h2>
    <p>Wheaton College tuition, room, board, and fees will be $54,160 for the 2022-2023 academic year, but it's important to note that most Wheaton students pay less than that amount. In fact, the average financial aid package (consisting of scholarship, grant aid, and loans) was $29,000 for incoming first-year students in 2018-19.</p>
    <p><a href="#">Find out how to estimate your Wheaton College costs here.</a></p>
</section>