<a class="bm--card bm--is-card has-image-top" href="#">
    <figure>
        <img src="https://placehold.jp/384x587.png" />
    </figure>
    <article class="card--content">
        <h3>Our Faculty</h3>
        <p>Our full-time, visiting, and adjunct anthropology faculty members have a wide range of research interests, including medical anthropology, social anthropology, U.S. farming systems, short-term missions, community development in South Asia, and Filipino Protestantism</p>
    </article>
    <p><span class="bm--cta style-primary">Fake CTA</span></p>
</a>