<picture class="bm--cover">
    <source media="(max-width: 719px)" width="375" height="480" srcset="">
    <source media="(min-width: 720px)" width="720" height="405" srcset="https://placehold.jp/1335x775.png 1400w,
                 1024w,
                720x405 720w">
    <img src="https://placehold.jp/375x480.png" alt="mobile placeholder" width="720" height="405"  />
</picture>