<div class="bm--card bm--card-news is-featured">
    <figure>
        <img src="https://placehold.jp/384x587.png" />
    </figure>
    <article class="card--content">
        <span class="news-meta categories"><a href="#">Wheaton News</a>, <a href="#">News</a>, <a href="#">Staff</a></span>
        <h2><a href="#">Marion E. Wade Center’s Crystal and David Downing Retiring in June, Jim Beitler to Serve as New Director</a></h2>
        <p></p>
    </article>
</div>