<section class="bm--content-cta bm-margins has-bg--white">
    <article>
        <h2>Wheaties become movement makers, entrepreneurial shapers, and pathway breakers.</h2>
        <p>We become scientists, lawyers, doctors, CEOs, filmmakers, engineers, policy experts, educators, renowned scholars, investment bankers, musicians, entrepreneurs and, yes, missionaries, theologians, and church leaders.</p>
        <p>Find yourself here.</p>
    </article>
    {% include "components/bm-action-menu-cta.njk" %}
</section>