<article class="bm--callout" data-image="left">
  <img src="https://placehold.jp/375x480.png" alt="mobile placeholder" width="720" height="405"  />
  <div>
    <h2>This is a note title</h2>
    <p>Learn alongside professors and other archaeologists as they join the Tel Shimron Excavations, an international, interdisciplinary project dedicated to uncovering remains from the Middle Bronze Age.</p>
  </div>
</article>