<section class="has-text-2col">
    <p>We know that paying for college can be a stressful prospect. Students and families are wise to do all they can to avoid taking on unsustainable debt. Wheaton College's Office of Student Financial Services understands your concerns. We will work with you to create a personalized, affordable plan that gives you access to everything the nation's best Christian liberal arts education has to offer.</p>
    <p>We are committed to ensuring that our graduates leave Wheaton with the financial freedom to launch their careers, start their families, and lead lives of leadership and service For Christ and His Kingdom.</p>
</section>