<figure class="bm-card--faculty">
    <img src="https://picsum.photos/270/405/" alt="Wheaton College Meyer Science Center Exterior in Sun" width="270" height="405">
    <figcaption>
        <h3><a href="#">Cherith Lundin, M.F.A.</a></h3>
        <span class="faculty--title">Associate Professor of Art, Department Chair</span>
    </figcaption>
</figure>