<figure class="bm-gallery--staggered is-fullwidth has-bg--white">
    <figure>
        <picture data-ar="2:3">
            <img src="https://picsum.photos/346/588" alt="" />
        </picture>
        <figcaption></figcaption>
    </figure>
    <figure>
        <picture data-ar="2:3">
            <img src="https://picsum.photos/346/588" alt="" />
        </picture>
        <figcaption></figcaption>
    </figure>
    <figure>
        <picture data-ar="2:3">
            <img src="https://picsum.photos/346/588" alt="" />
        </picture>
        <figcaption></figcaption>
    </figure>
    <figure>
        <picture data-ar="2:3">
            <img src="https://picsum.photos/346/588" alt="" />
        </picture>
        <figcaption></figcaption>
    </figure>
    <figure>
        <picture data-ar="2:3">
            <img src="https://picsum.photos/346/588" alt="" />
        </picture>
        <figcaption></figcaption>
    </figure>
</figure>