<div class="bm--content">
    <p>Studying anthropology provides an incredible foundation for anyone called to work with diverse groups of people, whether in business, education, or the community. Anthropology is all about asking questions and the answers will lead you to a greater context of the world around you.</p>
</div>