<figure class="bm-gallery--staggered is-fullwidth has-bg--white">
    <figure data-ar="2:3">

            <img src="https://picsum.photos/346/588" alt="" />

        <figcaption>Test caption</figcaption>
    </figure>
    <figure data-ar="2:3">
        <img src="https://picsum.photos/588/346" alt="" />
    </figure>
    <figure data-ar="2:3">

            <img src="https://picsum.photos/346/588" alt="" />
    </figure>
    <figure data-ar="2:3">

            <img src="https://picsum.photos/588/346" alt="" />
    </figure>
    <figure data-ar="2:3">

            <img src="https://picsum.photos/346/588" alt="" />
    </figure>
</figure>