<section class="bm-home--hero has-bg--blue-gradient-light">
    <section class="home--greeting">
        <p class="prehead">For Christ and His Kingdom</p>
        <h2 class="type-xxl">Find your ambitious calling</h2>
        <button class="bm--cta style-primary" data-widget="program-finder">Explore Our Programs {% include "components/svg/icon-left-arrow.svg" %}</button>
    </section>
    <div class="bm-gallery--marquee">
        <section class="bm-gallery-col bm-marquee">
            <div class="bm-marquee--group">
                <figure><img src="https://picsum.photos/547/768" alt="" /></figure>
                <figure><img src="https://picsum.photos/547/768" alt="" /></figure>
                <figure><img src="https://picsum.photos/547/768" alt="" /></figure>
                <figure><img src="https://picsum.photos/547/768" alt="" /></figure>
            </div>
            <div class="bm-marquee--group" aria-hidden="true">
                <figure><img src="https://picsum.photos/547/768" alt="" /></figure>
                <figure><img src="https://picsum.photos/547/768" alt="" /></figure>
                <figure><img src="https://picsum.photos/547/768" alt="" /></figure>
                <figure><img src="https://picsum.photos/547/768" alt="" /></figure>
            </div>
        </section>
        <section class="bm-gallery-col bm-marquee" data-direction="reverse">
            <div class="bm-marquee--group">
                <figure><img src="https://picsum.photos/547/768" alt="" /></figure>
                <figure><img src="https://picsum.photos/547/768" alt="" /></figure>
                <figure><img src="https://picsum.photos/547/768" alt="" /></figure>
                <figure><img src="https://picsum.photos/547/768" alt="" /></figure>
            </div>
            <div class="bm-marquee--group" aria-hidden="true">
                <figure><img src="https://picsum.photos/547/768" alt="" /></figure>
                <figure><img src="https://picsum.photos/547/768" alt="" /></figure>
                <figure><img src="https://picsum.photos/547/768" alt="" /></figure>
                <figure><img src="https://picsum.photos/547/768" alt="" /></figure>
            </div>
        </section>
    </div>
</section>