<section class="bm-home--hero has-bg--blue-gradient-light is-fullwidth">
    <section class="home--greeting">
        <figure data-ar class="bm-home-hero--image bm-mobile"><img src="https://picsum.photos/375/449" alt="" /></figure>
        <p class="prehead">For Christ and His Kingdom</p>
        <h2 class="type-xxl">Find your ambitious calling</h2>
        <button class="bm--cta style-primary" data-widget="program-finder">Explore Our Programs {% include "components/svg/icon-left-arrow.svg" %}</button>
    </section>

  <div class="bm-gallery--marquee" data-gallery>
    <!-- Images will be organized into columns by JavaScript -->
        <!-- Initial set of images (loaded eagerly) -->
        <picture data-ar="2:3">
          <source
            type="image/webp"
            srcset="
              https://pxl-wheatonedu.terminalfour.net/fit-in/320x480/filters:quality(80)/filters:format(webp)/prod02/channel_1/media/marcomm/Commencement-2025.jpg 320w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/480x720/filters:quality(80)/filters:format(webp)/prod02/channel_1/media/marcomm/Commencement-2025.jpg 480w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/640x960/filters:quality(80)/filters:format(webp)/prod02/channel_1/media/marcomm/Commencement-2025.jpg 640w"
            sizes="(max-width: 767px) 50vw, 25vw">
          <source
            type="image/jpeg"
            srcset="
              https://pxl-wheatonedu.terminalfour.net/fit-in/320x480/filters:quality(80)/prod02/channel_1/media/marcomm/Commencement-2025.jpg 320w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/480x720/filters:quality(80)/prod02/channel_1/media/marcomm/Commencement-2025.jpg 480w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/640x960/filters:quality(80)/prod02/channel_1/media/marcomm/Commencement-2025.jpg 640w"
            sizes="(max-width: 767px) 50vw, 25vw">
          <img
            src="https://pxl-wheatonedu.terminalfour.net/fit-in/320x480/filters:quality(80)/prod02/channel_1/media/marcomm/Commencement-2025.jpg"
            alt="Commencement 2025"
            width="320"
            height="480"
            loading="lazy"
            decoding="async" />
        </picture>
        <picture data-ar="2:3">
          <source
            type="image/webp"
            srcset="
              https://pxl-wheatonedu.terminalfour.net/fit-in/320x480/filters:quality(80)/filters:format(webp)/prod02/channel_1/media/marcomm/2025-Graduates-Throwing-Caps.jpg 320w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/480x720/filters:quality(80)/filters:format(webp)/prod02/channel_1/media/marcomm/2025-Graduates-Throwing-Caps.jpg 480w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/640x960/filters:quality(80)/filters:format(webp)/prod02/channel_1/media/marcomm/2025-Graduates-Throwing-Caps.jpg 640w"
            sizes="(max-width: 767px) 50vw, 25vw">
          <source
            type="image/jpeg"
            srcset="
              https://pxl-wheatonedu.terminalfour.net/fit-in/320x480/filters:quality(80)/prod02/channel_1/media/marcomm/2025-Graduates-Throwing-Caps.jpg 320w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/480x720/filters:quality(80)/prod02/channel_1/media/marcomm/2025-Graduates-Throwing-Caps.jpg 480w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/640x960/filters:quality(80)/prod02/channel_1/media/marcomm/2025-Graduates-Throwing-Caps.jpg 640w"
            sizes="(max-width: 767px) 50vw, 25vw">
          <img
            src="https://pxl-wheatonedu.terminalfour.net/fit-in/320x480/filters:quality(80)/prod02/channel_1/media/marcomm/2025-Graduates-Throwing-Caps.jpg"
            alt="2025 Graduates Throwing Caps"
            width="320"
            height="480"
            loading="lazy"
            decoding="async" />
        </picture>
        <picture data-ar="2:3">
          <source
            type="image/webp"
            srcset="
              https://pxl-wheatonedu.terminalfour.net/fit-in/320x480/filters:quality(80)/filters:format(webp)/prod02/channel_1/media/marcomm/_91A1354.jpg 320w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/480x720/filters:quality(80)/filters:format(webp)/prod02/channel_1/media/marcomm/_91A1354.jpg 480w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/640x960/filters:quality(80)/filters:format(webp)/prod02/channel_1/media/marcomm/_91A1354.jpg 640w"
            sizes="(max-width: 767px) 50vw, 25vw">
          <source
            type="image/jpeg"
            srcset="
              https://pxl-wheatonedu.terminalfour.net/fit-in/320x480/filters:quality(80)/prod02/channel_1/media/marcomm/_91A1354.jpg 320w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/480x720/filters:quality(80)/prod02/channel_1/media/marcomm/_91A1354.jpg 480w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/640x960/filters:quality(80)/prod02/channel_1/media/marcomm/_91A1354.jpg 640w"
            sizes="(max-width: 767px) 50vw, 25vw">
          <img
            src="https://pxl-wheatonedu.terminalfour.net/fit-in/320x480/filters:quality(80)/prod02/channel_1/media/marcomm/_91A1354.jpg"
            alt="Wheaton College student reading outside in sunshine"
            width="320"
            height="480"
            loading="lazy"
            decoding="async" />
        </picture>
        <picture data-ar="2:3">
          <source
            type="image/webp"
            srcset="
              https://pxl-wheatonedu.terminalfour.net/fit-in/320x480/filters:quality(80)/filters:format(webp)/prod02/channel_1/media/marcomm/Isthmus-Bowl-Photo.jpg 320w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/480x720/filters:quality(80)/filters:format(webp)/prod02/channel_1/media/marcomm/Isthmus-Bowl-Photo.jpg 480w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/640x960/filters:quality(80)/filters:format(webp)/prod02/channel_1/media/marcomm/Isthmus-Bowl-Photo.jpg 640w"
            sizes="(max-width: 767px) 50vw, 25vw">
          <source
            type="image/jpeg"
            srcset="
              https://pxl-wheatonedu.terminalfour.net/fit-in/320x480/filters:quality(80)/prod02/channel_1/media/marcomm/Isthmus-Bowl-Photo.jpg 320w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/480x720/filters:quality(80)/prod02/channel_1/media/marcomm/Isthmus-Bowl-Photo.jpg 480w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/640x960/filters:quality(80)/prod02/channel_1/media/marcomm/Isthmus-Bowl-Photo.jpg 640w"
            sizes="(max-width: 767px) 50vw, 25vw">
          <img
            src="https://pxl-wheatonedu.terminalfour.net/fit-in/320x480/filters:quality(80)/prod02/channel_1/media/marcomm/Isthmus-Bowl-Photo.jpg"
            alt="Wheaton Thunder Football Isthmus Bowl Championship 2024 - photo credit Dane Sheehan"
            width="320"
            height="480"
            loading="lazy"
            decoding="async" />
        </picture>
        <picture data-ar="2:3">
          <source
            type="image/webp"
            srcset="
              https://pxl-wheatonedu.terminalfour.net/fit-in/320x480/filters:quality(80)/filters:format(webp)/prod02/channel_1/media/marcomm/800A9931.jpg 320w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/480x720/filters:quality(80)/filters:format(webp)/prod02/channel_1/media/marcomm/800A9931.jpg 480w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/640x960/filters:quality(80)/filters:format(webp)/prod02/channel_1/media/marcomm/800A9931.jpg 640w"
            sizes="(max-width: 767px) 50vw, 25vw">
          <source
            type="image/jpeg"
            srcset="
              https://pxl-wheatonedu.terminalfour.net/fit-in/320x480/filters:quality(80)/prod02/channel_1/media/marcomm/800A9931.jpg 320w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/480x720/filters:quality(80)/prod02/channel_1/media/marcomm/800A9931.jpg 480w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/640x960/filters:quality(80)/prod02/channel_1/media/marcomm/800A9931.jpg 640w"
            sizes="(max-width: 767px) 50vw, 25vw">
          <img
            src="https://pxl-wheatonedu.terminalfour.net/fit-in/320x480/filters:quality(80)/prod02/channel_1/media/marcomm/800A9931.jpg"
            alt="Blanchard Tower in Autumn"
            width="320"
            height="480"
            loading="lazy"
            decoding="async" />
        </picture>
        <picture data-ar="2:3">
          <source
            type="image/webp"
            srcset="
              https://pxl-wheatonedu.terminalfour.net/fit-in/320x480/filters:quality(80)/filters:format(webp)/prod02/channel_1/media/marcomm/2Y6A0561.jpg 320w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/480x720/filters:quality(80)/filters:format(webp)/prod02/channel_1/media/marcomm/2Y6A0561.jpg 480w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/640x960/filters:quality(80)/filters:format(webp)/prod02/channel_1/media/marcomm/2Y6A0561.jpg 640w"
            sizes="(max-width: 767px) 50vw, 25vw">
          <source
            type="image/jpeg"
            srcset="
              https://pxl-wheatonedu.terminalfour.net/fit-in/320x480/filters:quality(80)/prod02/channel_1/media/marcomm/2Y6A0561.jpg 320w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/480x720/filters:quality(80)/prod02/channel_1/media/marcomm/2Y6A0561.jpg 480w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/640x960/filters:quality(80)/prod02/channel_1/media/marcomm/2Y6A0561.jpg 640w"
            sizes="(max-width: 767px) 50vw, 25vw">
          <img
            src="https://pxl-wheatonedu.terminalfour.net/fit-in/320x480/filters:quality(80)/prod02/channel_1/media/marcomm/2Y6A0561.jpg"
            alt="Students Moving into Fischer Hall 2024"
            width="320"
            height="480"
            loading="lazy"
            decoding="async" />
        </picture>
        <picture data-ar="2:3">
          <source
            type="image/webp"
            srcset="
              https://pxl-wheatonedu.terminalfour.net/fit-in/320x480/filters:quality(80)/filters:format(webp)/prod02/channel_1/media/marcomm/800A7356.jpg 320w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/480x720/filters:quality(80)/filters:format(webp)/prod02/channel_1/media/marcomm/800A7356.jpg 480w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/640x960/filters:quality(80)/filters:format(webp)/prod02/channel_1/media/marcomm/800A7356.jpg 640w"
            sizes="(max-width: 767px) 50vw, 25vw">
          <source
            type="image/jpeg"
            srcset="
              https://pxl-wheatonedu.terminalfour.net/fit-in/320x480/filters:quality(80)/prod02/channel_1/media/marcomm/800A7356.jpg 320w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/480x720/filters:quality(80)/prod02/channel_1/media/marcomm/800A7356.jpg 480w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/640x960/filters:quality(80)/prod02/channel_1/media/marcomm/800A7356.jpg 640w"
            sizes="(max-width: 767px) 50vw, 25vw">
          <img
            src="https://pxl-wheatonedu.terminalfour.net/fit-in/320x480/filters:quality(80)/prod02/channel_1/media/marcomm/800A7356.jpg"
            alt="Commencement Concert 2024"
            width="320"
            height="480"
            loading="lazy"
            decoding="async" />
        </picture>
        <picture data-ar="2:3">
          <source
            type="image/webp"
            srcset="
              https://pxl-wheatonedu.terminalfour.net/fit-in/320x480/filters:quality(80)/filters:format(webp)/prod02/channel_1/media/marcomm/800A1764.jpg 320w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/480x720/filters:quality(80)/filters:format(webp)/prod02/channel_1/media/marcomm/800A1764.jpg 480w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/640x960/filters:quality(80)/filters:format(webp)/prod02/channel_1/media/marcomm/800A1764.jpg 640w"
            sizes="(max-width: 767px) 50vw, 25vw">
          <source
            type="image/jpeg"
            srcset="
              https://pxl-wheatonedu.terminalfour.net/fit-in/320x480/filters:quality(80)/prod02/channel_1/media/marcomm/800A1764.jpg 320w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/480x720/filters:quality(80)/prod02/channel_1/media/marcomm/800A1764.jpg 480w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/640x960/filters:quality(80)/prod02/channel_1/media/marcomm/800A1764.jpg 640w"
            sizes="(max-width: 767px) 50vw, 25vw">
          <img
            src="https://pxl-wheatonedu.terminalfour.net/fit-in/320x480/filters:quality(80)/prod02/channel_1/media/marcomm/800A1764.jpg"
            alt="Undergraduate Commencement 2024"
            width="320"
            height="480"
            loading="lazy"
            decoding="async" />
        </picture>
        <picture data-ar="2:3">
          <source
            type="image/webp"
            srcset="
              https://pxl-wheatonedu.terminalfour.net/fit-in/320x480/filters:quality(80)/filters:format(webp)/prod02/channel_1/media/homepage-stories/Areial-Shot-of-Stadium-at-Homecoming.jpg 320w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/480x720/filters:quality(80)/filters:format(webp)/prod02/channel_1/media/homepage-stories/Areial-Shot-of-Stadium-at-Homecoming.jpg 480w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/640x960/filters:quality(80)/filters:format(webp)/prod02/channel_1/media/homepage-stories/Areial-Shot-of-Stadium-at-Homecoming.jpg 640w"
            sizes="(max-width: 767px) 50vw, 25vw">
          <source
            type="image/jpeg"
            srcset="
              https://pxl-wheatonedu.terminalfour.net/fit-in/320x480/filters:quality(80)/prod02/channel_1/media/homepage-stories/Areial-Shot-of-Stadium-at-Homecoming.jpg 320w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/480x720/filters:quality(80)/prod02/channel_1/media/homepage-stories/Areial-Shot-of-Stadium-at-Homecoming.jpg 480w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/640x960/filters:quality(80)/prod02/channel_1/media/homepage-stories/Areial-Shot-of-Stadium-at-Homecoming.jpg 640w"
            sizes="(max-width: 767px) 50vw, 25vw">
          <img
            src="https://pxl-wheatonedu.terminalfour.net/fit-in/320x480/filters:quality(80)/prod02/channel_1/media/homepage-stories/Areial-Shot-of-Stadium-at-Homecoming.jpg"
            alt="Aerial Shot of Stadium During Homecoming"
            width="320"
            height="480"
            loading="lazy"
            decoding="async" />
        </picture>
        <picture data-ar="2:3">
          <source
            type="image/webp"
            srcset="
            https://pxl-wheatonedu.terminalfour.net/fit-in/320x480/filters:quality(80)/filters:format(webp)/prod02/channel_1/media/admissions/2Y6A0182.jpg 320w,
            https://pxl-wheatonedu.terminalfour.net/fit-in/480x720/filters:quality(80)/filters:format(webp)/prod02/channel_1/media/admissions/2Y6A0182.jpg 480w,
            https://pxl-wheatonedu.terminalfour.net/fit-in/640x960/filters:quality(80)/filters:format(webp)/prod02/channel_1/media/admissions/2Y6A0182.jpg 640w"
          sizes="(max-width: 767px) 50vw, 25vw">
          <source
            type="image/jpeg"
            srcset="
              https://pxl-wheatonedu.terminalfour.net/fit-in/320x480/filters:quality(80)/prod02/channel_1/media/admissions/2Y6A0182.jpg 320w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/480x720/filters:quality(80)/prod02/channel_1/media/admissions/2Y6A0182.jpg 480w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/640x960/filters:quality(80)/prod02/channel_1/media/admissions/2Y6A0182.jpg 640w"
          sizes="(max-width: 767px) 50vw, 25vw">
          <img
            src="https://pxl-wheatonedu.terminalfour.net/fit-in/320x480/filters:quality(80)/prod02/channel_1/media/admissions/2Y6A0182.jpg"
            alt="Students leaving Edman on first day of Chapel Fall 2023"
            width="320"
            height="480"
            loading="lazy"
            decoding="async" />
        </picture>
        <picture data-ar="2:3">
          <source
            type="image/webp"
            srcset="
              https://pxl-wheatonedu.terminalfour.net/fit-in/320x480/filters:quality(80)/filters:format(webp)/prod02/channel_1/media/admissions/Blanchard-Hall-Spring-2022-2.jpg 320w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/480x720/filters:quality(80)/filters:format(webp)/prod02/channel_1/media/admissions/Blanchard-Hall-Spring-2022-2.jpg 480w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/640x960/filters:quality(80)/filters:format(webp)/prod02/channel_1/media/admissions/Blanchard-Hall-Spring-2022-2.jpg 640w"
            sizes="(max-width: 767px) 50vw, 25vw">
          <source
            type="image/jpeg"
            srcset="
              https://pxl-wheatonedu.terminalfour.net/fit-in/320x480/filters:quality(80)/prod02/channel_1/media/admissions/Blanchard-Hall-Spring-2022-2.jpg 320w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/480x720/filters:quality(80)/prod02/channel_1/media/admissions/Blanchard-Hall-Spring-2022-2.jpg 480w,
              https://pxl-wheatonedu.terminalfour.net/fit-in/640x960/filters:quality(80)/prod02/channel_1/media/admissions/Blanchard-Hall-Spring-2022-2.jpg 640w"
            sizes="(max-width: 767px) 50vw, 25vw">
          <img
            src="https://pxl-wheatonedu.terminalfour.net/fit-in/320x480/filters:quality(80)/prod02/channel_1/media/admissions/Blanchard-Hall-Spring-2022-2.jpg"
            alt="Blanchard Hall Spring 2022"
            width="320"
            height="480"
            loading="lazy"
            decoding="async" />
        </picture>
      </div>
    </section>
  </div>
</section>