<header class="bm-home--hero">
    <section class="home--greeting">
        <p class="prehead">For Christ and His Kingdom</p>
        <h2 class="size-xxl">Find Your Ambitious Calling</h2>
        <button class="bm--cta style-primary" data-widget="program-finder">Explore Our Programs</button>
    </section>
    <div class="bm-gallery--masonry">
        <section class="bm-gallery-col">
            <figure></figure>
            <figure></figure>
            <figure></figure>
            <figure></figure>
        </section>
        <section class="bm-gallery-col">
            <figure></figure>
            <figure></figure>
            <figure></figure>
            <figure></figure>
        </section>
    </div>
</header>