    <span class="bm--icon icon--heart"></span>
    <span class="bm--icon icon--growth"></span>
    <span class="bm--icon icon--globe"></span>
    <span class="bm--icon icon--star"></span>
    <span class="bm--icon icon--info"></span>
    <span class="bm--icon icon--book"></span>
    <span class="bm--icon icon--lightbulb"></span>