<nav class="bm--jump-menu is-sticky" role="navigation">
    <ul>
        <li><a href="#one">Types of Aid</a></li>
        <li><a href="#two">Tuition &amp; Fees</a></li>
        <li><a href="#three">Value</a></li>
        <li><a href="#four">Financial Aid Timeline</a></li>
        <li><a href="#five">Apply for Aid</a></li>
    </ul>
</nav>