<nav class="bm--jump-menu is-sticky" role="navigation" data-jumpnav>
    <button aria-expanded="false" class="bm--cta">Jump Nav title</button>
    <div>
        <ul>
            <li><a href="#one" class="has-arrow">Types of Aid</a></li>
            <li><a href="#two" class="has-arrow">Tuition &amp; Fees</a></li>
            <li><a href="#three" class="has-arrow">Value</a></li>
            <li><a href="#four" class="has-arrow">Financial Aid Timeline</a></li>
            <li><a href="#five" class="has-arrow">Apply for Aid</a></li>
        </ul>
    </div>
</nav>