<!-- Accessible modal using a11y-dialog.js -->
<div
  id="bm-modal-dialog"
  class="dialog-container"
  aria-hidden="true"
>
  <div data-a11y-dialog-hide class="dialog-overlay"></div>
  <button type="button" data-a11y-dialog-hide aria-label="Close dialog" class="bm--cta style-ghost">
        {% include "components/svg/icon-x.njk" %}
  </button>
  <div role="document" class="bm--modal-content"></div>
</div>