<!-- Accessible modal using a11y-dialog.js -->
<div
  id="bm--modal"
  aria-labelledby="modal-label"
  aria-hidden="true"
>
  <div data-a11y-dialog-hide></div>
  <div role="document">
    <button type="button" data-a11y-dialog-hide aria-label="Close dialog">
        {% include "components/svg/icon-x.njk" %}
    </button>
    <span class="sr-only" id="modal-label">Your dialog title</span>
  </div>
</div>

<pre>
<!-- Should be included in the footer of each page -->
<div
  id="bm--modal"
  aria-labelledby="modal-label"
  aria-hidden="true"
>
  <div data-a11y-dialog-hide></div>
  <div role="document">
    <button type="button" data-a11y-dialog-hide aria-label="Close dialog">
        {% include "components/svg/icon-x.njk" %}
    </button>
    <span class="sr-only" id="modal-label">Your dialog title</span>
  </div>
</div>
</pre>