<div
    class="finder__filter__cards--hidden">
    <!-- each .program-data-2023 div contains data elements we'll read in JS and pass to the Svelte component.
    
    This is what the T4 NavObj output will look like -->
    <div
        class="program-data-2023"
        data-credential-types="Bachelor"
        data-credential-type-values="bachelor-1"
        data-degree-types="BA"
        data-areas-of-study="Humanities"
        data-link="http://google.com"
        data-name="Anthropology"></div>
    <div
        class="program-data-2023"
        data-credential-types="Certificate"
        data-credential-type-values="certificate-3"
        data-degree-types="PsyD"
        data-areas-of-study="Military"
        data-link="http://google.com"
        data-name="Computer Science"></div>
    <div
        class="program-data-2023"
        data-credential-types="Master"
        data-credential-type-values="master-4"
        data-degree-types="BA"
        data-areas-of-study="Education and Teaching"
        data-link="http://google.com"
        data-name="Mathematics"></div>
    <div
        class="program-data-2023"
        data-credential-types="Doctoral"
        data-credential-type-values="doctoral-5"
        data-degree-types="Multiple|PsyD|PhD"
        data-areas-of-study="Education and Teaching|Science, Technology, Engineering, and Mathematics"
        data-link="http://google.com"
        data-name="Botany"></div>
    <div
        class="program-data-2023"
        data-credential-types="Certificate|Doctoral"
        data-credential-type-values="certificate-3|doctoral-5"
        data-degree-types="BA|BS"
        data-areas-of-study="Business, Economics, and Marketing|Health"
        data-link="http://google.com"
        data-name="Anthropology"></div>
    <div
        class="program-data-2023"
        data-comment="I won't show because I don't have degree types. And the 'food' credential type won't show either because
            I'm the only one with that credential type"
        data-credential-types="Certificate|Doctoral|Food"
        data-credential-type-values="certificate-3|doctoral-5|food-1"
        data-degree-types=""
        data-areas-of-study="Business, Economics, and Marketing|Health"
        data-link="http://google.com"
        data-name="AnthropologyUnshown"></div>
    <div
        class="program-data-2023"
        data-credential-types="Bachelor"
        data-credential-type-values="bachelor-1"
        data-degree-types="BA"
        data-areas-of-study="Humanities"
        data-link="http://google.com"
        data-name="Anthropology 2"></div>
    <div
        class="program-data-2023"
        data-credential-types="Certificate"
        data-credential-type-values="certificate-3"
        data-degree-types="PsyD"
        data-areas-of-study="Military"
        data-link="http://google.com"
        data-name="Computer Science 2"></div>
    <div
        class="program-data-2023"
        data-credential-types="Master"
        data-credential-type-values="master-4"
        data-degree-types="BA"
        data-areas-of-study="Education and Teaching"
        data-link="http://google.com"
        data-name="Mathematics 2"></div>
    <div
        class="program-data-2023"
        data-credential-types="Doctoral"
        data-credential-type-values="doctoral-5"
        data-degree-types="Multiple|PsyD|PhD"
        data-areas-of-study="Education and Teaching|Science, Technology, Engineering, and Mathematics"
        data-link="http://google.com"
        data-name="Botany 2"></div>
    <div
        class="program-data-2023"
        data-credential-types="Certificate|Doctoral"
        data-credential-type-values="certificate-3|doctoral-5"
        data-degree-types="BA|BS"
        data-areas-of-study="Business, Economics, and Marketing|Health"
        data-link="http://google.com"
        data-name="Anthropology 2"></div>
    <div
        class="program-data-2023"
        data-comment="I won't show because I don't have degree types. And the 'food' credential type won't show either because
            I'm the only one with that credential type"
        data-credential-types="Certificate|Doctoral|Food"
        data-credential-type-values="certificate-3|doctoral-5|food-1"
        data-degree-types=""
        data-areas-of-study="Business, Economics, and Marketing|Health"
        data-link="http://google.com"
        data-name="AnthropologyUnshown 2"></div>
    <div
        class="program-data-2023"
        data-credential-types="Bachelor"
        data-credential-type-values="bachelor-1"
        data-degree-types="BA"
        data-areas-of-study="Humanities"
        data-link="http://google.com"
        data-name="Anthropology 3"></div>
    <div
        class="program-data-2023"
        data-credential-types="Certificate"
        data-credential-type-values="certificate-3"
        data-degree-types="PsyD"
        data-areas-of-study="Military"
        data-link="http://google.com"
        data-name="Computer Science 3"></div>
    <div
        class="program-data-2023"
        data-credential-types="Master"
        data-credential-type-values="master-4"
        data-degree-types="BA"
        data-areas-of-study="Education and Teaching"
        data-link="http://google.com"
        data-name="Mathematics 3"></div>
    <div
        class="program-data-2023"
        data-credential-types="Doctoral"
        data-credential-type-values="doctoral-5"
        data-degree-types="Multiple|PsyD|PhD"
        data-areas-of-study="Education and Teaching|Science, Technology, Engineering, and Mathematics"
        data-link="http://google.com"
        data-name="Botany 3"></div>
    <div
        class="program-data-2023"
        data-credential-types="Certificate|Doctoral"
        data-credential-type-values="certificate-3|doctoral-5"
        data-degree-types="BA|BS"
        data-areas-of-study="Business, Economics, and Marketing|Health"
        data-link="http://google.com"
        data-name="Anthropology 3"></div>
    <div
        class="program-data-2023"
        data-comment="I won't show because I don't have degree types. And the 'food' credential type won't show either because
            I'm the only one with that credential type"
        data-credential-types="Certificate|Doctoral|Food"
        data-credential-type-values="certificate-3|doctoral-5|food-1"
        data-degree-types=""
        data-areas-of-study="Business, Economics, and Marketing|Health"
        data-link="http://google.com"
        data-name="AnthropologyUnshown 3"></div>
</div>