<section id="bm-program-finder--filters">
    <h2>Find your program</h2>
    <fieldset class="bm--filters">
        <legend>1. Select a degree level</legend>
        <span class="bm--filter">
            <input type="checkbox" name="bachelor">
            <label for="bachelor">Bachelor</label>
        </span>
        <span class="bm--filter">
            <input type="checkbox" name="minor">
            <label for="minor">Minor</label>
        </span>
        <span class="bm--filter">
            <input type="checkbox" name="certificate">
            <label for="certificate">Certificate</label>
        </span>
        <span class="bm--filter">
            <input type="checkbox" name="master">
            <label for="master">Master</label>
        </span>
        <span class="bm--filter">
            <input type="checkbox" name="doctoral">
            <label for="doctoral">Doctoral</label>
        </span>
    </fieldset>
    <fieldset class="bm--filters">
        <legend>2. Areas of Study</legend>
        <span class="bm--filter">
            <input type="checkbox" name="bachelor">
            <label for="bachelor">Bachelor</label>
        </span>
        <span class="bm--filter">
            <input type="checkbox" name="minor">
            <label for="minor">Minor</label>
        </span>
        <span class="bm--filter">
            <input type="checkbox" name="certificate">
            <label for="certificate">Certificate</label>
        </span>
        <span class="bm--filter">
            <input type="checkbox" name="master">
            <label for="master">Master</label>
        </span>
        <span class="bm--filter">
            <input type="checkbox" name="doctoral">
            <label for="doctoral">Doctoral</label>
        </span>
    </fieldset>
</section>