<section class="bm--content-container">
    <article class="bm--content" data-layout="2up-half">
        <header class="bm--section-title" data-layout="">
    <h2>
        <span class="bm-subhead">Meet Our Faculty</span>
        Chemistry Faculty
    </h2>
  	<h3>Fast Facts</h3>
<ul>
<li>100% of full-time faculty are committed followers Christ</li>
<li>11:1 student/faculty ratio</li>
<li>95+% of faculty hold the highest degree in their field</li>
</ul>
<p>Our experienced faculty teach a full range of courses including general chemistry, analytical, inorganic, organic, physical chemistry and biochemistry.</p>
<p>&nbsp;</p>
    	<div class="bm--buttons">
            <a href="/academics/departments/chemistry/faculty/" class="bm--cta style-primary">See All Chemistry Faculty and Staff</a>
          </div>
  </header>
  <section class="bm-grid--faculty bm--fluid"><figure class="bm-card--faculty">
  <img src="https://pxl-wheatonedu.terminalfour.net/fit-in/300x450/filters:format(webp)/prod02/channel_1/media/faculty/Burden-Dan.jpg" srcset="https://pxl-wheatonedu.terminalfour.net/fit-in/400x600/filters:format(webp)/prod02/channel_1/media/faculty/Burden-Dan.jpg 400w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/600x900/filters:format(webp)/prod02/channel_1/media/faculty/Burden-Dan.jpg 600w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/920x1380/filters:format(webp)/prod02/channel_1/media/faculty/Burden-Dan.jpg 920w" width="200" height="300" style="aspect-ratio: 2/3; object-fit: cover;" alt="Dan Burden, Ph.D. Headshot">
<figcaption>
<h3><a href="/academics/faculty/dan-burden/">Dan Burden, Ph.D.</a></h3>
<span class="faculty--title">Professor, Analytical Chemistry</span>
</figcaption>
</figure><figure class="bm-card--faculty">
  <img src="https://pxl-wheatonedu.terminalfour.net/fit-in/300x450/filters:format(webp)/prod02/channel_1/media/faculty/Burden-Lisa-1.jpg" srcset="https://pxl-wheatonedu.terminalfour.net/fit-in/400x600/filters:format(webp)/prod02/channel_1/media/faculty/Burden-Lisa-1.jpg 400w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/600x900/filters:format(webp)/prod02/channel_1/media/faculty/Burden-Lisa-1.jpg 600w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/920x1380/filters:format(webp)/prod02/channel_1/media/faculty/Burden-Lisa-1.jpg 920w" width="200" height="300" style="aspect-ratio: 2/3; object-fit: cover;" alt="Lisa M. Burden, Ph.D. Headshot">
<figcaption>
<h3><a href="/academics/faculty/lisa-burden/">Lisa M. Burden, Ph.D.</a></h3>
<span class="faculty--title">Assistant Professor, Biochemistry</span>
</figcaption>
</figure><figure class="bm-card--faculty">
  <img src="https://pxl-wheatonedu.terminalfour.net/fit-in/300x450/filters:format(webp)/prod02/channel_1/media/faculty/Eggiman-Becky-200X300.jpg" srcset="https://pxl-wheatonedu.terminalfour.net/fit-in/400x600/filters:format(webp)/prod02/channel_1/media/faculty/Eggiman-Becky-200X300.jpg 400w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/600x900/filters:format(webp)/prod02/channel_1/media/faculty/Eggiman-Becky-200X300.jpg 600w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/920x1380/filters:format(webp)/prod02/channel_1/media/faculty/Eggiman-Becky-200X300.jpg 920w" width="200" height="300" style="aspect-ratio: 2/3; object-fit: cover;" alt="Becky Eggimann, Ph.D. Headshot">
<figcaption>
<h3><a href="/academics/faculty/becky-eggimann/">Becky Eggimann, Ph.D.</a></h3>
<span class="faculty--title">Dean of Natural Sciences, Associate Professor, Biochemistry</span>
</figcaption>
</figure><figure class="bm-card--faculty">
  <img src="https://pxl-wheatonedu.terminalfour.net/fit-in/300x450/filters:format(webp)/prod02/channel_1/media/faculty/Benjamin-Lovaasen-2021-200X300.jpg" srcset="https://pxl-wheatonedu.terminalfour.net/fit-in/400x600/filters:format(webp)/prod02/channel_1/media/faculty/Benjamin-Lovaasen-2021-200X300.jpg 400w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/600x900/filters:format(webp)/prod02/channel_1/media/faculty/Benjamin-Lovaasen-2021-200X300.jpg 600w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/920x1380/filters:format(webp)/prod02/channel_1/media/faculty/Benjamin-Lovaasen-2021-200X300.jpg 920w" width="200" height="300" style="aspect-ratio: 2/3; object-fit: cover;" alt="Benjamin Lovaasen, Ph.D. Headshot">
<figcaption>
<h3><a href="/academics/faculty/benjamin-lovaasen/">Benjamin Lovaasen, Ph.D.</a></h3>
<span class="faculty--title">Associate Professor, Inorganic Chemistry</span>
</figcaption>
</figure><figure class="bm-card--faculty">
  <img src="https://pxl-wheatonedu.terminalfour.net/fit-in/300x450/filters:format(webp)/prod02/channel_1/media/faculty/McKoy-Angela-200X300.jpg" srcset="https://pxl-wheatonedu.terminalfour.net/fit-in/400x600/filters:format(webp)/prod02/channel_1/media/faculty/McKoy-Angela-200X300.jpg 400w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/600x900/filters:format(webp)/prod02/channel_1/media/faculty/McKoy-Angela-200X300.jpg 600w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/920x1380/filters:format(webp)/prod02/channel_1/media/faculty/McKoy-Angela-200X300.jpg 920w" width="200" height="300" style="aspect-ratio: 2/3; object-fit: cover;" alt="Angela Fortner McKoy, Ph.D. Headshot">
<figcaption>
<h3><a href="/academics/faculty/angela-fortner-mckoy/">Angela Fortner McKoy, Ph.D.</a></h3>
<span class="faculty--title">Guest Assistant Professor, General Chemistry and Biochemistry</span>
</figcaption>
</figure><figure class="bm-card--faculty">
  <img src="https://pxl-wheatonedu.terminalfour.net/fit-in/300x450/filters:format(webp)/prod02/channel_1/media/faculty/Sikkenga-David-200X300.jpg" srcset="https://pxl-wheatonedu.terminalfour.net/fit-in/400x600/filters:format(webp)/prod02/channel_1/media/faculty/Sikkenga-David-200X300.jpg 400w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/600x900/filters:format(webp)/prod02/channel_1/media/faculty/Sikkenga-David-200X300.jpg 600w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/920x1380/filters:format(webp)/prod02/channel_1/media/faculty/Sikkenga-David-200X300.jpg 920w" width="200" height="300" style="aspect-ratio: 2/3; object-fit: cover;" alt="David Sikkenga, Ph.D. Headshot">
<figcaption>
<h3><a href="/academics/faculty/david-sikkenga/">David Sikkenga, Ph.D.</a></h3>
<span class="faculty--title">Guest Professor, Organic Chemistry</span>
</figcaption>
</figure><figure class="bm-card--faculty">
  <img src="https://pxl-wheatonedu.terminalfour.net/fit-in/300x450/filters:format(webp)/prod02/channel_1/media/faculty/Frances-Umesiri-T4-200X300.jpg" srcset="https://pxl-wheatonedu.terminalfour.net/fit-in/400x600/filters:format(webp)/prod02/channel_1/media/faculty/Frances-Umesiri-T4-200X300.jpg 400w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/600x900/filters:format(webp)/prod02/channel_1/media/faculty/Frances-Umesiri-T4-200X300.jpg 600w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/920x1380/filters:format(webp)/prod02/channel_1/media/faculty/Frances-Umesiri-T4-200X300.jpg 920w" width="200" height="300" style="aspect-ratio: 2/3; object-fit: cover;" alt="Francis Umesiri, Ph.D. Headshot">
<figcaption>
<h3><a href="/academics/faculty/francis-umesiri/">Francis Umesiri, Ph.D.</a></h3>
<span class="faculty--title">Associate Professor, Organic Chemistry</span>
</figcaption>
</figure><figure class="bm-card--faculty">
  <img src="https://pxl-wheatonedu.terminalfour.net/fit-in/300x450/filters:format(webp)/prod02/channel_1/media/faculty/Walhout-Peter-200X300.jpg" srcset="https://pxl-wheatonedu.terminalfour.net/fit-in/400x600/filters:format(webp)/prod02/channel_1/media/faculty/Walhout-Peter-200X300.jpg 400w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/600x900/filters:format(webp)/prod02/channel_1/media/faculty/Walhout-Peter-200X300.jpg 600w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/920x1380/filters:format(webp)/prod02/channel_1/media/faculty/Walhout-Peter-200X300.jpg 920w" width="200" height="300" style="aspect-ratio: 2/3; object-fit: cover;" alt="Peter Walhout, Ph.D. Headshot">
<figcaption>
<h3><a href="/academics/faculty/peter-walhout/">Peter Walhout, Ph.D.</a></h3>
<span class="faculty--title">Associate Professor, Physical Chemistry, Department Chair</span>
</figcaption>
</figure></section>
</article>
</section>