<article class="bm--stat-callout" data-count="3">
    <div class="bm-stat">
        <h3><span class="is-large">85+</span> Years of instruction</h3>
        <p>Founded in 1937, Wheaton's anthropology program is one of the first of its kind among Christian colleges.</p>
    </div>
    <div class="bm-stat">
        <h3><span class="is-large">10:1</span> Student-faculty-ratio</h3>
        <p>Small class sizes mean close faculty attention and deeper classroom conversations.</p>
    </div>
    <div class="bm-stat">
        <h3><span class="is-large">14,000</span> Artifacts</h3>
        <p>The Joseph P. Free Collection at Wheaton’s Archaeology Lab contains thousands of ancient items.</p>
    </div>
</article>