
<nav class="bm--section-nav" role="navigation" data-sectionnav>
    <h2>In this section</h2>
    <button aria-controls="section-menu2"  aria-expanded="false" class="bm--cta">In this section</button>
    <div id="section-menu2">
        <a href="#one">Types of Aid</a>
        <a href="#two">Tuition &amp; Fees</a>
        <a href="#three">Value</a>
        <a href="#four">Financial Aid Timeline</a>
        <a href="#five">Apply for Aid</a>
    </div>
</nav>