<table class="table">
<thead>
<tr><th style="text-align: center;" colspan="2" scope="col">Wheaton College 2022-2023 Costs&nbsp;</th></tr>
</thead>
<tbody>
<tr>
<td>Tuition</td>
<td style="text-align: right;">$41,990</td>
</tr>
<tr>
<td>Room</td>
<td style="text-align: right;">$7,100*</td>
</tr>
<tr>
<td>Board</td>
<td style="text-align: right;">$4,820✝</td>
</tr>
<tr>
<td>Health and Wellness Fee</td>
<td style="text-align: right;">$250</td>
</tr>
<tr>
<td><strong>Total Direct Cost ("Sticker Price"):</strong></td>
<td style="text-align: right;"><strong>$54,160</strong></td>
</tr>
<tr>
<td>Indirect Costs</td>
<td style="text-align: right;">$2,850</td>
</tr>
<tr>
<td><strong>Total Cost:</strong></td>
<td style="text-align: right;"><strong>$57,010</strong></td>
</tr>
<tr>
<td colspan="2"><strong></strong></td>
</tr>
<tr>
<td>&nbsp; &nbsp; &nbsp;Fee for First Year Passage</td>
<td style="text-align: right;">$895**</td>
</tr>
<tr>
<td>&nbsp; &nbsp; &nbsp;Fee for Abbreviated Transfer Passage</td>
<td style="text-align: right;">$495**</td>
</tr>
</tbody>
</table>