<section class="bm--text-image" data-image="left" data-size="normal">
    <figure>
      <img src="https://placehold.jp/384x587.png" />
    </figure>
    <article>
        <span class="subhead">Title subhead</span>
        <h2>The component title</h2>
    </article>
</section>
<section class="bm--text-image" data-image="right" data-size="normal">
    <figure>
      <img src="https://placehold.jp/384x587.png" />
    </figure>
    <article>
        <span class="subhead">Title subhead</span>
        <h2>The component title</h2>
    </article>
</section>
<section class="bm--text-image has-bg--light-blue" data-image="left" data-size="small">
    <figure>
      <img src="https://placehold.jp/450x450.png" />
    </figure>
    <article>
        <span class="subhead">Title subhead</span>
        <h2>The component title</h2>
    </article>
</section>