
<section class="bm--video-grid">
    <a href="https://www.youtube.com/watch?v=JjVBcU5eyzs" data-bm-modal class="bm--video-trigger" aria-haspopup title="Open Wheaton College Campus Tour video">
        <img src="https://i3.ytimg.com/vi/JjVBcU5eyzs/maxresdefault.jpg" alt="Wheaton College Campus Tour Video" />
    </a>
    <a href="https://www.youtube.com/watch?v=JjVBcU5eyzs" data-bm-modal class="bm--video-trigger" aria-haspopup title="Open Wheaton College Campus Tour video">
        <img src="https://i3.ytimg.com/vi/JjVBcU5eyzs/maxresdefault.jpg" alt="Wheaton College Campus Tour Video" />
    </a>
    <a href="https://www.youtube.com/watch?v=JjVBcU5eyzs" data-bm-modal class="bm--video-trigger" aria-haspopup title="Open Wheaton College Campus Tour video">
        <img src="https://i3.ytimg.com/vi/JjVBcU5eyzs/maxresdefault.jpg" alt="Wheaton College Campus Tour Video" />
    </a>
    <a href="https://www.youtube.com/watch?v=JjVBcU5eyzs" data-bm-modal class="bm--video-trigger" aria-haspopup title="Open Wheaton College Campus Tour video">
        <img src="https://i3.ytimg.com/vi/JjVBcU5eyzs/maxresdefault.jpg" alt="Wheaton College Campus Tour Video" />
    </a>
    <a href="https://www.youtube.com/watch?v=JjVBcU5eyzs" data-bm-modal class="bm--video-trigger" aria-haspopup title="Open Wheaton College Campus Tour video">
        <img src="https://i3.ytimg.com/vi/JjVBcU5eyzs/maxresdefault.jpg" alt="Wheaton College Campus Tour Video" />
    </a>
    <a href="https://www.youtube.com/watch?v=JjVBcU5eyzs" data-bm-modal class="bm--video-trigger" aria-haspopup title="Open Wheaton College Campus Tour video">
        <img src="https://i3.ytimg.com/vi/JjVBcU5eyzs/maxresdefault.jpg" alt="Wheaton College Campus Tour Video" />
    </a>
    <a href="https://www.youtube.com/watch?v=JjVBcU5eyzs" data-bm-modal class="bm--video-trigger" aria-haspopup title="Open Wheaton College Campus Tour video">
        <img src="https://i3.ytimg.com/vi/JjVBcU5eyzs/maxresdefault.jpg" alt="Wheaton College Campus Tour Video" />
    </a>
</section>

{% include "components/bm-modal.njk" %}

<pre>
    <section class="bm--video-grid">
        <a href="<t4 type="content" name="YouTube URL" output="normal" modifiers="striptags,htmlentities" />" data-bm-modal class="bm--video-trigger" aria-haspopup>
            <img src="<t4 type="content" name="Preview Image (360 x 240)" output="normal" formatter="path/cdn-2" />" alt="<t4 type="content" name="Caption" output="normal" modifiers="striptags,htmlentities" />" />
        </a>
    </section>
</pre>