
<section class="bm--video-grid">
    <figure>
        <a href="https://www.youtube.com/watch?v=JjVBcU5eyzs" data-bm-modal class="bm--video-trigger" aria-haspopup title="Open Wheaton College Campus Tour video">
            <img src="https://i3.ytimg.com/vi/JjVBcU5eyzs/maxresdefault.jpg" alt="Wheaton College Campus Tour Video" />
        </a>
        <figcaption><p>Wheaton College Campus Tour Video</p></figcaption>
    </figure>
    <figure>
        <a href="https://www.youtube.com/watch?v=JjVBcU5eyzs" data-bm-modal class="bm--video-trigger" aria-haspopup title="Open Wheaton College Campus Tour video">
            <img src="https://i3.ytimg.com/vi/JjVBcU5eyzs/maxresdefault.jpg" alt="Wheaton College Campus Tour Video" />
        </a>
        <figcaption><p>Wheaton College Campus Tour Video</p></figcaption>
    </figure>
    <figure>
        <a href="https://www.youtube.com/watch?v=JjVBcU5eyzs" data-bm-modal class="bm--video-trigger" aria-haspopup title="Open Wheaton College Campus Tour video">
            <img src="https://i3.ytimg.com/vi/JjVBcU5eyzs/maxresdefault.jpg" alt="Wheaton College Campus Tour Video" />
        </a>
        <figcaption><p>Wheaton College Campus Tour Video</p></figcaption>
    </figure>
    <figure>
        <a href="https://www.youtube.com/watch?v=JjVBcU5eyzs" data-bm-modal class="bm--video-trigger" aria-haspopup title="Open Wheaton College Campus Tour video">
            <img src="https://i3.ytimg.com/vi/JjVBcU5eyzs/maxresdefault.jpg" alt="Wheaton College Campus Tour Video" />
        </a>
        <figcaption><p>Wheaton College Campus Tour Video</p></figcaption>
    </figure>
    <figure>
        <a href="https://www.youtube.com/watch?v=JjVBcU5eyzs" data-bm-modal class="bm--video-trigger" aria-haspopup title="Open Wheaton College Campus Tour video">
            <img src="https://i3.ytimg.com/vi/JjVBcU5eyzs/maxresdefault.jpg" alt="Wheaton College Campus Tour Video" />
        </a>
        <figcaption><p>Wheaton College Campus Tour Video</p></figcaption>
    </figure>
    <figure>
        <a href="https://www.youtube.com/watch?v=JjVBcU5eyzs" data-bm-modal class="bm--video-trigger" aria-haspopup title="Open Wheaton College Campus Tour video">
            <img src="https://i3.ytimg.com/vi/JjVBcU5eyzs/maxresdefault.jpg" alt="Wheaton College Campus Tour Video" />
        </a>
        <figcaption><p>Wheaton College Campus Tour Video</p></figcaption>
    </figure>
    <figure>
        <a href="https://www.youtube.com/watch?v=JjVBcU5eyzs" data-bm-modal class="bm--video-trigger" aria-haspopup title="Open Wheaton College Campus Tour video">
            <img src="https://i3.ytimg.com/vi/JjVBcU5eyzs/maxresdefault.jpg" alt="Wheaton College Campus Tour Video" />
        </a>
        <figcaption><p>Wheaton College Campus Tour Video</p></figcaption>
    </figure>
    <figure>
        <a href="https://www.youtube.com/watch?v=JjVBcU5eyzs" data-bm-modal class="bm--video-trigger" aria-haspopup title="Open Wheaton College Campus Tour video">
            <img src="https://i3.ytimg.com/vi/JjVBcU5eyzs/maxresdefault.jpg" alt="Wheaton College Campus Tour Video" />
        </a>
        <figcaption><p>Wheaton College Campus Tour Video</p></figcaption>
    </figure>
    <figure>
        <a href="https://www.youtube.com/watch?v=JjVBcU5eyzs" data-bm-modal class="bm--video-trigger" aria-haspopup title="Open Wheaton College Campus Tour video">
            <img src="https://i3.ytimg.com/vi/JjVBcU5eyzs/maxresdefault.jpg" alt="Wheaton College Campus Tour Video" />
        </a>
        <figcaption><p>Wheaton College Campus Tour Video</p></figcaption>
    </figure>
    <figure>
        <a href="#" data-bm-modal class="bm--video-trigger" aria-haspopup title="Open Wheaton College Campus Tour video">
            <img src="https://i3.ytimg.com/vi/JjVBcU5eyzs/maxresdefault.jpg" alt="Wheaton College Campus Tour Video" />
        </a>
        <figcaption><p>Wheaton College Campus Tour Video</p></figcaption>
    </figure>

</section>