<header data-size="normal" class="main-header bravery">
    <a href="/" title="Wheaton College homepage" class="branding">{% include "components/svg/logo-main.njk" %}</a>
    <nav class="main-navigation">
        <a href="#" class="menu-link">Link 1</a>
        <a href="#" class="menu-link">Link 2</a>
        <a href="#" class="menu-link">Link 3</a>
        <button class="menu-more style-ghost" aria-expanded="false" tabindex="0" aria-label="Open the full menu" aria-controls=""><span class="label">More</span> {% include "components/svg/icon-menu.njk" %}</button>
    </nav>
    <section class="nav-actions">
        <a href="#" class="bm--cta style-primary">Apply</a>
        <a href="#" class="bm--cta style-secondary">Visit</a>
        <button class="search style-ghost" aria-expanded="false" tabindex="0"><span class="sr-only">Search</span>{% include "components/svg/icon-search.njk" %}</button>
    </section>
    {% include "components/overlay.njk" %}
</header>