<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patterns: Wheaton College, IL</title>
    <link rel="stylesheet" href="https://use.typekit.net/frw7phk.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/critical.css">
    <link rel="stylesheet" href="/assets/css/wheaton.css">
    <script src="/assets/js/wheaton.bundle.js"></script>
    <script src="/assets/js/program-finder-2023.bundle.js"></script>
</head>