<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patterns: Wheaton College, IL</title>
    <link rel="stylesheet" href="https://use.typekit.net/wgo3ewa.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/wheaton.css">
    <script src="/assets/js/wheaton.bundle.js" defer="defer"></script>
</head>