<section id="bm--full-menu" class="overlay-menu" data-state="hidden" data-feature="nav">
    <header class="full-search overlay-tools">
        <form class="funnelback-search" action="https://search.wheaton.edu/s/search.html" method="GET">
            <svg class="icon--search" viewBox="0 0 24 24"><title>search</title><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor"><circle cx="11" cy="11" r="8"></circle><path d="M21 21l-4.35-4.35"></path></g></svg>
            <input name="collection" type="hidden" value="wheaton-search">
            <label for="site-search" class="sr-only">Search</label>
            <input name="site-search" id="site-search" placeholder="Type and press return to search..." type="text" />
            <button class="search__button sr-only" type="submit">Search</button>
        </form>
        <button class="close-menu style-ghost invert" tabindex="0"><span class="sr-only">Close</span>{% include "components/svg/icon-x.njk" %}</button>
        <div class="bm--results-container"></div>
    </header>
    <nav class="bm--menu-links" aria-label="Full Site Menu">
        <ul>
            <li class="has-submenu"><a href="/academics/" aria-expanded="false">Academics</a>
                <ul >
                    <li><a href="/academics/programs/">Undergraduate Majors</a></li>
                    <li><a href="/graduate-school/">Graduate School</a></li>
                    <li><a href="/wheaton-college-conservatory-of-music/">Conservatory of Music</a></li>
                    <li><a href="/academics/global-programs-and-studies/">Global Programs and Studies</a></li>
                    <li><a href="/academics/the-liberal-arts-at-wheaton-college/christ-at-the-core-liberal-arts-at-wheaton/">Liberal Arts: Christ at the Core</a></li>
                    <li><a href="/academics/library-and-archives/">Library and Archives</a></li>
                    <li><a href="/academics/faculty/">Faculty Listing</a></li>
                    <li><a href="/academics/services/">Academic Services</a></li>
                    <li><a href="/academics/academic-calendar/">Academic Calendar</a></li>
                    <li><a href="/academics/course-catalog/">Course Catalog</a></li>
                </ul>
            </li>
            <li>Cost &amp; Aid</li>
            <li>Admissions</li>
            <li>Life at Wheaton</li>
            <li>About Wheaton</li>
            <li>Centers &amp; Institutes
                <ul class="subnav__item--4" aria-hidden="true">
                    <li><a href="https://www.billygrahamcenter.org">Wheaton College Billy Graham Center</a></li>
                    <li><a href="/academics/academic-centers/center-for-applied-christian-ethics/">Center for Applied Christian Ethics</a></li>
                    <li><a href="/academics/academic-centers/center-for-urban-engagement/">Center for Urban Engagement</a></li>
                    <li><a href="/academics/academic-centers/human-needs-and-global-resources-hngr/">Human Needs &amp; Global Resources</a></li>
                    <li><a href="/academics/academic-centers/humanitarian-disaster-institute/">Humanitarian Disaster Institute</a></li>
                    <li><a href="/academics/academic-centers/wadecenter/">Marion E. Wade Center</a></li>
                    <li><a href="/honeyrock/">Center for Leadership Development at HoneyRock</a></li>
                    <li><a href="/academics/school-of-biblical-and-theological-studies/the-wheaton-center-for-early-christian-studies/">The Wheaton Center for Early Christian Studies</a></li>
                    <li><a href="/wheaton-center-for-faith-and-disability/">Wheaton Center for Faith and Disability</a></li>
                    <li><a href="/academics/academic-centers/wheaton-center-for-faith-and-innovation/">Wheaton Center for Faith &amp; Innovation</a></li>
                    <li><a href="/academics/academic-centers/wheaton-center-for-faith-politics-and-economics/">Wheaton Center for Faith, Politics, and Economics</a></li>
                </ul>
            </li>
        </ul>
    </nav>

</section>