<header data-size="normal" class="main-header slate-header">
    <a href="/" title="Wheaton College homepage" class="branding">{% include "components/svg/logo-main.njk" %}</a>
    <nav class="main-navigation">
        <a href="#" class="menu-link">Link 1</a>
        <a href="#" class="menu-link">Link 2</a>
        <a href="#" class="menu-link">Link 3</a>
    </nav>
    <section class="nav-actions">
        <a href="#" class="cta">Start Application</a>
    </section>
</header>