<footer class="main-footer slate-footer">
    <a href="/" aria-label="Wheaton College - For Christ &amp; His Kingdom" class="inverse-logo">{% include "components/svg/logo-inverted.njk" %}</a>
    <section class="legal">
        <p class="copyright">&copy; 2022 Wheaton College</p>
        <nav>
            <ul>
                <li><a href="#">Disclosures and Privacy Policy</a></li>
                <li><a href="#">Emergency Information</a></li>
                <li><a href="#">IBHE</a></li>
            </ul>
        </nav>
    </section>
</footer>