<section class="bm--section-3card">
    {% include "components/bm-section-header.njk" %}
    {% include "components/bm-card-image-top.njk" %}
    {% include "components/bm-card-image-top.njk" %}
    {% include "components/bm-card-image-top.njk" %}
</section>