<section class="bm--content-container has-jump-menu">
    {% include "components/bm-jump-menu.njk"%}
    <article class="bm--content">
        {% include "components/bm-copy-2col.njk" %}
        {% include "components/bm-content-block.njk" %}
        {% include "components/bm-collapsible.njk" %}
        {% include "components/bm-collapsible.njk" %}
    </article>
</section>