<section class="bm--rfi" id="inquiry">
    <article class="bm--rfi-form">
        <h2>Connect with Admissions</h2>
        <p>You can reach us anytime via <a href="mailto:admission@wheaton.edu">admission@wheaton.edu</a></p>
        {% include "components/bm-slate-rfi-ug.njk" %}
    </article>
    <picture class="bm--cover">
        <source srcset="https://placehold.jp/900x900.png 1024px">
        <img src="https://placehold.jp/375x480.png" alt="mobile placeholder" />
    </picture>
</section>