<section class="bm--content-container has-bg--white">
    <article class="bm--content">
        <h2>How do I apply for financial aid at Wheaton College?</h2>
        {% include "components/bm-general-content.njk" %}
        {% include "components/bm-tables.njk" %}
    </article>
</section>