<section class="bm--section-3card has-bg--white" data-layout="3up">
    {% include "components/bm-section-header.njk" %}
    {% include "components/bm-card-image-top.njk" %}
    {% include "components/bm-card-image-top.njk" %}
    {% include "components/bm-card-image-top.njk" %}
</section>