<section class="bm--content-container">
    <article class="bm--content">
        {% include "components/bm-copy-2col.njk" %}
        {% include "components/bm-content-block.njk" %}
        {% include "components/bm-collapsible.njk" %}
        {% include "components/bm-collapsible.njk" %}
    </article>
</section>