<section class="bm--section-program-features">
    {% include "components/bm-nutrition.njk" %}
    {% include "components/bm-nutrition.njk" %}
    {% include "components/bm-nutrition.njk" %}
    {% include "components/bm-nutrition.njk" %}
</section>