<header class="bm--program-header has-bg--white">
    <h1>
        <span class="bm-subhead">See how other people see the world</span>
        Anthropology
    </h1>
    {% include "components/bm-general-content.njk" %}
    {% include "components/bm-action-menu.njk" %}
</header>