<header class="bm--page-title bm--news-header">
    <h1>
        Newsroom
    </h1>
    <aside class="bm--actions">
        <ul>
            <li><a href="/" class="bm--action-link has-arrow">Contact Wheaton College</a></li>
        </ul>
    </aside>
</header>