:root {
  --wc-font-family--serif: "arno-pro-display", serif;
  --wc-font-family--sans-serif: "futura-pt", sans-serif;
  --wc-font-family--display: var(--wc-font-family--serif);
  --type-size--super: clamp(2.75rem, calc(2.30rem + 7.26vw), 9.38rem);
  --type-size--xxl: clamp( 2.75rem, calc(1rem + 7.26vw), 4.5rem);
  --type-size--xl-fluid: clamp(2.55rem, calc(-0.25rem + 4.39vw), 4.50rem);
  --type-size--xl: 2.75rem;
  --type-size--large: 1.875rem;
  --type-size--medium: 1.5rem;
  --type-size--base: 1.125rem;
  --type-size--regular: var(--type-size--base);
  --type-size--small: 1rem;
  --type-size--xsmall: 0.875rem;
  --type-size--tiny: 0.75rem;
  --wc-line-height: 1.5;
  --type-size--display-2xl: 4.5rem;
  --type-size--display-xl: 3.75rem;
  --type-size--display-lg: 3rem;
  --type-size--display-md: 2.25rem;
  --type-size--display-sm: 1.875rem;
  --type-size--display-xs: 1.5rem;
  --type-size--text-xl: 1.25rem;
  --type-size--text-lg: 1.125rem;
  --type-size--text-md: 1rem;
  --type-size--text-regular: 1rem;
  --type-size--text-sm: 0.875rem;
  --type-size--text-xs: 0.75rem;
  --color--blue-900: #0B1F3A;
  --color--blue-800: #0F2A50;
  --color--blue-600: #114F8F;
  --color--blue-dark: #133666;
  --color--blue-700: #133666;
  --color--blue-300: #A8D7FF;
  --color--blue-250: #ACC9EA;
  --color--cyan-500: #1C9AD6;
  --color--cyan-25: #F2FBFF;
  --color--white: #fff;
  --color--cream: #FCFAF5;
  --color--orange-600: #D57435;
  --color--orange-700: #A84C11;
  --color--grey-50: #F9FAFB;
  --color--grey-100: #F2F4F7;
  --color--grey-300: #D0D5DD;
  --color--grey-400: #A1A8B3;
  --color--grey-600: #525B67;
  --color--grey-700: #434A54;
  --color--grey-900: #141A28;
  --gradient--blue-primary: linear-gradient(45deg, var(--color--blue-800) 0%, var(--color--blue-600) 100%);
  --elevation--large: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  --elevation--large-invert: 4px 12px 16px 0 rgba(16, 24, 40, 0.08), 2px 4px 6px 0px rgba(16, 24, 40, 0.03);
  --space--grid-unit: 8px;
  --space--gap-regular: 8px;
  --space--gap-medium: calc(var(--space--grid-unit) * 2);
  --space--gap-large: calc(var(--space--grid-unit) * 3);
  --space--gap-xl: calc(var(--space--grid-unit) * 4);
  --space--gap-xxl: calc(var(--space--grid-unit) * 5);
  --space--gap-3xl: calc(var(--space--grid-unit) * 6);
  --max-1280: calc( (100vw - 1280px) * 0.5);
  --max-1480: calc( (100vw - 1480px) * -0.5);
  --full-bleed: calc( (100vw - 1280px) * -0.5);
  --corner--radius: calc(var(--space--grid-unit) / 2);
  --bm--primary-font: var(--font--serif);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: var(--type-size--base);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

hr {
  border: none;
  display: block;
  height: 1px;
  width: 100%;
  background-color: var(--color--grey-100);
  transition: all 0.15s ease-in-out;
}

.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.has-bg--white {
  background: var(--color--white);
}

.has-bg--cream {
  background: var(--color--cream);
}

.has-bg--light-blue {
  background: var(--color--cyan-25);
}

.has-bg--blue {
  background-color: var(--color--blue-600);
  color: var(--color--white);
}

.has-bg--blue-gradient {
  background: var(--gradient--blue-primary);
  color: var(--color--white);
}

.has-bg--blue.has-watermark {
  background-blend-mode: multiply;
  background-position: 100% center;
  background-repeat: no-repeat;
  background-size: 80% 80%;
  color: var(--color--white);
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

h1,
.type--xxl {
  font-size: var(--type-size--xxl);
  line-height: 1;
}

h2,
.type--xl {
  font-size: var(--type-size--xl);
  line-height: 1.1;
}

h3,
.type--lg {
  font-size: var(--type-size--large);
  line-height: 1.13;
}

h4,
.type--md {
  font-size: var(--type-size--medium);
  line-height: 1.165;
}

h4,
.type--regular {
  font-size: var(--type-size--regular);
  line-height: 1.23;
}

.type--small {
  font-size: var(--type-size--small);
  line-height: 1.2;
  font-weight: 500;
  color: var(--color--grey-700);
}

.type--xs {
  font-size: var(--type-size--xsmall);
  line-height: 1.2;
}

.type--tiny {
  font-size: var(--type-size--tiny);
  line-height: 1.2;
}

body {
  line-height: var(--wc-line-height);
  font-family: var(--wc-font-family--sans-serif);
  overflow-x: hidden;
  color: var(--color--grey-600);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--wc-font-family--display);
  margin-bottom: 1rem;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1.05;
}

h1, h2, h3 {
  color: var(--color--blue-700);
}

h1,
.h1,
.type-xxl {
  font-size: var(--type-size--xxl);
  font-weight: normal;
  line-height: 1;
}

h2,
.h2,
.type-large {
  font-size: var(--type-size--xl);
  font-weight: normal;
}

h3,
.h3 {
  font-size: var(--type-size--large);
}

h4,
.h4 {
  color: var(--color--blue-700);
  font-family: var(--wc-font-family--san-serif);
  font-weight: 500;
  font-size: var(--wc-font-size--text-md);
}

a {
  color: var(--color--blue-600);
}
a:not([class]) {
  text-decoration: underline;
}
a:not([class]):hover {
  text-decoration: none;
}
a.has-arrow, .has-arrow a {
  display: inline-flex;
  align-items: center;
  gap: var(--space--grid-unit);
}
a.has-arrow:after, .has-arrow a:after {
  content: "";
  background-color: var(--color--orange-600);
  mask: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.52851 3.52729C5.78886 3.26694 6.21097 3.26694 6.47132 3.52729L10.4713 7.52729C10.7317 7.78764 10.7317 8.20975 10.4713 8.4701L6.47132 12.4701C6.21097 12.7305 5.78886 12.7305 5.52851 12.4701C5.26816 12.2098 5.26816 11.7876 5.52851 11.5273L9.05711 7.9987L5.52851 4.4701C5.26816 4.20975 5.26816 3.78764 5.52851 3.52729Z' fill='currentColor'/%3E%3C/svg%3E%0A");
  -webkit-mask: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.52851 3.52729C5.78886 3.26694 6.21097 3.26694 6.47132 3.52729L10.4713 7.52729C10.7317 7.78764 10.7317 8.20975 10.4713 8.4701L6.47132 12.4701C6.21097 12.7305 5.78886 12.7305 5.52851 12.4701C5.26816 12.2098 5.26816 11.7876 5.52851 11.5273L9.05711 7.9987L5.52851 4.4701C5.26816 4.20975 5.26816 3.78764 5.52851 3.52729Z' fill='currentColor'/%3E%3C/svg%3E%0A");
  display: block;
  width: 16px;
  height: 16px;
  transition: all 0.15s ease-in-out;
  position: relative;
}
a.has-arrow:hover:after, .has-arrow a:hover:after {
  transform: translateX(-2px);
}

ul,
ol {
  padding-left: 2.5rem;
  font-size: var(--wc-font-size--text-regular);
}
ul.bm--bullets-check,
ol.bm--bullets-check {
  padding-left: 20px;
}
ul.bm--bullets-check li,
ol.bm--bullets-check li {
  text-indent: 8px;
  line-height: 24px;
  font-size: var(--type-size--regular);
  list-style-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='20' height='20' rx='10' fill='%23DCEFFF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.2471 6.15838L8.28042 11.9167L6.69709 10.2251C6.40542 9.95005 5.94709 9.93338 5.61375 10.1667C5.28875 10.4084 5.19709 10.8334 5.39709 11.1751L7.27209 14.2251C7.45542 14.5084 7.77209 14.6834 8.13042 14.6834C8.47209 14.6834 8.79709 14.5084 8.98042 14.2251C9.28042 13.8334 15.0054 7.00838 15.0054 7.00838C15.7554 6.24172 14.8471 5.56672 14.2471 6.15005V6.15838Z' fill='%233D68A2'/%3E%3C/svg%3E%0A");
}

li {
  margin-bottom: 0.75rem;
  font-size: var(--wc-font-size--text-regular);
  font-weight: normal;
}

p {
  margin-bottom: 2rem;
  font-size: var(--wc-font-size--text-lg);
}

.bm-subhead {
  font-family: var(--wc-font-family--sans-serif) !important;
  font-size: var(--type-size--medium);
  letter-spacing: initial;
  display: block;
  color: var(--color--grey-600);
  margin-bottom: var(--space--gap-medium);
}

.layout-program h1 {
  font-size: var(--type-size--super);
}

button.form_button_submit,
.bravery button,
.bravery .button,
.bravery .bm--cta,
.bravery .cta,
.bm--cta {
  appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px 18px;
  gap: var(--space--gap-regular);
  font-family: var(--wc-font-family--sans-serif);
  font-size: var(--type-size--small);
  background-color: var(--color--white);
  border: 1px solid var(--color--grey-300);
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 4px;
  color: var(--color--blue-600);
  transition: all 200ms linear;
}
button.form_button_submit > svg,
.bravery button > svg,
.bravery .button > svg,
.bravery .bm--cta > svg,
.bravery .cta > svg,
.bm--cta > svg {
  width: 24px;
  height: 24px;
}
button.form_button_submit:hover,
.bravery button:hover,
.bravery .button:hover,
.bravery .bm--cta:hover,
.bravery .cta:hover,
.bm--cta:hover {
  background: var(--color--grey-50);
  border-color: var(--color--grey-400);
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
button.form_button_submit:focus,
.bravery button:focus,
.bravery .button:focus,
.bravery .bm--cta:focus,
.bravery .cta:focus,
.bm--cta:focus {
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #F2F4F7;
}

.style-ghost {
  border: 0;
  box-shadow: none !important;
  padding-left: var(--space--grid-unit);
  padding-right: var(--space--grid-unit);
}
.style-ghost.invert {
  background-color: transparent;
  color: inherit;
}

.style-bold,
.style-primary {
  background: var(--color--blue-600) !important;
  color: var(--color--white) !important;
}
.style-bold:hover,
.style-primary:hover {
  background-color: var(--color--blue-700) !important;
}

.style-secondary {
  background-color: var(--color--white);
}

.style-loud {
  background-color: var(--color--orange-600);
  color: var(--color--white);
}
.style-loud:hover {
  background-color: var(--color--orange-700);
}

.bm--callout .style-bold,
.bm--callout .style-primary {
  background: var(--color--white);
  color: var(--color--blue-600);
}
.bm--callout .style-bold:hover,
.bm--callout .style-primary:hover {
  background-color: var(--color--cyan-500);
  color: var(--color--white);
}
.bm--callout .style-outline {
  border-color: var(--color--white);
  background-color: var(--color--blue-600);
  color: var(--color--white);
}
.bm--callout .style-outline:hover {
  background-color: var(--color--white);
  color: var(--color--blue-600);
}

.menu-more .label {
  display: none;
}

a.button,
a.bm--cta,
a.cta {
  text-decoration: none;
}

@media (min-width: 1024px) {
  .menu-more .label {
    display: inline;
    font-size: var(--type-size--medium);
  }
  button > svg,
  .button > svg,
  .bm--cta .cta > svg {
    height: 20px;
    width: 20px;
  }
}
.bm--giving {
  position: absolute;
  left: 1.5vw;
  transform: translateY(-5px);
  font-weight: 600;
}

.bm--buttons {
  display: flex;
  align-items: flex-start;
  gap: var(--space--gap-medium);
}

.bm--cta-link {
  font-weight: 500;
  display: inline-flex;
  gap: 8px;
  color: var(--color--blue-600);
  text-underline-offset: 5px;
  align-items: center;
}
.bm--cta-link:after {
  content: "";
  background-color: currentColor;
  mask: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.41079 3.57611C9.73622 3.25067 10.2639 3.25067 10.5893 3.57611L16.4226 9.40944C16.7481 9.73488 16.7481 10.2625 16.4226 10.588L10.5893 16.4213C10.2639 16.7467 9.73622 16.7467 9.41079 16.4213C9.08535 16.0958 9.08535 15.5682 9.41079 15.2428L13.8215 10.832H4.16671C3.70647 10.832 3.33337 10.4589 3.33337 9.9987C3.33337 9.53846 3.70647 9.16536 4.16671 9.16536H13.8215L9.41079 4.75462C9.08535 4.42918 9.08535 3.90155 9.41079 3.57611Z' fill='currentColor'/%3E%3C/svg%3E%0A");
  display: block;
  width: 20px;
  height: 20px;
  transition: all 0.15s ease-in-out;
  position: relative;
}
.bm--cta-link:hover:after {
  transform: translateX(-2px);
}

.bm--buttons {
  display: flex;
  gap: var(--space--gap-large);
  justify-content: flex-start;
}

label,
.form_label {
  font-size: var(--type-size--xsmall) !important;
  color: var(--color--grey-700);
  font-weight: 500;
}

input[type=text],
input[type=email],
input[type=tel],
select {
  background-color: var(--color--white);
  border: 1px solid var(--color--grey-300);
  border-radius: var(--corner--radius);
  font-size: var(--type-size--small);
  padding: 7px 14px !important;
  font-family: var(--wc-font-family--sans-serif);
}
input[type=text]:hover,
input[type=email]:hover,
input[type=tel]:hover,
select:hover {
  border-color: var(--color--grey-700);
}
input[type=text]:focus, input[type=text]:active,
input[type=email]:focus,
input[type=email]:active,
input[type=tel]:focus,
input[type=tel]:active,
select:focus,
select:active {
  border-color: var(--color--blue-600);
  outline-offset: 2px;
  outline-color: var(--color--blue-600);
}

.form_action button.form_button_submit {
  background-color: var(--color--grey-600);
  color: var(--color--white);
  box-shadow: unset;
  border: 0;
  width: 100%;
}
.form_action button.form_button_submit:hover {
  background-color: var(--color--blue-600);
}

.form_responses input:not([type=checkbox]),
.form_responses button,
.form_responses select {
  width: 100%;
}

@media (min-width: 1024px) {
  .form_page_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    gap: var(--space--grid-unit);
  }
  .form_page_1 > div {
    grid-column: 1/span 2;
  }
  .form_page_1 > div[data-export="sys:first"] {
    grid-column: 1;
  }
  .form_page_1 > div[data-export="sys:last"] {
    grid-column: 2;
  }
}
.form_birthdate .form_responses {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--space--grid-unit);
}

.bravery input#query {
  color: var(--color--white);
}

table {
  width: 100%;
  border-collapse: collapse;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: var(--color--grey-100);
}

td, th {
  padding: 6px;
  border: 1px solid var(--color--grey-300);
  text-align: left;
}

th {
  background: var(--color--blue-600);
  color: var(--color--white);
  font-weight: bold;
  border-color: var(--color--blue-600);
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    border: 1px solid #ccc;
  }
  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
}
.bm--icon {
  display: block;
  margin-bottom: var(--space--gap-large);
  background-repeat: no-repeat;
  width: 40px !important;
  height: 40px;
  background-color: #E3F2F7;
  border: 6px solid #F2FBFF;
  border-radius: 50%;
  background-size: 20px 20px;
  background-position: center center;
}

.icon--heart {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg stroke-linejoin='round' stroke-linecap='round' stroke-width='2' fill='none' stroke='%230F3C7D'%3E%3Cpath d='M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.icon--growth {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg stroke-linejoin='round' stroke-linecap='round' stroke-width='2' fill='none' stroke='%230F3C7D'%3E%3Cpath d='M23 6l-9.5 9.5-5-5L1 18'%3E%3C/path%3E%3Cpath d='M17 6h6v6'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.icon--target {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg stroke-linejoin='round' stroke-linecap='round' stroke-width='2' fill='none' stroke='%230F3C7D'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Ccircle cx='12' cy='12' r='6'%3E%3C/circle%3E%3Ccircle cx='12' cy='12' r='2'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
}

.icon--star {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg stroke-linejoin='round' stroke-linecap='round' stroke-width='2' fill='none' stroke='%230F3C7D'%3E%3Cpath d='M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.icon--info {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg stroke-linejoin='round' stroke-linecap='round' stroke-width='2' fill='none' stroke='%230F3C7D'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cpath d='M12 16v-4'%3E%3C/path%3E%3Cpath d='M12 8h.01'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.icon--book {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg stroke-linejoin='round' stroke-linecap='round' stroke-width='2' fill='none' stroke='%230F3C7D'%3E%3Cpath d='M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z'%3E%3C/path%3E%3Cpath d='M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.icon--globe {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg stroke-linejoin='round' stroke-linecap='round' stroke-width='2' fill='none' stroke='%230F3C7D'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cpath d='M2 12h20'%3E%3C/path%3E%3Cpath d='M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.icon--lightbulb {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg stroke-linecap='square' stroke-linejoin='miter' stroke-width='2' fill='none' stroke='%230F3C7D' stroke-miterlimit='10'%3E%3Cpath d='M20,9c0-4.418-3.582-8-8-8 S4,4.582,4,9c0,3.357,2.069,6.226,5,7.413V19h6v-2.587C17.931,15.226,20,12.357,20,9z'%3E%3C/path%3E %3Cpolyline points='15,19 15,23 9,23 9,19 '%3E%3C/polyline%3E %3Cpath d='M8,9 c0-2.209,1.791-4,4-4' stroke='%230F3C7D'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.main-header.bravery {
  background-color: var(--color--white);
  width: 100%;
  padding: var(--space--gap-medium);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
  gap: var(--space--gap-medium);
  position: sticky;
  top: 0;
  z-index: 10;
}
.main-header.bravery .branding svg {
  height: 45px;
  width: auto;
}
@media (min-width: 1024px) {
  .main-header.bravery {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 0 var(--space--gap-large);
  }
  .main-header.bravery .branding svg {
    height: 72px;
  }
}
@media (min-width: 1300px) {
  .main-header.bravery {
    padding: 0 var(--space--gap-xl);
  }
}
.main-header.bravery,
.main-header.bravery .overlay-tools {
  width: 100%;
  height: 72px;
  color: var(--color--white);
}
@media (min-width: 1024px) {
  .main-header.bravery,
  .main-header.bravery .overlay-tools {
    height: 144px;
    border-top: 4px solid var(--color--blue-600);
  }
}

.overlay-tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space--gap-medium);
}
@media (min-width: 1024px) {
  .overlay-tools {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.main-header.style-graduate.bravery {
  background-color: var(--color--blue-900);
}
.main-header.style-graduate.bravery .branding svg {
  height: 55px;
  width: auto;
}
@media (min-width: 1024px) {
  .main-header.style-graduate.bravery {
    border-color: var(--color--cyan-500);
  }
  .main-header.style-graduate.bravery .branding svg {
    height: 85px;
    width: auto;
  }
}
@media (min-width: 1300px) {
  .main-header.style-graduate.bravery .branding svg {
    height: 95px;
    width: auto;
  }
}

.nav-actions,
.main-navigation {
  display: flex;
  align-items: center;
  gap: var(--space--gap-medium);
}

.main-navigation {
  order: 3;
  gap: var(--space--gap-large);
  font-family: var(--wc-font-family--serif);
}
@media (min-width: 1024px) {
  .main-navigation {
    order: 2;
    flex: 1 auto;
    justify-content: center;
  }
}
.style-graduate .main-navigation {
  font-family: var(--wc-font-family--sans-serif-alt-bold);
}

.main-navigation > a {
  display: none;
}

.main-navigation > a,
.bravery button.menu-more,
.bravery button.search {
  background-color: transparent;
  padding: 10px 0;
  color: var(--color--blue-600);
  text-decoration: none;
  border: 2px solid transparent;
  font-size: var(--type-size--xsmall);
  border-radius: 0;
  font-family: inherit;
}
.main-navigation > a:hover,
.bravery button.menu-more:hover,
.bravery button.search:hover {
  background: transparent;
  border-bottom-color: var(--color--orange-600);
  transition: all 200ms linear;
}
@media (min-width: 1024px) {
  .main-navigation > a,
  .bravery button.menu-more,
  .bravery button.search {
    display: flex;
    font-size: var(--type-size--medium);
  }
}
.style-graduate .main-navigation > a,
.style-graduate .bravery button.menu-more,
.style-graduate .bravery button.search {
  font-family: var(--wc-font-family--sans-serif-alt-bold);
  color: inherit;
}

.bravery.style-graduate button.menu-more,
.bravery.style-graduate button.search {
  color: inherit !important;
}

.nav-actions:is(.slate-nav),
.main-header:not(.slate-nav).main-navigation .menu-link {
  display: none;
}
@media (min-width: 1024px) {
  .nav-actions:is(.slate-nav),
  .main-header:not(.slate-nav).main-navigation .menu-link {
    display: inline-flex;
  }
}

.nav-actions {
  order: 2;
  flex: 1 auto;
  justify-content: flex-end;
}
.nav-actions > .search,
.nav-actions > .cta--visit {
  display: none;
}
@media (min-width: 1024px) {
  .nav-actions {
    order: 3;
    display: flex;
    flex: 0 1 auto;
  }
  .nav-actions > .search,
  .nav-actions > .cta--visit {
    display: flex;
  }
}

.overlay-menu {
  background-color: var(--color--blue-600);
  color: var(--color--white);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  transition: all 200ms ease-in-out;
  overflow: auto;
}
.overlay-menu * {
  color: var(--color--white);
}
.overlay-menu a {
  color: inherit;
}
.overlay-menu a.menu-link {
  padding: var(--space--gap-regular) 0;
  text-decoration: none;
  font-size: var(--type-size--xl);
}
@media (min-width: 1024px) {
  .overlay-menu a.menu-link {
    font-size: var(--type-size--super);
  }
}
.overlay-menu a.menu-link:hover {
  border-color: currentColor;
}
.overlay-menu li {
  list-style: none;
}
@media (min-width: 1024px) {
  .overlay-menu {
    gap: 0 var(--space--gap-large);
    padding: 0 calc(var(--space--grid-unit) * 7);
    display: grid;
    align-items: start;
    grid-template-areas: "overlaytools overlaytools" "mainlinks    utilmenu";
    grid-template-columns: 10fr 2fr;
    grid-template-rows: 144px calc(100vh - 200px);
  }
}

.overlay-tools {
  background-color: var(--color--blue-600);
  display: grid;
  grid-template-columns: calc(100% - 40px) 40px;
  gap: 0 var(--space--gap-regular);
  grid-area: overlaytools;
  width: 100%;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 5;
}
.overlay-tools form {
  grid-row: 1;
  display: flex;
  align-items: center;
  color: var(--color--white);
  padding: var(--space--gap-regular) var(--space--gap-medium);
  position: relative;
}
.overlay-tools form:before {
  background-color: var(--color--blue-dark);
  border-radius: 12px;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.overlay-tools form *::placeholder {
  color: var(--color--blue-250);
}
@media (min-width: 1024px) {
  .overlay-tools form {
    padding: var(--space--gap-medium) var(--space--gap-large);
  }
}
.overlay-tools .close-menu {
  grid-row: 1;
  padding: 10px 5px;
  border: 0;
}
.overlay-tools .close-menu:hover {
  background-color: var(--color--blue-700);
}
.overlay-tools input {
  appearance: none;
  background: transparent;
  width: 100%;
  border: 0;
}
.overlay-tools .bm--results-container {
  grid-row: 2;
  grid-column: 1/span 2;
}
@media (min-width: 1024px) {
  .overlay-tools {
    align-content: center;
    position: relative;
    top: auto;
  }
}

.icon--search {
  height: 24px;
  width: 24px;
}

.bravery .bm--menu-links {
  padding: var(--space--gap-large) var(--space--gap-regular);
}
.bravery .bm--menu-links h2 {
  margin-bottom: 0;
}
.bravery .bm--menu-links h2 > button {
  appearance: none;
  background-color: transparent;
  border: 0;
  padding: 0 var(--space--gap-regular);
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  text-align: left;
}
.bravery .bm--menu-links h2 > button svg {
  transform: rotate();
  transition: all 200ms ease-in-out;
}
.bravery .bm--menu-links button:hover,
.bravery .bm--menu-links button[aria-expanded=true] {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}
.bravery .bm--menu-links button:hover svg,
.bravery .bm--menu-links button[aria-expanded=true] svg {
  transform: rotate(-45deg);
}
.bravery .bm--menu-links ul {
  font-size: var(--type-size--regular);
  font-family: var(--wc-font-family--sans-serif);
  margin-top: 1rem;
}
.bravery .bm--menu-links ul a {
  text-decoration: none;
}
.bravery .bm--menu-links ul a:hover {
  text-decoration: underline;
}
.bravery .bm--menu-links .accordion-panel {
  height: 0;
  visibility: hidden;
  transition: all 200ms ease-in-out;
}
.bravery .bm--menu-links .accordion-panel.visible {
  display: block;
  height: auto;
  visibility: visible;
}
.bravery .bm--menu-links button[aria-expanded=true] + ul {
  height: auto;
  visibility: visible;
}
@media (min-width: 1024px) {
  .bravery .bm--menu-links {
    border-right: 1px solid var(--color--blue-800);
    display: grid;
    gap: var(--space--gap-medium) var(--space--gap-large);
    grid-template-columns: 3fr 4fr;
    align-items: start;
    padding-top: 0;
    padding-bottom: 0;
  }
  .bravery .bm--menu-links button {
    cursor: auto;
  }
  .bravery .bm--menu-links button:hover,
  .bravery .bm--menu-links button[aria-expanded=true] {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 16px;
  }
  .bravery .bm--menu-links button:hover svg,
  .bravery .bm--menu-links button[aria-expanded=true] svg {
    transform: rotate(-45deg);
  }
  .bravery .bm--menu-links h2 {
    font-size: var(--type-size--xl-fluid);
    grid-column: 1;
    grid-auto-flow: row;
  }
  .bravery .bm--menu-links h2 svg {
    display: none;
  }
  .bravery .bm--menu-links h2 > button {
    justify-content: start;
    white-space: ellipsis;
  }
  .bravery .bm--menu-links .accordion-panel {
    grid-column: 2;
    grid-row: 1/span 6;
  }
  .bravery .bm--menu-links .accordion-panel {
    height: auto;
    visibility: hidden;
    opacity: 0;
    transition: all 200ms ease-in-out;
  }
  .bravery .bm--menu-links .accordion-panel.visible {
    height: auto;
    opacity: 1;
    visibility: visible;
  }
}
@media (min-width: 1400px) {
  .bravery .bm--menu-links ul {
    font-size: var(--type-size--medium);
  }
  .bravery .bm--menu-links ul a {
    text-decoration: none;
  }
}
@media (max-height: 900px) and (min-width: 1024px) and (max-width: 1440px) {
  .bravery .bm--menu-links {
    padding-top: 0;
    gap: 0 var(--space--gap-large);
    grid-auto-rows: minmax(auto, 80px);
  }
  .bravery .bm--menu-links h2 {
    font-size: var(--type-size--xl);
  }
  .bravery .bm--menu-links ul {
    font-size: var(--type-size--regular);
  }
}

.bm--utility-menus {
  grid-area: utilmenu;
  font-size: var(--type-size--regular);
  padding: var(--space--gap-medium);
  display: flex;
  gap: var(--space--gap-medium);
}
.bm--utility-menus > * {
  flex: 0 1 50%;
}
.bm--utility-menus h2 {
  font-family: var(--wc-font-family--sans-serif-alt-bold);
  color: var(--color--blue-300);
  font-size: inherit;
}
.bm--utility-menus ul, .bm--utility-menus li {
  padding: 0;
}
.bm--utility-menus ul {
  margin-bottom: var(--space--gap-3xl);
}
.bm--utility-menus li {
  margin-bottom: 0;
}
.bm--utility-menus a {
  text-decoration: none;
}
.bm--utility-menus a:hover {
  text-decoration: underline;
}
@media (min-width: 1024px) {
  .bm--utility-menus {
    padding: 0;
    display: block;
  }
}

.overlay-menu[data-state=hidden] {
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in-out;
}

.overlay-menu[data-state=visible] {
  opacity: 1;
  visibility: visible;
}

body.menu-open {
  overflow: hidden;
}

.main-footer.bravery {
  background-color: var(--color--blue-dark);
  color: var(--color--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space--gap-large) 5vw var(--space--gap-regular);
  gap: var(--space--gap-large);
}
.main-footer.bravery.slate-footer {
  align-items: flex-start;
}
.main-footer.bravery a {
  color: inherit;
}
.main-footer.bravery .inverse-logo {
  width: 45vw;
  max-width: 240px;
}
@media (min-width: 1024px) {
  .main-footer.bravery {
    padding: calc(var(--space--grid-unit) * 8) 5vw calc(var(--space--grid-unit) * 6);
    gap: calc(var(--space--grid-unit) * 9);
  }
}
@media (min-width: 1450px) {
  .main-footer.bravery {
    padding: calc(var(--space--grid-unit) * 8) calc(0.5 * (100vw - 1400px)) calc(var(--space--grid-unit) * 6);
  }
}
.main-footer.bravery ul, .main-footer.bravery li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-footer.bravery .legal {
  font-family: var(--wc-font-family--sans-serif);
  font-size: var(--type-size--xsmall);
  display: flex;
  flex-direction: column;
  gap: var(--space--gap-medium);
  padding-top: var(--space--gap-regular);
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  width: 100%;
}
.main-footer.bravery .legal a {
  text-decoration: none;
}
.main-footer.bravery .legal a:hover {
  text-decoration: underline;
}
.main-footer.bravery .legal ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: var(--space--gap-medium);
}
@media (min-width: 900px) {
  .main-footer.bravery .legal {
    flex-direction: row;
    justify-content: space-between;
  }
  .main-footer.bravery .legal ul {
    flex-direction: row;
  }
}

.bravery .footer-nav {
  width: 100%;
}
.bravery .footer-nav section {
  margin-bottom: var(--space--gap-regular);
  padding-top: var(--space--gap-regular);
  border-top: 1px solid var(--color--blue-200);
}
.bravery .footer-nav section:first-child {
  border-top: 0;
}
.bravery .footer-nav .contact {
  padding-top: var(--space--gap-large);
}
.bravery .footer-nav h2,
.bravery .footer-nav h2 > button {
  appearance: none;
  background: transparent;
  color: inherit;
  padding-left: 0;
  padding-right: 0;
  border: 0;
  font-size: var(--type-size--medium);
  font-family: var(--wc-font-family--serif);
}
.bravery .footer-nav button[aria-expanded] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transform: rotate(0deg);
}
.bravery .footer-nav button[aria-expanded] > svg {
  width: 24px;
  height: 24px;
  transition: all 0.15s ease-in-out;
}
.bravery .footer-nav button[aria-expanded=true] > svg {
  transform: rotate(-45deg);
}
.bravery .footer-nav section,
.bravery .footer-nav address {
  font-family: var(--wc-font-family--sans-serif);
  font-style: normal;
}
.bravery .footer-nav a {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-decoration: none;
  color: var(--color--blue-200);
}
.bravery .footer-nav a:hover {
  color: var(--color--white);
  text-decoration: underline;
}
.bravery .footer-nav .social-links {
  display: flex;
  gap: var(--space--gap-medium);
  margin-top: var(--space--gap-large);
}
.bravery .footer-nav .social-links svg {
  height: var(--type-size--medium);
  width: var(--type-size--medium);
}
@media (min-width: 1144px) {
  .bravery .footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--space--gap-large);
  }
  .bravery .footer-nav > section {
    border: 0;
    flex-basis: 15%;
  }
  .bravery .footer-nav > section button > svg {
    display: none;
  }
  .bravery .footer-nav > section *:not(h2):not(button) {
    font-size: var(--type-size--xsmall);
  }
  .bravery .footer-nav .contact {
    padding-top: calc(var(--space--gap-regular) + 10px);
  }
  .bravery .footer-nav .social-links svg {
    height: var(--type-size--small);
    width: var(--type-size--small);
  }
  .bravery .footer-nav h2 > button {
    cursor: inherit;
    pointer-events: none;
  }
}

@media (max-width: 1024px) {
  .has-js .accordion-panel {
    display: none;
  }
  .has-js .accordion-panel.visible {
    display: block;
  }
}
.bm--breadcrumb {
  font-size: var(--type-size--text-lg);
  margin-bottom: var(--space--gap-xxl);
}
.bm--breadcrumb ol, .bm--breadcrumb li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.bm--breadcrumb ol {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.bm--breadcrumb li {
  display: flex;
  align-items: center;
  font-weight: 400;
}
.bm--breadcrumb li:not(:last-child):after {
  content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12L10 8L6 4' stroke='%23D0D5DD' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  display: inline-flex;
  margin-left: var(--space--grid-unit);
  margin-right: var(--space--grid-unit);
  line-height: 0;
}
.bm--breadcrumb a {
  text-decoration: none !important;
  color: var(--color--grey-600) !important;
  font-family: var(--wc-font-family--sans-serif) !important;
}
.bm--breadcrumb a[aria-current=page] {
  color: var(--color--blue-600) !important;
}
.bm--breadcrumb a:hover {
  text-decoration: underline !important;
}
@media (max-width: 1023px) {
  .bm--breadcrumb li:not(:nth-last-child(2)) {
    display: none;
  }
  .bm--breadcrumb li:nth-last-child(2):after {
    display: none;
  }
}

.bm--program-header h1, .bm--page-title h1 {
  color: var(--color--blue-dark);
  grid-column: 1;
}
.bm--program-header .bm--actions, .bm--page-title .bm--actions {
  grid-column: 2;
  grid-row: 1/span 2;
}
.bm--program-header .bm--content, .bm--page-title .bm--content {
  grid-row: 2;
  grid-column: 1;
  max-width: 650px;
}
@media (min-width: 1024px) {
  .bm--program-header, .bm--page-title {
    display: grid;
    grid-template-columns: auto minmax(300px, 15vw);
    grid-template-rows: auto auto;
  }
  .bm--program-header .bm--content, .bm--page-title .bm--content {
    margin-top: var(--space--gap-xl);
  }
}
.bm--page-title > h1 {
  max-width: 880px;
}
.bm--program-header h1 {
  font-size: var(--type-size--super);
  grid-row: 1;
}

.bm--actions {
  display: none;
  text-align: right;
}
.bm--actions ul,
.bm--actions li {
  list-style: none;
  padding: 0;
}
.bm--actions li {
  margin-bottom: var(--space--gap-regular);
}
@media (min-width: 1024px) {
  .bm--actions {
    display: block;
  }
}
.bm--action-link a {
  text-decoration: none;
}

.bm--program-features {
  margin-bottom: var(--space--gap-xl);
}
.bm--program-features h2 {
  font-family: var(--wc-font-family--sans-serif);
  letter-spacing: initial;
}
.bm--section-program-features {
  border-top: 1px solid #D9D9D9;
  padding-top: var(--space--gap-medium);
  margin-top: var(--space--gap-xxl);
}
@media (min-width: 1024px) {
  .bm--section-program-features {
    display: flex;
    gap: var(--space--gap-xl);
    justify-content: stretch;
    align-items: flex-start;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .bm--section-program-features > * {
    flex: 1 auto;
  }
}

.bm--callout {
  background: var(--gradient--blue-primary);
  border-radius: var(--corner--radius);
  box-shadow: var(--elevation--large);
  color: var(--color--white);
  padding: calc(var(--space--grid-unit) * 8) var(--space--gap-medium);
  margin-top: var(--space--gap-xxl);
  margin-bottom: var(--space--gap-xxl);
  max-width: 1224px;
}
.bm--callout * {
  color: inherit;
}
@media (min-width: 1024px) {
  .bm--callout {
    display: flex;
    gap: var(--space--gap-xl);
    padding-left: var(--space--gap-xl);
    padding-right: var(--space--gap-xl);
    margin-left: auto;
    margin-right: auto;
  }
}

.bm--section-value {
  text-align: center;
}
.bm--section-value > h2 {
  color: var(--color--blue-600);
}
.bm--stat-callout {
  text-align: inherit;
}
.bm--stat-callout .bm--icon {
  height: 60px;
  width: 60px !important;
  background-size: 30px 30px;
  background-position: center center;
}
.bm--stat-callout h3 {
  font-size: var(--type-size--medium);
  font-family: var(--wc-font-family--sans-serif);
  letter-spacing: normal;
}
.bm--stat-callout h3 .is-large {
  font-size: var(--type-size--xl) !important;
  font-family: var(--wc-font-family--serif) !important;
  display: block;
  line-height: 1.5;
  letter-spacing: -0.02em;
}
@media (min-width: 1024px) {
  .bm--stat-callout {
    flex-basis: 33%;
  }
  .bm--stat-callout .bm-stat {
    flex: 0 33%;
  }
}
.bm--stat-callout {
  text-align: center;
  padding-top: calc(var(--space--grid-unit) * 8);
  padding-bottom: calc(var(--space--grid-unit) * 8);
}
.bm--stat-callout p {
  margin-bottom: 0;
  font-size: var(--type-size--small);
}

.bm--cta-callout {
  border-radius: 16px;
}
@media (min-width: 1024px) {
  .bm--cta-callout {
    gap: var(--space--gap-3xl);
    justify-content: space-between;
    padding-left: var(--space--gap-3xl);
    padding-right: var(--space--gap-3xl);
  }
  .bm--cta-callout header {
    flex: 1 auto;
  }
  .bm--cta-callout .bm--buttons {
    justify-content: flex-end;
    flex: 1 0 auto;
  }
  .bm--cta-callout p {
    font-size: var(--type-size--medium);
  }
}

.bm--rfi {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: var(--space--gap-xxl);
}
.bm--rfi h2 {
  color: var(--color--blue-600);
}
.bm--rfi p {
  font-size: var(--type-size--regular);
  margin-bottom: calc(var(--space--grid-unit) * 6);
}
@media (min-width: 1024px) {
  .bm--rfi {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
  }
  .bm--rfi .bm--cover {
    flex: 1 50%;
    border-bottom-left-radius: var(--corner--radius);
    border-top-left-radius: var(--corner--radius);
    background-clip: border-box;
    max-height: 90vh;
  }
}
.bm--rfi-form {
  padding: var(--space--gap-xl) 4vw;
}
@media (min-width: 1024px) {
  .bm--rfi-form {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 1300px) {
  .bm--rfi-form {
    flex: 0 1 50%;
  }
}

.bm--cover {
  border-radius: var(--corner--radius);
  overflow: hidden;
}
.bm--cover > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.bm--card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: var(--space--gap-xxl);
  margin-bottom: var(--space--gap-xxl);
}
.bm--card figure {
  border-radius: var(--corner--radius);
  overflow: hidden;
  width: 384px;
  height: 527px;
  max-width: 100%;
}
.bm--card figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bm--card .card--content {
  margin-top: var(--space--gap-xl);
}
.bm--card .card--content h3 {
  color: var(--color--blue-600);
}

.bm--is-card {
  box-shadow: var(--elevation--large);
  border-radius: var(--corner--radius);
  background-color: var(--color--white);
  padding: var(--space--gap-xl);
  border: 1px solid var(--color--grey-100);
}

.bm--section-title h2 {
  color: var(--color--blue-600);
}
.bm--section-title h2 .subhead {
  color: var(--color--grey-700);
}

.bm--jump-menu {
  background-color: var(--color--white);
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(25px);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 25;
  padding: var(--space--gap-medium) var(--space--gap-regular);
}
.bm--jump-menu ul,
.bm--jump-menu li {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.bm--jump-menu a {
  text-decoration: none;
  display: flex;
  height: calc(var(--space--grid-unit) * 6);
  align-content: center;
}
.bm--jump-menu button {
  background-color: var(--color--orange-600);
  color: var(--color--white);
  font-size: var(--type-size--base);
  width: 100%;
  border: 0;
  z-index: 1;
  position: relative;
}
.bm--jump-menu button:active {
  background-color: var(--color--orange-700);
}
.bm--jump-menu ul {
  background: var(--color--white);
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(25px);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  padding: var(--space--gap-xl) var(--space--gap-medium) calc(var(--space--grid-unit) * 10);
  box-shadow: var(--elevation--large-invert);
  width: 100%;
  transform: translateY(95%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease-in-out;
}
.bm--jump-menu ul.visible {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
@media (min-width: 1024px) {
  .bm--jump-menu {
    position: sticky;
    bottom: unset;
    top: 248px;
    grid-column: 1/span 2;
    align-self: start;
    border-bottom: 1px solid var(--color--grey-300);
    margin-bottom: calc(var(--space--grid-unit) * 4);
    padding: 0;
    z-index: unset;
  }
  .bm--jump-menu button {
    display: none;
  }
  .bm--jump-menu ul {
    position: unset;
    box-shadow: unset;
    opacity: 1;
    visibility: visible;
    transform: unset;
    padding: 0;
    bottom: unset;
    left: unset;
    position: static;
  }
  .bm--jump-menu li {
    border-top: 1px solid var(--color--grey-300);
  }
  .bm--jump-menu a {
    height: calc(var(--space--grid-unit) * 7);
  }
}

.bm--section-nav {
  background-color: var(--color--white);
  width: 100%;
  margin-top: var(--space--gap-large);
  margin-bottom: var(--space--gap-large);
}
.bm--section-nav button {
  display: flex;
  align-items: center;
  padding: var(--space--gap-medium);
  font-weight: 500;
  width: 100%;
  justify-content: space-between;
}
.bm--section-nav button:after {
  content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 8V16M8 12H16M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  color: var(--color--blue-600);
  display: block;
  height: 24px;
  width: 24px;
  transform-origin: center;
  transform: rotate(0);
  transition: all ease-in-out 0.15s;
}
.bm--section-nav button[aria-expanded=true]:after {
  transform: rotate(-45deg);
}
.bm--section-nav h2 {
  font-size: var(--type-size--base);
  font-weight: 500;
  display: none;
  font-family: var(--wc-font-family--sans-serif);
}
.bm--section-nav div {
  display: flex;
  flex-direction: column;
  gap: var(--space--gap-large);
  padding: 0 18px;
  max-height: 0;
  opacity: 0;
  transition: opacity 0.15s ease-in-out, padding 0.2s ease-in-out 0.15s, max-height 0.2s ease-in-out 0.15s;
}
.bm--section-nav div.visible {
  padding: var(--space--gap-large) 18px;
  max-height: 700px;
  opacity: 1;
  transition: padding 0.25s ease-in-out, max-height 0.25s ease-in-out, opacity 0.15s ease-in-out 0.15s;
}
@media (min-width: 1024px) {
  .bm--section-nav {
    padding: var(--space--gap-large) var(--space--gap-medium);
    border: 0;
    background-color: var(--color--grey-100);
    border-radius: 16px;
  }
  .bm--section-nav h2 {
    display: block;
  }
  .bm--section-nav button {
    display: none;
  }
  .bm--section-nav div {
    flex-wrap: wrap;
    flex-direction: row;
    opacity: 1;
    height: auto;
    max-height: none;
    padding: 0;
  }
}

.bm--section-quotes {
  padding-left: 0;
  padding-right: 0;
  margin-top: calc(var(--space--grid-unit) * 6);
}

.bm--quote {
  padding: 0;
  padding-left: var(--space--gap-large);
  margin: var(--space--gap-large) 0;
  font-family: var(--wc-font-family--serif);
  font-size: var(--type-size--large);
  color: var(--color--blue-600);
  border-left: 2px solid var(--color--orange-600);
}
.bm--quote p {
  margin-bottom: var(--space--gap-regular);
  line-height: 1.1;
  letter-spacing: -0.02em;
}
.bm--quote cite {
  font-size: var(--type-size--small);
  font-family: var(--wc-font-family--sans-serif);
  font-style: normal;
}
.bm--quote cite::first-line {
  font-size: var(--type-size--base);
  font-weight: normal;
}

.bm--collapsible {
  padding: var(--space--gap-xl);
  margin-bottom: var(--space--gap-medium);
  transition: all 0.2s ease-in-out;
}
.bm--collapsible:hover, .bm--collapsible.visible, .bm--collapsible[aria-expanded=true] {
  background-color: var(--color--grey-50);
  border-radius: var(--corner--radius);
}
.bm--collapsible h3 {
  margin-bottom: 0;
  font-family: var(--wc-font-family--sans-serif);
}
.bm--collapsible button {
  background: transparent;
  color: var(--color--grey-900);
  border: 0;
  width: 100%;
  display: flex;
  align-items: top;
  justify-content: space-between;
  font-size: var(--type-size--text-xl);
  font-weight: 500;
  gap: 24px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none;
  cursor: pointer;
}
.bm--collapsible button:after {
  content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 8V16M8 12H16M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  color: var(--color--grey-400);
  display: block;
  height: 24px;
  width: 24px;
  transform-origin: center;
  transform: rotate(0);
  transition: all ease-in-out 0.15s;
}
.bm--collapsible button[aria-expanded=true]:after {
  transform: rotate(-45deg);
}
.bm--collapsible div {
  max-width: 650px;
  padding-top: inherit;
}
.bm--collapsible p:last-of-type {
  margin-bottom: 0;
}

.bm--text-image {
  padding-left: 0;
  padding-right: 0;
}
.bm--text-image figure {
  margin-top: var(--space--gap-xxl);
  margin-bottom: var(--space--gap-xxl);
  position: relative;
}
.bm--text-image article {
  padding-left: 3vw;
  padding-right: 3vw;
}
@media (min-width: 1024px) {
  .bm--text-image {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: var(--space--gap-3xl) auto;
  }
  .bm--text-image figure {
    height: 50vw;
    max-height: 1000px;
    flex: 1 50%;
    width: 50%;
    max-width: 50%;
    overflow: hidden;
    border-radius: var(--corner--radius);
    order: 1;
  }
  .bm--text-image figure img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }
  .bm--text-image article {
    flex: 1 50%;
    width: 50%;
    max-width: 50%;
    padding: 0 calc(var(--space--grid-unit) * 8);
    order: 2;
  }
  .bm--text-image[data-image=right] article {
    order: 1;
    justify-content: flex-end;
    padding: 0 calc(var(--space--grid-unit) * 8) 0 7vw;
  }
  .bm--text-image[data-image=right] figure {
    order: 2;
  }
}

.bm--video {
  padding-top: calc(var(--space--grid-unit) * 10);
  padding-bottom: calc(var(--space--grid-unit) * 10);
  margin-bottom: var(--space--gap-large);
}
.bm--video header {
  text-align: center;
  margin-bottom: var(--space--gap-xxl);
}
@media (min-width: 1024px) {
  .bm--video {
    padding-top: calc(var(--space--grid-unit) * 12);
    padding-bottom: calc(var(--space--grid-unit) * 12);
    margin-bottom: var(--space--gap-3xl);
  }
}
.bm--video-container {
  width: 100%;
  max-width: 1200px;
  height: auto;
  position: relative;
  box-shadow: var(--elevation--large);
  margin: 0 auto;
}
.bm--video-container:after {
  content: "";
  padding-bottom: 56.26%;
  display: block;
  width: 100%;
}
.bm--video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bm--content > .bm--video {
  background-color: transparent;
  border-top: 1px solid var(--color--grey-100);
  border-bottom: 1px solid var(--color--grey-100);
}
.bm--content > .bm--video header {
  text-align: left;
}
.bm--content > .bm--video h2 {
  font-size: var(--type-size--medium);
}

.bm-grid--faculty {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
  gap: calc(var(--space--grid-unit) * 6);
  padding-top: calc(var(--space--grid-unit) * 6);
  padding-bottom: calc(var(--space--grid-unit) * 6);
}
@media (min-width: 900px) {
  .bm-grid--faculty {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .bm-grid--faculty {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1600px) {
  .bm-grid--faculty {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (min-width: 900px) {
  [data-layout="3up"] .bm-grid--faculty {
    grid-template-columns: 100%;
  }
}
@media (min-width: 1200px) {
  [data-layout="3up"] .bm-grid--faculty {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1600px) {
  [data-layout="3up"] .bm-grid--faculty {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 900px) {
  [data-layout="2up-half"] .bm-grid--faculty {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  [data-layout="2up-half"] .bm-grid--faculty {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1600px) {
  [data-layout="2up-half"] .bm-grid--faculty {
    grid-template-columns: repeat(3, 1fr);
  }
}

.bm-card--faculty img {
  border-radius: var(--space--grid-unit);
  height: auto;
  width: 100%;
}
.bm-card--faculty h3 {
  font-family: var(--wc-font-family--sans-serif);
  font-size: var(--type-size--medium);
  font-weight: 500;
  margin-bottom: 0;
}
.bm-card--faculty figcaption {
  margin-top: calc(var(--space--grid-unit) * 2);
  font-size: var(--type-size--base);
}

main {
  padding-top: calc(var(--space--grid-unit) * 6);
  padding-left: 4vw;
  padding-right: 4vw;
}
@media (min-width: 1024px) {
  main {
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: calc(var(--space--grid-unit) * 10);
  }
  main > section {
    margin-top: var(--space--gap-xxl);
  }
}
@media (min-width: 1300px) {
  main {
    padding-top: calc(var(--space--grid-unit) * 23);
    padding-left: var(--max-1280);
    padding-right: var(--max-1280);
  }
  main > section {
    margin-top: calc(var(--space--gap-3xl) * 2);
  }
}

.bm-margins {
  width: 100%;
  padding: var(--space--gap-medium);
}
@media (min-width: 1024px) {
  .bm-margins {
    padding: 0;
  }
}

.is-fullwidth {
  width: 100vw;
  margin-left: -4vw;
  margin-right: -4vw;
}
@media (min-width: 1024px) {
  .is-fullwidth {
    margin-left: -7vw;
    margin-right: -7vw;
  }
}
@media (min-width: 1300px) {
  .is-fullwidth {
    margin-left: var(--full-bleed);
    margin-right: var(--full-bleed);
  }
}

@media (min-width: 1024px) {
  .is-widewidth {
    margin-left: -3.5vw;
    margin-right: -3.5vw;
  }
}
@media (min-width: 1500px) {
  .is-widewidth {
    max-width: 1480px;
    width: 100vw;
    margin-left: var(--max-1480);
    margin-right: var(--max-1480);
  }
}

@media (min-width: 1024px) {
  .has-jump-menu {
    display: grid;
    grid-template-columns: min(20vw, 260px) auto;
    gap: var(--space--gap-xxl);
    justify-content: start;
  }
  .has-jump-menu .bm--jump-menu {
    grid-column: 1;
    grid-row: 1;
  }
}
@media (min-width: 1280px) {
  .has-jump-menu {
    grid-template-columns: min(20vw, 260px) 1024px;
    column-gap: var(--space--gap-3xl);
  }
}

[data-layout=has-margins] {
  max-width: 850px;
  margin: calc(var(--space--gap-3xl) * 4) auto;
  padding: 0;
}

@media (min-width: 1024px) {
  [data-layout="3up"] {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    column-gap: var(--space--gap-large);
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1300px) {
  [data-layout="3up"] {
    column-gap: var(--space--gap-xl);
  }
}

[data-layout="1up"] {
  width: 100%;
  grid-column: 1/-1;
}

main > *[data-layout="1up"] {
  max-width: calc(1280px + 14vw);
}

@media (min-width: 1024px) {
  [data-layout="2up-half"] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    column-gap: var(--space--gap-xxl);
    align-items: start;
  }
  [data-layout="2up-half"] .bm--section-title {
    padding-left: 4vw;
    position: sticky;
    top: 208px;
  }
  [data-layout="2up-half"] .bm--section-title[data-layout="1up"] {
    grid-column: 1/span 2;
    padding-left: 0;
    position: unset;
  }
}
@media (min-width: 1300px) {
  [data-layout="2up-half"] {
    column-gap: calc(var(--space--grid-unit) * 8);
    max-width: calc(1280px + 14vw);
    margin-left: auto;
    margin-right: auto;
  }
}

.bm--cover-image + .bm--content-container {
  padding-top: calc(var(--space--grid-unit) * 10);
}
@media (min-width: 1024px) {
  .bm--cover-image + .bm--content-container {
    padding-top: calc(var(--space--grid-unit) * 12);
  }
}

.bm--content > section:not(:first-child) {
  margin-top: calc(var(--space--grid-unit) * 6);
  padding-top: var(--space--gap-xl);
  position: relative;
}
.bm--content p, .bm--content ul, .bm--content ol, .bm--content li, .bm--content address {
  max-width: 650px;
}
.bm--content-block::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color--blue-600);
  position: absolute;
  top: 0;
}
.bm--content-block p, .bm--content-block ul, .bm--content-block ol, .bm--content-block li, .bm--content-block address {
  max-width: 650px;
}

.bm--content h3 {
  font-weight: 500;
  font-size: var(--type-size--medium);
  font-family: var(--wc-fon-family--sans-serif);
  color: var(--color--grey-900);
}
.bm--content hr {
  margin-bottom: var(--space--gap-large);
}
.bm--content hr:not(:first-child) {
  margin-top: var(--space--gap-large);
}
@media (min-width: 1024px) {
  .bm--content hr {
    margin-bottom: var(--space--gap-3xl);
  }
  .bm--content hr:not(:first-child) {
    margin-top: var(--space--gap-3xl);
  }
}

.has-text-2col + * {
  margin-top: var(--space--gap-xl);
}
@media (min-width: 1024px) {
  .has-text-2col {
    columns: 2;
    column-gap: var(--space--gap-3xl);
    max-width: 1024px;
  }
  .has-text-2col + * {
    margin-top: var(--space--gap-3xl);
  }
}

/*# sourceMappingURL=wheaton.css.map */
