<div class="news news__image news-249163">
  <span id="d.en.249163"></span>
      <img src="https://picsum.photos/380/253" alt="Wheaton College Meyer Science Center Exterior in Sun" width="380" height="253">
  <div class="news__content">
    <a href="https://cms.wheaton.edu/terminalfour/preview/1/en/121204" class="news__link">Wheaton College Now Offers Neuroscience, Biochemistry &amp; Molecular Biology, and Conservation &amp; Ecological Health Majors </a>
  </div>
</div>