<!doctype html>
<html>
    <head>
        {% include "components/html-head.njk" %}
    </head>
    <body data-center="wade">
        {% if section == 'center' %}
            {% include "components/bravery-nav-centers.njk" %}
        {% else %}
            {% include "components/bravery-nav.njk" %}
        {% endif %}
        <main class="is-new-style">
            {% include "components/bm-page-header.njk" %}
            {{ content | safe }}
        </main>
        {% include "components/bravery-footer.njk" %}
    </body>
</html>