<!doctype html>
<html>
    <head>
        {% include "components/html-head.njk" %}
    </head>
    <body>
        {% include "components/bravery-nav.njk" %}
        {{ content | safe}}
        {% include "components/bravery-footer.njk" %}
    </body>
</html>