<!doctype html>
<html>
    <head>
        {% include "components/html-head.njk" %}
    </head>
    <body>
        {% if section == "grad" %}
            {% include "components/bravery-nav-grad.njk" %}
        {% else %}
            {% include "components/bravery-nav.njk" %}
        {% endif %}
        {{ content | safe}}
        {% include "components/bravery-footer.njk" %}
    </body>
</html>