<!doctype html>
<html>
    <head>
        {% include "components/html-head.njk" %}
    </head>
    <body>
        {% include "components/slate-nav.njk" %}
        <main>
        {{ content }}
        </main>
        {% include "components/slate-footer.njk" %}
    </body>
</html>