button.form_button_submit,
.bravery button,
.bravery .button,
.bravery .bm--cta,
.bravery .cta,
.bm--cta {
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px 18px;
    gap: var(--space--gap-regular);
    font-family: var(--wc-font-family--sans-serif);
    font-size: var(--type-size--small);
    background-color: var(--color--white);
    border: 1px solid var(--color--grey-300);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 4px;
    color: var(--color--blue-600);
    transition: all 200ms linear;
    > svg {
        width: 24px;
        height:24px;
    }
    &:hover {
        background: var(--color--grey-50);
        border-color: var(--color--grey-400);
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    }
    &:focus {
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #F2F4F7;
    }
}
// Button Styles
.style-ghost {
    border: 0;
    box-shadow: none !important;
    padding-left: var(--space--grid-unit);
    padding-right: var(--space--grid-unit);
    &.invert {
        background-color: transparent;
        color: inherit;
    }
}
.style-bold,
.style-primary {
    background: var(--color--blue-600) !important;
    color: var(--color--white) !important;
    &:hover {
        background-color: var(--color--blue-700) !important;
    }
}
.style-secondary {
    background-color: var(--color--white);
}
.style-loud {
    background-color: var(--color--orange-600);
    color: var(--color--white);
    &:hover {
        background-color: var(--color--orange-700);
    }
}
.bm--callout {
    .style-bold,
    .style-primary {
        background: var(--color--white);
        color: var(--color--blue-600);
        &:hover {
            background-color: var(--color--cyan-500);
            color: var(--color--white);
        }
    }
    .style-outline {
        border-color: var(--color--white);
        background-color: var(--color--blue-600);
        color: var(--color--white);
        &:hover {
            background-color: var(--color--white);
            color: var(--color--blue-600);
        }
    }
}
.menu-more .label {
    display: none;
}
a.button,
a.bm--cta,
a.cta {
    text-decoration: none;
}
@media (min-width: 1024px) {
    .menu-more .label {
        display: inline;
        font-size: var(--type-size--medium);
    }
    button,
    .button,
    .bm--cta
    .cta {
        >svg {
            height: 20px;
            width: 20px;
        }
    }
}

.bm--giving {
    position: absolute;
    left: 1.5vw;
    transform: translateY(-5px);
    font-weight: 600;
}
.bm--buttons {
    display: flex;
    align-items: flex-start;
    gap: var(--space--gap-medium);
}
.bm--cta-link {
    font-weight: 500;
    display: inline-flex;
    gap: 8px;
    color: var(--color--blue-600);
    text-underline-offset: 5px;
    align-items: center;
    &:after {
        content: "";
        background-color: currentColor;
        mask: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.41079 3.57611C9.73622 3.25067 10.2639 3.25067 10.5893 3.57611L16.4226 9.40944C16.7481 9.73488 16.7481 10.2625 16.4226 10.588L10.5893 16.4213C10.2639 16.7467 9.73622 16.7467 9.41079 16.4213C9.08535 16.0958 9.08535 15.5682 9.41079 15.2428L13.8215 10.832H4.16671C3.70647 10.832 3.33337 10.4589 3.33337 9.9987C3.33337 9.53846 3.70647 9.16536 4.16671 9.16536H13.8215L9.41079 4.75462C9.08535 4.42918 9.08535 3.90155 9.41079 3.57611Z' fill='currentColor'/%3E%3C/svg%3E%0A");
        display: block;
        width: 20px;
        height: 20px;
        transition: all .15s ease-in-out;
        position: relative;
    }
    &:hover {
        &:after {
            transform: translateX(-2px);
        }
    }
}
// Button group
.bm--buttons {
    display: flex;
    gap: var(--space--gap-large);
    justify-content: flex-start;
}