.bm {
    &--breadcrumb{
        font-size: var(--type-size--text-lg);
        margin-bottom: var(--space--gap-xxl);
        ol, li {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        ol {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        li {
            display: flex;
            align-items: center;
            font-weight: 400;
        }
        li:not(:last-child):after {
            content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12L10 8L6 4' stroke='%23D0D5DD' stroke-width='1.33333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            display: inline-flex;
            margin-left: var(--space--grid-unit);
            margin-right: var(--space--grid-unit);
            line-height: 0;
        }
        a {
            text-decoration: none !important;
            color: var(--color--grey-600) !important;
            font-family: var(--wc-font-family--sans-serif) !important;
            &[aria-current="page"] {
                color: var(--color--blue-600) !important;
            }
            &:hover {
                text-decoration: underline !important;
            }
        }
        @media (max-width: 1023px) {
            li:not(:nth-last-child(2)) {
                display: none;
            }
            li:nth-last-child(2) {
                &:after {
                    display: none;
                }
            }
        }
    }
}