.bm {
    &--program-header,
    &--page-title {
        h1 {
            color: var(--color--blue-dark);
            grid-column: 1;
            font-size: var(--type-size--super);
        }
        .bm--actions {
            grid-column: 2;
            grid-row: 1 / span 2;
        }
        .bm--content {
            grid-row: 2;
            grid-column: 1;
            max-width: 650px;
        }
        @media ( min-width: 1024px ) {
            display: grid;
            grid-template-columns: auto minmax(300px, 15vw);
            grid-template-rows: auto auto;
            .bm--content {
                margin-top: var(--space--gap-xl);
            }
        }
    }
    &--page-title {
       > h1 {
         max-width: 880px;
       }
    }
    &--program-header {
        h1 {
            font-size: var(--type-size--super);
            grid-row: 1;
        }
    }
}