.bm {
    &--actions {
        display: none;
        text-align: right;
        ul,
        li {
            list-style: none;
            padding: 0;
        }
        li {
            margin-bottom: var(--space--gap-regular);
        }
        @media( min-width: 1024px ) {
            display: block;
        }
    }
    &--action-link a {
        text-decoration: none;
    }
}