.bm {
    &--program-features {
        h2 {
            font-family: var(--wc-font-family--sans-serif);
            letter-spacing: initial;
        }
        margin-bottom: var(--space--gap-xl);
    }
    &--section-program-features {
        border-top: 1px solid #D9D9D9;
        padding-top: var(--space--gap-medium);
        margin-top: var(--space--gap-xxl);
        @media (min-width: 1024px) {
            display: flex;
            gap: var(--space--gap-xl);
            justify-content: stretch;
            align-items: flex-start;
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            > * {
                flex: 1 auto;
            }
        }
    }
}