.bm {
    &--text-image {
        width: 100vw;
        padding-left: 0;
        padding-right: 0;
        figure {
            margin-top: var(--space--gap-xxl);
            margin-bottom: var(--space--gap-xxl);
            position: relative;
        }
        article {
            padding-left: 3vw;
            padding-right: 3vw;
        }
        @media (min-width: 1024px) {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100vw;
            padding-left: 0;
            padding-right: 0;
            margin: var(--space--gap-3xl) auto;
            figure {
                height: 50vw;
                max-height: 1000px;
                flex: 1 50vw;
                width: 50vw;
                max-width: 50%;
                overflow: hidden;
                border-radius: var(--corner--radius);
                order: 1;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center center;
                }

            }
            article {
                flex: 1 50vw;
                width: 50vw;
                max-width: 50%;
                padding: 0 calc(var(--space--grid-unit) * 8);
                order: 2;
            }
            &[data-image="right"] {
                article {
                    order: 1;
                    justify-content: flex-end;
                    padding: 0 calc(var(--space--grid-unit) * 8) 0 7vw;
                }
                figure {
                    order: 2;
                }
            }
        }
    }
}