.bm {
    &--video {
        background-color: var(--color--grey-100);
        header {
            text-align: center;
            margin-bottom: var(--space--gap-xxl);
        }
        padding-top: calc(var(--space--grid-unit) * 10);
        padding-bottom: calc(var(--space--grid-unit) * 10);
        @media (min-width: 1024px) {
            padding-top: calc(var(--space--grid-unit) * 12);
            padding-bottom: calc(var(--space--grid-unit) * 12);
        }
    }
    &--video-container {
        width: 100%;
        max-width: 1200px;
        height: auto;
        position: relative;
        box-shadow: var(--elevation--large);
        margin: 0 auto;
        &:after {
            content: "";
            padding-bottom: 56.26%;
            display: block;
            width: 100%;
        }
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}