.bm-grid--faculty {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat( 2, 1fr );
    gap: calc(var(--space--grid-unit) * 6);
    padding-top: calc(var(--space--grid-unit) * 6);
    padding-bottom: calc(var(--space--grid-unit) * 6);
    @media (min-width: 900px) {
        grid-template-columns: repeat( 3, 1fr );
    }
    @media (min-width: 1200px) {
        grid-template-columns: repeat( 4, 1fr);
    }
    @media (min-width: 1600px) {
        grid-template-columns: repeat( 5, 1fr );
    }
}
.bm-card--faculty {
    img {
        border-radius: var(--space--grid-unit);
        height: auto;
        width: 100%;
    }
    h3 {
        font-family: var(--wc-font-family--sans-serif);
        font-size: var(--type-size--medium);
        font-weight: 500;
        margin-bottom: 0;
    }
    figcaption {
        margin-top: calc(var(--space--grid-unit) * 2);
        font-size: var(--type-size--base);
    }
}