.bm {
    &--content-cta {
        display: flex;
        flex-direction: column;
        gap: var(--space--gap-large);
        > article {
            position: relative;
            max-width: 850px;
            padding-top: var(--space--gap-3xl);
            &:before {
                content: "";
                background-color: var(--color--orange-600);
                display: block;
                height: 3px;
                position: absolute;
                width: calc(9 * var(--space--grid-unit));
                top: 0;
                left: 0;
            }
            h2 {
                max-width: 768px;
            }
        }
        .bm--actions {
            display: flex;
            flex-direction: column;
            gap: var(--space--gap-large);
        }
        @media (min-width: 1024px) {
            flex-direction: row;
            justify-content: space-between;
            .bm--actions {
                padding-top: var(--space--gap-3xl);
            }
        }
    }
}