.bm {
    &--cover {
        > img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
        border-radius: var(--corner--radius);
        overflow: hidden;
    }
}