.bm-centers-back {
    display: flex;
    align-items: center;
    background-color: var(--center-color);
    font-size:  var(--type-size--xsmall);
    text-decoration: none;
    width: 100%;
    color: var(--color--white);
    gap: var(--space--grid-unit);
    padding-inline: var(--space--gap-regular);
    padding-block: calc(var(--space--grid-unit) / 2);
    transition: all .2s ease-in-out;
    &:hover {
        background-color: var(--color--blue-800);
    }
    svg {
        color: inherit;
        height: calc(var(--space--grid-unit) * 2);
        width: calc(var(--space--grid-unit) * 2);
        transform: rotate(-180deg);
    }
}
.bm-centers-back + .main-header.bravery {
    border-top-color: var(--center-color);
}