---
layout: faculty.njk
section: pages
---
<section class="bm--fluid has-bg--white">
    <header class="bm-faculty-filter">
        <div class="bm-faculty-filter--controls">
            <label for="nameFilter">Filter Faculty</label>
            <input type="text" id="nameFilter" placeholder="Type a name..." aria-label="Filter by name" />
            <div class="bm-filter--dept dropdown">
                <button
                    class="button style-loud dropdown-toggle"
                    id="departmentFilterButton"
                    aria-expanded="false"
                    aria-controls="departmentFilterMenu"
                    aria-haspopup="true">
                    <span>Filter by department</span>
                </button>
                <menu
                    class="filter-department"
                    id="departmentFilterMenu"
                    aria-labelledby="departmentFilterButton"
                    hidden>
                </menu>
            </div>
        </div>
    </header>
    <div class="bm-grid--faculty" data-filterable>
        <figure class="bm-card--faculty" data-name="Cherith Lundin" data-department="Science,Ancient Languages,Anthropology">
            <div class="bm-image--mask" data-ar="2:3">
                <img src="https://picsum.photos/270/405/" alt="Wheaton College Meyer Science Center Exterior in Sun" width="270" height="405">
            </div>
            <figcaption>
                <h3><a href="#">Cherith Lundin, M.F.A.</a></h3>
                <span class="faculty--title">Associate Professor of Art, Department Chair</span>
            </figcaption>
        </figure>
        <figure class="bm-card--faculty" data-name="Rebecca" data-department="Music,sociology,biblical studies,biology">
            <div class="bm-image--mask" data-ar="2:3">
                <img src="https://picsum.photos/270/405/" alt="Wheaton College Meyer Science Center Exterior in Sun" width="270" height="405">
            </div>
            <figcaption>
                <h3><a href="#">Rebecca</a></h3>
                <span class="faculty--title">Associate Professor of Art, Department Chair</span>
            </figcaption>
        </figure>
        <figure class="bm-card--faculty" data-name="Annie" data-department="Theology,Coding,christian formation and ministry">
            <div class="bm-image--mask" data-ar="2:3">
                <img src="https://picsum.photos/270/405/" alt="Wheaton College Meyer Science Center Exterior in Sun" width="270" height="405">
            </div>
            <figcaption>
                <h3><a href="#">Annie</a></h3>
                <span class="faculty--title">Associate Professor of Art, Department Chair</span>
            </figcaption>
        </figure>
        <figure class="bm-card--faculty" data-name="Les" data-department="Marketing,Music, communication">
            <div class="bm-image--mask" data-ar="2:3">
                <img src="https://picsum.photos/270/405/" alt="Wheaton College Meyer Science Center Exterior in Sun" width="270" height="405">
            </div>
            <figcaption>
                <h3><a href="#">Les</a></h3>
                <span class="faculty--title">Associate Professor of Art, Department Chair</span>
            </figcaption>
        </figure>
        <figure class="bm-card--faculty" data-name="Joel" data-department="Marketing,Art">
            <div class="bm-image--mask" data-ar="2:3">
                <img src="https://picsum.photos/270/405/" alt="Wheaton College Meyer Science Center Exterior in Sun" width="270" height="405">
            </div>
            <figcaption>
                <h3><a href="#">Joel</a></h3>
                <span class="faculty--title">Associate Professor of Art, Department Chair</span>
            </figcaption>
        </figure>
        <figure class="bm-card--faculty" data-name="Cherith Lundin" data-department="Music">
            <div class="bm-image--mask" data-ar="2:3">
                <img src="https://picsum.photos/270/405/" alt="Wheaton College Meyer Science Center Exterior in Sun" width="270" height="405">
            </div>
            <figcaption>
                <h3><a href="#">Cherith Lundin, M.F.A.</a></h3>
                <span class="faculty--title">Associate Professor of Art, Department Chair</span>
            </figcaption>
        </figure>
        <figure class="bm-card--faculty" data-name="Cherith Lundin" data-department="Art">
            <div class="bm-image--mask" data-ar="2:3">
                <img src="https://picsum.photos/270/405/" alt="Wheaton College Meyer Science Center Exterior in Sun" width="270" height="405">
            </div>
            <figcaption>
                <h3><a href="#">Cherith Lundin, M.F.A.</a></h3>
                <span class="faculty--title">Associate Professor of Art, Department Chair</span>
            </figcaption>
        </figure>
        <figure class="bm-card--faculty" data-name="Cherith Lundin" data-department="Science">
            <div class="bm-image--mask" data-ar="2:3">
                <img src="https://picsum.photos/270/405/" alt="Wheaton College Meyer Science Center Exterior in Sun" width="270" height="405">
            </div>
            <figcaption>
                <h3><a href="#">Cherith Lundin, M.F.A.</a></h3>
                <span class="faculty--title">Associate Professor of Art, Department Chair</span>
            </figcaption>
        </figure>
        <figure class="bm-card--faculty" data-name="Cherith Lundin" data-department="Art">
            <div class="bm-image--mask" data-ar="2:3">
                <img src="https://picsum.photos/270/405/" alt="Wheaton College Meyer Science Center Exterior in Sun" width="270" height="405">
            </div>
            <figcaption>
                <h3><a href="#">Cherith Lundin, M.F.A.</a></h3>
                <span class="faculty--title">Associate Professor of Art, Department Chair</span>
            </figcaption>
        </figure>
    </div>
</section>