---
layout: general.njk
section: home
title: Forms demo
---

<main>
    {{ content | safe }}
    <form style="padding: 2rem; margin: 2rem;">
        <label>
            <input type="checkbox" name="test1" style="margin-right: 1rem;"/>Test 1</label>
        <label>
            <input type="checkbox" name="test2" checked="checked" style="margin-right: 1rem;"/>Test 2</label>
    </form>
    <form class="form_bluebg" style="padding: 2rem; margin: 2rem; background-color: var(--color--blue-600);">
        <label style="margin: 1rem; color: white;">
            <input type="checkbox" name="test1" style="margin-right: 1rem;"/>Test 1</label>
        <label style="margin: 1rem; color: white;">
            <input type="checkbox" name="test2" checked="checked" style="margin-right: 1rem;"/>Test 2</label>
    </form>
</main>