---
layout: layouts/general.njk
section: pages
---
{% include "components/bm-section-menu.njk" %}
{% include "sections/bm-section-video.njk" %}
{% include "components/bm-video-grid.njk" %}


{% include "sections/bm-section-general-content.njk" %}
{% include "sections/bm-section-content-middle.njk" %}
<section class="bm--content-container bm-margins has-bg--white has-jump-menu">
    {% include "components/bm-jump-menu.njk" %}
    <article class="bm--content" data-layout="2up-half">
        this is test content
    </article>
</section>
<section class="bm-grid--faculty bm--fluid has-bg--white">
    {% include "components/bm-faculty.njk" %}
    {% include "components/bm-faculty.njk" %}
    {% include "components/bm-faculty.njk" %}
    {% include "components/bm-faculty.njk" %}
    {% include "components/bm-faculty.njk" %}
    {% include "components/bm-faculty.njk" %}
    {% include "components/bm-faculty.njk" %}
</section>
{% include "components/bm-card-linked.njk" %}
{% include "components/bm-card-image-top.njk" %}