---
layout: layouts/general.njk
section: pages
---
{% include "components/bm-section-menu.njk" %}
<section id="section-begin-288703" class="bm--content-container is-widewidth has-bg--white">
    <article class="bm--content" data-layout="2up-half"><header class="bm--section-title has-bg--white" data-layout="">
  <span id="d.en.288699"></span>
      <h2>
        <span class="bm-subhead"></span>
        Meet Our Faculty
    </h2>

    	<div class="bm--buttons">
            <a href="/wheaton-college-conservatory-of-music/faculty/" class="bm--cta style-primary">See All Conservatory Faculty</a>
            <a href="/wheaton-college-conservatory-of-music/music-study-by-area/" class="bm--cta style-outline">See Conservatory Faculty by Area of Study</a>
          </div>
  </header><section class="bm-grid--faculty bm--fluid"><figure class="bm-card--faculty" id="fc142471">
  <img src="https://pxl-wheatonedu.terminalfour.net/fit-in/300x450/filters:format(webp)/prod02/channel_1/media/life-at-wheaton/multicultural/altino-leonardo.jpg" srcset="https://pxl-wheatonedu.terminalfour.net/fit-in/400x600/filters:format(webp)/prod02/channel_1/media/life-at-wheaton/multicultural/altino-leonardo.jpg 400w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/600x900/filters:format(webp)/prod02/channel_1/media/life-at-wheaton/multicultural/altino-leonardo.jpg 600w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/920x1380/filters:format(webp)/prod02/channel_1/media/life-at-wheaton/multicultural/altino-leonardo.jpg 920w" width="200" height="300" style="aspect-ratio: 2/3; object-fit: cover;" alt="Leonardo Altino, M.Mus. Headshot">
<figcaption>
<h3><a href="/academics/faculty/leonardo-altino/">Leonardo Altino, M.Mus.</a></h3>
<span class="faculty--title">Associate Lecturer of Music (Cello)</span>
</figcaption>
</figure><figure class="bm-card--faculty" id="fc158976">
  <img src="https://pxl-wheatonedu.terminalfour.net/fit-in/300x450/filters:format(webp)/prod02/channel_1/media/faculty/Xavier-Beteta-3295.jpg" srcset="https://pxl-wheatonedu.terminalfour.net/fit-in/400x600/filters:format(webp)/prod02/channel_1/media/faculty/Xavier-Beteta-3295.jpg 400w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/600x900/filters:format(webp)/prod02/channel_1/media/faculty/Xavier-Beteta-3295.jpg 600w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/920x1380/filters:format(webp)/prod02/channel_1/media/faculty/Xavier-Beteta-3295.jpg 920w" width="200" height="300" style="aspect-ratio: 2/3; object-fit: cover;" alt="Francisco Xavier Beteta, Ph.D Headshot">
<figcaption>
<h3><a href="/academics/faculty/francisco-xavier-beteta/">Francisco Xavier Beteta, Ph.D</a></h3>
<span class="faculty--title">Associate Professor of Music</span>
</figcaption>
</figure><figure class="bm-card--faculty" id="fc142622">
  <img src="https://pxl-wheatonedu.terminalfour.net/fit-in/300x450/filters:format(webp)/prod02/channel_1/media/media-relations/news-images/buis.jpg" srcset="https://pxl-wheatonedu.terminalfour.net/fit-in/400x600/filters:format(webp)/prod02/channel_1/media/media-relations/news-images/buis.jpg 400w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/600x900/filters:format(webp)/prod02/channel_1/media/media-relations/news-images/buis.jpg 600w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/920x1380/filters:format(webp)/prod02/channel_1/media/media-relations/news-images/buis.jpg 920w" width="200" height="300" style="aspect-ratio: 2/3; object-fit: cover;" alt="Johann Buis, D.A. Headshot">
<figcaption>
<h3><a href="/academics/faculty/johann-buis/">Johann Buis, D.A.</a></h3>
<span class="faculty--title">Associate Professor of Music (Musicology), Coordinator of Music History Area</span>
</figcaption>
</figure><figure class="bm-card--faculty" id="fc284602">
  <img src="https://pxl-wheatonedu.terminalfour.net/fit-in/300x450/filters:format(webp)/prod02/channel_1/media/faculty/Hyejin-Cho-2024.jpg" srcset="https://pxl-wheatonedu.terminalfour.net/fit-in/400x600/filters:format(webp)/prod02/channel_1/media/faculty/Hyejin-Cho-2024.jpg 400w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/600x900/filters:format(webp)/prod02/channel_1/media/faculty/Hyejin-Cho-2024.jpg 600w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/920x1380/filters:format(webp)/prod02/channel_1/media/faculty/Hyejin-Cho-2024.jpg 920w" width="200" height="300" style="aspect-ratio: 2/3; object-fit: cover;" alt="Hyejin Cho, D.M.A. Headshot">
<figcaption>
<h3><a href="/academics/faculty/hyejin-cho/">Hyejin Cho, D.M.A.</a></h3>
<span class="faculty--title">Guest Lecturer, Piano</span>
</figcaption>
</figure><figure class="bm-card--faculty" id="fc186458">
  <img src="https://pxl-wheatonedu.terminalfour.net/fit-in/300x450/filters:format(webp)/prod02/channel_1/media/faculty/Donte-Ford-2-(2)-600X1000.jpg" srcset="https://pxl-wheatonedu.terminalfour.net/fit-in/400x600/filters:format(webp)/prod02/channel_1/media/faculty/Donte-Ford-2-(2)-600X1000.jpg 400w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/600x900/filters:format(webp)/prod02/channel_1/media/faculty/Donte-Ford-2-(2)-600X1000.jpg 600w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/920x1380/filters:format(webp)/prod02/channel_1/media/faculty/Donte-Ford-2-(2)-600X1000.jpg 920w" width="200" height="300" style="aspect-ratio: 2/3; object-fit: cover;" alt="Donté Ford, Ph.D. Headshot">
<figcaption>
<h3><a href="/academics/faculty/donte-ford/">Donté Ford, Ph.D.</a></h3>
<span class="faculty--title">Assistant Professor of Music and Associate Chaplain for Worship Arts</span>
</figcaption>
</figure><figure class="bm-card--faculty" id="fc142723">
  <img src="https://pxl-wheatonedu.terminalfour.net/fit-in/300x450/filters:format(webp)/prod02/channel_1/media/faculty/Sarah-Holman-2955.jpg" srcset="https://pxl-wheatonedu.terminalfour.net/fit-in/400x600/filters:format(webp)/prod02/channel_1/media/faculty/Sarah-Holman-2955.jpg 400w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/600x900/filters:format(webp)/prod02/channel_1/media/faculty/Sarah-Holman-2955.jpg 600w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/920x1380/filters:format(webp)/prod02/channel_1/media/faculty/Sarah-Holman-2955.jpg 920w" width="200" height="300" style="aspect-ratio: 2/3; object-fit: cover;" alt="Sarah Holman, D.M.A. Headshot">
<figcaption>
<h3><a href="/academics/faculty/sarah-holman/">Sarah Holman, D.M.A.</a></h3>
<span class="faculty--title">Professor of Music (Voice)</span>
</figcaption>
</figure><figure class="bm-card--faculty" id="fc142738">
  <img src="https://pxl-wheatonedu.terminalfour.net/fit-in/300x450/filters:format(webp)/prod02/channel_1/media/faculty/Daniel-Paul-Horn-at-the-keyboard-2024.jpg" srcset="https://pxl-wheatonedu.terminalfour.net/fit-in/400x600/filters:format(webp)/prod02/channel_1/media/faculty/Daniel-Paul-Horn-at-the-keyboard-2024.jpg 400w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/600x900/filters:format(webp)/prod02/channel_1/media/faculty/Daniel-Paul-Horn-at-the-keyboard-2024.jpg 600w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/920x1380/filters:format(webp)/prod02/channel_1/media/faculty/Daniel-Paul-Horn-at-the-keyboard-2024.jpg 920w" width="200" height="300" style="aspect-ratio: 2/3; object-fit: cover;" alt="Daniel Paul Horn, D.M.A. Headshot">
<figcaption>
<h3><a href="/academics/faculty/daniel-paul-horn/">Daniel Paul Horn, D.M.A.</a></h3>
<span class="faculty--title">Professor of Music (Piano); Chair of Keyboard Area</span>
</figcaption>
</figure><figure class="bm-card--faculty" id="fc142756">
  <img src="https://pxl-wheatonedu.terminalfour.net/fit-in/300x450/filters:format(webp)/prod02/channel_1/media/faculty/Lee-Joiner-200X300.jpg" srcset="https://pxl-wheatonedu.terminalfour.net/fit-in/400x600/filters:format(webp)/prod02/channel_1/media/faculty/Lee-Joiner-200X300.jpg 400w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/600x900/filters:format(webp)/prod02/channel_1/media/faculty/Lee-Joiner-200X300.jpg 600w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/920x1380/filters:format(webp)/prod02/channel_1/media/faculty/Lee-Joiner-200X300.jpg 920w" width="200" height="300" style="aspect-ratio: 2/3; object-fit: cover;" alt="Lee Joiner, D.M.A. Headshot">
<figcaption>
<h3><a href="/wheaton-college-conservatory-of-music/faculty/music-faculty-emeriti/lee-joiner/">Lee Joiner, D.M.A.</a></h3>
<span class="faculty--title">Associate Professor of Music Emeritus (violin)</span>
</figcaption>
</figure><figure class="bm-card--faculty" id="fc287827">
  <img src="https://pxl-wheatonedu.terminalfour.net/fit-in/300x450/filters:format(webp)/prod02/channel_1/media/faculty/Caroline-Jones-3575.jpg" srcset="https://pxl-wheatonedu.terminalfour.net/fit-in/400x600/filters:format(webp)/prod02/channel_1/media/faculty/Caroline-Jones-3575.jpg 400w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/600x900/filters:format(webp)/prod02/channel_1/media/faculty/Caroline-Jones-3575.jpg 600w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/920x1380/filters:format(webp)/prod02/channel_1/media/faculty/Caroline-Jones-3575.jpg 920w" width="200" height="300" style="aspect-ratio: 2/3; object-fit: cover;" alt="Caroline Jones, B.M., M.M. Headshot">
<figcaption>
<h3><a href="/academics/faculty/caroline-jones/">Caroline Jones, B.M., M.M.</a></h3>
<span class="faculty--title">Guest Lecturer in Music</span>
</figcaption>
</figure><figure class="bm-card--faculty" id="fc142764">
  <img src="https://pxl-wheatonedu.terminalfour.net/fit-in/300x450/filters:format(webp)/prod02/channel_1/media/faculty/Kastner-Kathleen.jpg" srcset="https://pxl-wheatonedu.terminalfour.net/fit-in/400x600/filters:format(webp)/prod02/channel_1/media/faculty/Kastner-Kathleen.jpg 400w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/600x900/filters:format(webp)/prod02/channel_1/media/faculty/Kastner-Kathleen.jpg 600w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/920x1380/filters:format(webp)/prod02/channel_1/media/faculty/Kastner-Kathleen.jpg 920w" width="200" height="300" style="aspect-ratio: 2/3; object-fit: cover;" alt="Kathleen Kastner, D.M.A. Headshot">
<figcaption>
<h3><a href="/academics/faculty/kathleen-kastner/">Kathleen Kastner, D.M.A.</a></h3>
<span class="faculty--title">Professor of Music (Percussion, Percussion Ensemble, Music History) Emerita</span>
</figcaption>
</figure><figure class="bm-card--faculty" id="fc287217">
  <img src="https://pxl-wheatonedu.terminalfour.net/fit-in/300x450/filters:format(webp)/prod02/channel_1/media/faculty/marianne-kim-2024.jpg" srcset="https://pxl-wheatonedu.terminalfour.net/fit-in/400x600/filters:format(webp)/prod02/channel_1/media/faculty/marianne-kim-2024.jpg 400w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/600x900/filters:format(webp)/prod02/channel_1/media/faculty/marianne-kim-2024.jpg 600w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/920x1380/filters:format(webp)/prod02/channel_1/media/faculty/marianne-kim-2024.jpg 920w" width="200" height="300" style="aspect-ratio: 2/3; object-fit: cover;" alt="Marianne Kim, B.M., M.M. Headshot">
<figcaption>
<h3><a href="/academics/faculty/marianne-kim/">Marianne Kim, B.M., M.M.</a></h3>
<span class="faculty--title">Guest Lecturer in Music</span>
</figcaption>
</figure><figure class="bm-card--faculty" id="fc301290">
  <img src="https://pxl-wheatonedu.terminalfour.net/fit-in/300x450/filters:format(webp)/prod02/channel_1/media/faculty/chuck-king-1000X1500.jpg" srcset="https://pxl-wheatonedu.terminalfour.net/fit-in/400x600/filters:format(webp)/prod02/channel_1/media/faculty/chuck-king-1000X1500.jpg 400w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/600x900/filters:format(webp)/prod02/channel_1/media/faculty/chuck-king-1000X1500.jpg 600w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/920x1380/filters:format(webp)/prod02/channel_1/media/faculty/chuck-king-1000X1500.jpg 920w" width="200" height="300" style="aspect-ratio: 2/3; object-fit: cover;" alt="Charles King Headshot">
<figcaption>
<h3><a href="/academics/faculty/charles-king/">Charles King</a></h3>
<span class="faculty--title">Guest Lecturer in Music</span>
</figcaption>
</figure><figure class="bm-card--faculty" id="fc224068">
  <img src="https://pxl-wheatonedu.terminalfour.net/fit-in/300x450/filters:format(webp)/prod02/channel_1/media/faculty/Benjamin-Klemme-1000X1200.jpg" srcset="https://pxl-wheatonedu.terminalfour.net/fit-in/400x600/filters:format(webp)/prod02/channel_1/media/faculty/Benjamin-Klemme-1000X1200.jpg 400w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/600x900/filters:format(webp)/prod02/channel_1/media/faculty/Benjamin-Klemme-1000X1200.jpg 600w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/920x1380/filters:format(webp)/prod02/channel_1/media/faculty/Benjamin-Klemme-1000X1200.jpg 920w" width="200" height="300" style="aspect-ratio: 2/3; object-fit: cover;" alt="Benjamin Klemme , D.M.A. Headshot">
<figcaption>
<h3><a href="/academics/faculty/benjamin-klemme/">Benjamin Klemme , D.M.A.</a></h3>
<span class="faculty--title">Associate Professor of Music; Symphony Orchestra Conductor</span>
</figcaption>
</figure><figure class="bm-card--faculty" id="fc224053">
  <img src="https://pxl-wheatonedu.terminalfour.net/fit-in/300x450/filters:format(webp)/prod02/channel_1/media/faculty/mcneil_headshot.png" srcset="https://pxl-wheatonedu.terminalfour.net/fit-in/400x600/filters:format(webp)/prod02/channel_1/media/faculty/mcneil_headshot.png 400w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/600x900/filters:format(webp)/prod02/channel_1/media/faculty/mcneil_headshot.png 600w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/920x1380/filters:format(webp)/prod02/channel_1/media/faculty/mcneil_headshot.png 920w" width="200" height="300" style="aspect-ratio: 2/3; object-fit: cover;" alt="Brady McNeil, Ph.D. Headshot">
<figcaption>
<h3><a href="/academics/faculty/brady-mcneil/">Brady McNeil, Ph.D.</a></h3>
<span class="faculty--title">Assistant Professor of Music - Music Education; Symphonic Band Conductor
</span>
</figcaption>
</figure><figure class="bm-card--faculty" id="fc142801">
  <img src="https://pxl-wheatonedu.terminalfour.net/fit-in/300x450/filters:format(webp)/prod02/channel_1/media/center-for-applied-christian-ethics/shawn-okpebholo-composer-photo-(1).jpeg" srcset="https://pxl-wheatonedu.terminalfour.net/fit-in/400x600/filters:format(webp)/prod02/channel_1/media/center-for-applied-christian-ethics/shawn-okpebholo-composer-photo-(1).jpeg 400w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/600x900/filters:format(webp)/prod02/channel_1/media/center-for-applied-christian-ethics/shawn-okpebholo-composer-photo-(1).jpeg 600w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/920x1380/filters:format(webp)/prod02/channel_1/media/center-for-applied-christian-ethics/shawn-okpebholo-composer-photo-(1).jpeg 920w" width="200" height="300" style="aspect-ratio: 2/3; object-fit: cover;" alt="Shawn Okpebholo, D.M.A. Headshot">
<figcaption>
<h3><a href="/academics/faculty/shawn-okpebholo/">Shawn Okpebholo, D.M.A.</a></h3>
<span class="faculty--title">Professor of Music (Composition, Music Theory)</span>
</figcaption>
</figure><figure class="bm-card--faculty" id="fc187111">
  <img src="https://pxl-wheatonedu.terminalfour.net/fit-in/300x450/filters:format(webp)/prod02/channel_1/media/faculty/soh-hyun-altino.jpg" srcset="https://pxl-wheatonedu.terminalfour.net/fit-in/400x600/filters:format(webp)/prod02/channel_1/media/faculty/soh-hyun-altino.jpg 400w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/600x900/filters:format(webp)/prod02/channel_1/media/faculty/soh-hyun-altino.jpg 600w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/920x1380/filters:format(webp)/prod02/channel_1/media/faculty/soh-hyun-altino.jpg 920w" width="200" height="300" style="aspect-ratio: 2/3; object-fit: cover;" alt="Soh-Hyun Park Altino, D.M.A. Headshot">
<figcaption>
<h3><a href="/academics/faculty/soh-hyun-park-altino/">Soh-Hyun Park Altino, D.M.A.</a></h3>
<span class="faculty--title">Associate Professor of Music (Violin)</span>
</figcaption>
</figure><figure class="bm-card--faculty" id="fc142840">
  <img src="https://pxl-wheatonedu.terminalfour.net/fit-in/300x450/filters:format(webp)/prod02/channel_1/media/faculty/IMG_2176-1000X1200.JPG" srcset="https://pxl-wheatonedu.terminalfour.net/fit-in/400x600/filters:format(webp)/prod02/channel_1/media/faculty/IMG_2176-1000X1200.JPG 400w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/600x900/filters:format(webp)/prod02/channel_1/media/faculty/IMG_2176-1000X1200.JPG 600w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/920x1380/filters:format(webp)/prod02/channel_1/media/faculty/IMG_2176-1000X1200.JPG 920w" width="200" height="300" style="aspect-ratio: 2/3; object-fit: cover;" alt="Jonathan Saylor, Ph.D. Headshot">
<figcaption>
<h3><a href="/academics/faculty/jonathan-saylor/">Jonathan Saylor, Ph.D.</a></h3>
<span class="faculty--title">Professor of Music (Music History, Bassoon), Chair of Wind Area</span>
</figcaption>
</figure><figure class="bm-card--faculty" id="fc285983">
  <img src="https://pxl-wheatonedu.terminalfour.net/fit-in/300x450/filters:format(webp)/prod02/channel_1/media/faculty/Noel-Streacker-picture-200X300.png" srcset="https://pxl-wheatonedu.terminalfour.net/fit-in/400x600/filters:format(webp)/prod02/channel_1/media/faculty/Noel-Streacker-picture-200X300.png 400w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/600x900/filters:format(webp)/prod02/channel_1/media/faculty/Noel-Streacker-picture-200X300.png 600w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/920x1380/filters:format(webp)/prod02/channel_1/media/faculty/Noel-Streacker-picture-200X300.png 920w" width="200" height="300" style="aspect-ratio: 2/3; object-fit: cover;" alt="Noel Streacker, B.M., M.M.  Headshot">
<figcaption>
<h3><a href="/community/csa/about-csa/instructors/noel-streacker/">Noel Streacker, B.M., M.M. </a></h3>
<span class="faculty--title">Adjunct Faculty, Director of Percussion Ensemble, CSA Special Needs Instructor</span>
</figcaption>
</figure><figure class="bm-card--faculty" id="fc284598">
  <img src="https://pxl-wheatonedu.terminalfour.net/fit-in/300x450/filters:format(webp)/prod02/channel_1/media/faculty/John-Swedberg.jpg" srcset="https://pxl-wheatonedu.terminalfour.net/fit-in/400x600/filters:format(webp)/prod02/channel_1/media/faculty/John-Swedberg.jpg 400w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/600x900/filters:format(webp)/prod02/channel_1/media/faculty/John-Swedberg.jpg 600w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/920x1380/filters:format(webp)/prod02/channel_1/media/faculty/John-Swedberg.jpg 920w" width="200" height="300" style="aspect-ratio: 2/3; object-fit: cover;" alt="John Swedberg Headshot">
<figcaption>
<h3><a href="/academics/faculty/john-swedberg-/">John Swedberg</a></h3>
<span class="faculty--title">Guest Instructor, Men's Glee Club Conductor</span>
</figcaption>
</figure><figure class="bm-card--faculty" id="fc225130">
  <img src="https://pxl-wheatonedu.terminalfour.net/fit-in/300x450/filters:format(webp)/prod02/channel_1/media/faculty/John-Trotter-3166-1000X1200.jpg" srcset="https://pxl-wheatonedu.terminalfour.net/fit-in/400x600/filters:format(webp)/prod02/channel_1/media/faculty/John-Trotter-3166-1000X1200.jpg 400w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/600x900/filters:format(webp)/prod02/channel_1/media/faculty/John-Trotter-3166-1000X1200.jpg 600w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/920x1380/filters:format(webp)/prod02/channel_1/media/faculty/John-Trotter-3166-1000X1200.jpg 920w" width="200" height="300" style="aspect-ratio: 2/3; object-fit: cover;" alt="John William Trotter, D.M.A. Headshot">
<figcaption>
<h3><a href="/academics/faculty/john-trotter/">John William Trotter, D.M.A.</a></h3>
<span class="faculty--title">Professor of Music (Concert Choir, Conducting)</span>
</figcaption>
</figure><figure class="bm-card--faculty" id="fc284592">
  <img src="https://pxl-wheatonedu.terminalfour.net/fit-in/300x450/filters:format(webp)/prod02/channel_1/media/faculty/lydia-vermeesh-2024-1000X1200.jpg" srcset="https://pxl-wheatonedu.terminalfour.net/fit-in/400x600/filters:format(webp)/prod02/channel_1/media/faculty/lydia-vermeesh-2024-1000X1200.jpg 400w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/600x900/filters:format(webp)/prod02/channel_1/media/faculty/lydia-vermeesh-2024-1000X1200.jpg 600w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/920x1380/filters:format(webp)/prod02/channel_1/media/faculty/lydia-vermeesh-2024-1000X1200.jpg 920w" width="200" height="300" style="aspect-ratio: 2/3; object-fit: cover;" alt="Lydia Vermeesch, M.M. Headshot">
<figcaption>
<h3><a href="/academics/faculty/lydia-vermeesch/">Lydia Vermeesch, M.M.</a></h3>
<span class="faculty--title">Guest Instructor, Women’s Chorale Conductor </span>
</figcaption>
</figure><figure class="bm-card--faculty" id="fc142915">
  <img src="https://pxl-wheatonedu.terminalfour.net/fit-in/300x450/filters:format(webp)/prod02/channel_1/media/faculty/Michael-Wilder-2023.jpg" srcset="https://pxl-wheatonedu.terminalfour.net/fit-in/400x600/filters:format(webp)/prod02/channel_1/media/faculty/Michael-Wilder-2023.jpg 400w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/600x900/filters:format(webp)/prod02/channel_1/media/faculty/Michael-Wilder-2023.jpg 600w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/920x1380/filters:format(webp)/prod02/channel_1/media/faculty/Michael-Wilder-2023.jpg 920w" width="200" height="300" style="aspect-ratio: 2/3; object-fit: cover;" alt="Michael Wilder, Ph.D. Headshot">
<figcaption>
<h3><a href="/academics/faculty/michael-wilder/">Michael Wilder, Ph.D.</a></h3>
<span class="faculty--title">Dean of the Conservatory of Music and Division of Arts and Communication</span>
</figcaption>
</figure><figure class="bm-card--faculty" id="fc174603">
  <img src="https://pxl-wheatonedu.terminalfour.net/fit-in/300x450/filters:format(webp)/prod02/channel_1/media/faculty/Zimmermann-.jpg" srcset="https://pxl-wheatonedu.terminalfour.net/fit-in/400x600/filters:format(webp)/prod02/channel_1/media/faculty/Zimmermann-.jpg 400w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/600x900/filters:format(webp)/prod02/channel_1/media/faculty/Zimmermann-.jpg 600w,
               https://pxl-wheatonedu.terminalfour.net/fit-in/920x1380/filters:format(webp)/prod02/channel_1/media/faculty/Zimmermann-.jpg 920w" width="200" height="300" style="aspect-ratio: 2/3; object-fit: cover;" alt="Edward Zimmerman, M.M., D.M.A. Headshot">
<figcaption>
<h3><a href="/academics/faculty/edward-zimmerman/">Edward Zimmerman, M.M., D.M.A.</a></h3>
<span class="faculty--title">Professor of Music (Church Music, Organ, Harpsichord, Director of Academic Studies)</span>
</figcaption>
</figure></section></article>
</section>
{% include "sections/bm-section-video.njk" %}


{% include "sections/bm-section-general-content.njk" %}
{% include "sections/bm-section-content-middle.njk" %}
<section class="bm--content-container bm-margins has-bg--white has-jump-menu">
    {% include "components/bm-jump-menu.njk" %}
    <article class="bm--content">
        {% include "components/bm-video-grid.njk" %}
    </article>
</section>

<section class="bm--fluid has-bg--white">
    <header>

    </header>
    <div class="bm-grid--faculty" data-filterable>
        <figure class="bm-card--faculty" data-name="Cherith Lundin" data-department="art">
            <div class="bm-image--mask" data-ar="2:3">
                <img src="https://picsum.photos/270/405/" alt="Wheaton College Meyer Science Center Exterior in Sun" width="270" height="405">
            </div>
            <figcaption>
                <h3><a href="#">Cherith Lundin, M.F.A.</a></h3>
                <span class="faculty--title">Associate Professor of Art, Department Chair</span>
            </figcaption>
        </figure>
        <figure class="bm-card--faculty" data-name="Rebecca" data-department="art">
            <div class="bm-image--mask" data-ar="2:3">
                <img src="https://picsum.photos/270/405/" alt="Wheaton College Meyer Science Center Exterior in Sun" width="270" height="405">
            </div>
            <figcaption>
                <h3><a href="#">rebecca</a></h3>
                <span class="faculty--title">Associate Professor of Art, Department Chair</span>
            </figcaption>
        </figure>
        <figure class="bm-card--faculty" data-name="Annie" data-department="art">
            <div class="bm-image--mask" data-ar="2:3">
                <img src="https://picsum.photos/270/405/" alt="Wheaton College Meyer Science Center Exterior in Sun" width="270" height="405">
            </div>
            <figcaption>
                <h3><a href="#">Annie</a></h3>
                <span class="faculty--title">Associate Professor of Art, Department Chair</span>
            </figcaption>
        </figure>
        <figure class="bm-card--faculty" data-name="Les" data-department="art">
            <div class="bm-image--mask" data-ar="2:3">
                <img src="https://picsum.photos/270/405/" alt="Wheaton College Meyer Science Center Exterior in Sun" width="270" height="405">
            </div>
            <figcaption>
                <h3><a href="#">Les</a></h3>
                <span class="faculty--title">Associate Professor of Art, Department Chair</span>
            </figcaption>
        </figure>
        <figure class="bm-card--faculty" data-name="Joel" data-department="art">
            <div class="bm-image--mask" data-ar="2:3">
                <img src="https://picsum.photos/270/405/" alt="Wheaton College Meyer Science Center Exterior in Sun" width="270" height="405">
            </div>
            <figcaption>
                <h3><a href="#">Joel</a></h3>
                <span class="faculty--title">Associate Professor of Art, Department Chair</span>
            </figcaption>
        </figure>
        <figure class="bm-card--faculty" data-name="Cherith Lundin" data-department="art">
            <div class="bm-image--mask" data-ar="2:3">
                <img src="https://picsum.photos/270/405/" alt="Wheaton College Meyer Science Center Exterior in Sun" width="270" height="405">
            </div>
            <figcaption>
                <h3><a href="#">Cherith Lundin, M.F.A.</a></h3>
                <span class="faculty--title">Associate Professor of Art, Department Chair</span>
            </figcaption>
        </figure>
        <figure class="bm-card--faculty" data-name="Cherith Lundin" data-department="art">
            <div class="bm-image--mask" data-ar="2:3">
                <img src="https://picsum.photos/270/405/" alt="Wheaton College Meyer Science Center Exterior in Sun" width="270" height="405">
            </div>
            <figcaption>
                <h3><a href="#">Cherith Lundin, M.F.A.</a></h3>
                <span class="faculty--title">Associate Professor of Art, Department Chair</span>
            </figcaption>
        </figure>
        <figure class="bm-card--faculty" data-name="Cherith Lundin" data-department="art">
            <div class="bm-image--mask" data-ar="2:3">
                <img src="https://picsum.photos/270/405/" alt="Wheaton College Meyer Science Center Exterior in Sun" width="270" height="405">
            </div>
            <figcaption>
                <h3><a href="#">Cherith Lundin, M.F.A.</a></h3>
                <span class="faculty--title">Associate Professor of Art, Department Chair</span>
            </figcaption>
        </figure>
        <figure class="bm-card--faculty" data-name="Cherith Lundin" data-department="art">
            <div class="bm-image--mask" data-ar="2:3">
                <img src="https://picsum.photos/270/405/" alt="Wheaton College Meyer Science Center Exterior in Sun" width="270" height="405">
            </div>
            <figcaption>
                <h3><a href="#">Cherith Lundin, M.F.A.</a></h3>
                <span class="faculty--title">Associate Professor of Art, Department Chair</span>
            </figcaption>
        </figure>
    </div>
</section>
{% include "components/bm-card-linked.njk" %}
{% include "components/bm-card-image-top.njk" %}