---
layout: layouts/general.njk
section: pages
---
{% include "components/bm-section-menu.njk" %}
{% include "sections/bm-section-video.njk" %}
{% include "sections/bm-section-general-content.njk" %}
{% include "sections/bm-section-content-middle.njk" %}
<section class="bm-grid--faculty bm--fluid">
    {% include "components/bm-faculty.njk" %}
    {% include "components/bm-faculty.njk" %}
    {% include "components/bm-faculty.njk" %}
    {% include "components/bm-faculty.njk" %}
    {% include "components/bm-faculty.njk" %}
    {% include "components/bm-faculty.njk" %}
    {% include "components/bm-faculty.njk" %}
</section>
{% include "components/bm-card-image-top.njk" %}