---
layout: layouts/base.njk
section: home
---
{% include "components/bm-program-finder-2023-data.njk" %}
<main class="is-new-style">
    {% include "components/bm-home-hero.njk" %}
    {% include "components/bm-content-ctas.njk" %}
    {% include "components/bm-gallery-staggered.njk" %}
    {% include "sections/bm-section-stats.njk" %}
    <section class="bm--content-container has-bg--cream is-fullwidth">
        <div class="bm--content">
            {% include "components/bm-section-header.njk" %}
            <article class="bm--text-image" data-image="left" data-size="normal">
                <figure>
                    <img loading="lazy" src="https://placehold.jp/384x587.png" />
                </figure>
                <article class="content">
                    <header>
                        <h2>The component title</h2>
                        <p class="type--lg">Title subhead</p>
                    </header>
                    <div data-layout="2up-half" data-align="start">
                        <div class="bm-stat">
                            <h3><span class="is-large">99<sup>%</sup></span> Employed or in graduate school</h3>
                            <p>Wheaton graduates are highly prepared for what comes next, whether it’s a dream job or an advanced degree.</p>
                            <p><cite>(Class of 2022 data)</cite></p>
                        </div>
                        <div class="bm-stat">
                            <h3><span class="is-large">99<sup>%</sup></span> Employed or in graduate school</h3>
                            <p>Wheaton graduates are highly prepared for what comes next, whether it’s a dream job or an advanced degree.</p>
                            <p><cite>(Class of 2022 data)</cite></p>
                        </div>
                    </div>
                </article>
            </article>
            <article class="bm--text-image" data-image="right" data-size="normal">
                <figure>
                    <img loading="lazy" src="https://placehold.jp/450x450.png" />
                </figure>
                <article class="content">
                    <span class="subhead">Title subhead</span>
                    <h2>The component title</h2>
                </article>
            </article>
        </div>
    </section>

    <section class="bm--content-container is-fullwidth">
        <div class="bm--content">
            {% include "components/bm-carousel-cards.njk" %}
        </div>
    </section>

    <section class="bm--content-container is-widewidth has-bg--light-blue">
        <div data-bravery-carousel="full-heading" data-bravery-carousel-breakout="default">
            <header>
                <h2>Wheaties to Watch</h2>
                <p>Wheaton College students—affectionately called Wheaties—use their God-given talent, intellect, and creativity to make a difference in communities near and far.</p>
                <div class="bm-carousel--controls" data-bravery-carousel-controls="">
                    <button class="bm-carousel--control" data-bravery-carousel-prev="" disabled="">
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><title>Left Arrow</title><path d="M19 12H5M5 12L12 19M5 12L12 5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                        <span class="sr-only">Previous</span>
                    </button>
                    <button class="bm-carousel--control" data-bravery-carousel-next="">
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><title>Right Arrow</title><path d="M5 12H19M19 12L12 5M19 12L12 19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                        <span class="sr-only">Next</span>
                    </button>
                </div>
            </header>
            <div class="bm-carousel--items" data-bravery-carousel-items="" aria-roledescription="carousel">
                <div class="bm--card is-layout-flex is-layout--row">
                    <picture data-ar="2:3">
                        <img loading="lazy" src="https://picsum.photos/400/600" alt="" />
                    </picture>
                    <article>
                        <h3>Unearth</h3>
                        <p>Unearth ancient artifacts at the Tel Shimron Excavations</p>
                        <div class="bm--buttons">
                            <a href="#" class="bm--cta style-outline has-arrow">Sample CTA</a>
                        </div>
                    </article>
                </div>
                <div class="bm--card is-layout-flex is-layout--row">
                    <picture data-ar="2:3">
                        <img loading="lazy" src="https://picsum.photos/400/600" alt="" />
                    </picture>
                    <article>
                        <h3>Unearth</h3>
                        <p>Unearth ancient artifacts at the Tel Shimron Excavations</p>
                        <div class="bm--buttons">
                            <a href="#" class="bm--cta style-outline has-arrow">Sample CTA</a>
                        </div>
                    </article>
                </div>
                <div class="bm--card is-layout-flex is-layout--row">
                    <picture data-ar="2:3">
                        <img loading="lazy" src="https://picsum.photos/400/600" alt="" />
                    </picture>
                    <article>
                        <h3>Unearth</h3>
                        <p>Unearth ancient artifacts at the Tel Shimron Excavations</p>
                        <div class="bm--buttons">
                            <a href="#" class="bm--cta style-outline has-arrow">Sample CTA</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="bm--content-container has-bg--white">
        <header class="bm--section-title">
            <h2 class="is-fancy">With Wheaton</h2>
            <p>Wheaton students put learning into action in many ways, from independent research projects to immersive, enriching faculty-led experiences all around the globe.</p>
        </header>
        <div class="bm--content">
            <div data-bravery-carousel="simple-heading" data-bravery-carousel-breakout="default">
                <header>
                    <h2>With Wheaton you can:</h2>
                    <div class="bm-carousel--controls" data-bravery-carousel-controls="">
                        <button class="bm-carousel--control" data-bravery-carousel-prev="" disabled="">
                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><title>Left Arrow</title><path d="M19 12H5M5 12L12 19M5 12L12 5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                            <span class="sr-only">Previous</span>
                        </button>
                        <button class="bm-carousel--control" data-bravery-carousel-next="">
                            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><title>Right Arrow</title><path d="M5 12H19M19 12L12 5M19 12L12 19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                            <span class="sr-only">Next</span>
                        </button>
                    </div>
                </header>
                <div class="bm-carousel--items" data-bravery-carousel-items="" aria-roledescription="carousel">
                    <div class="bm--card bm--is-card is-vertical is-layout-flex has-bg--cream">
                        <picture data-ar="1:1">
                            <img loading="lazy" src="https://picsum.photos/900/900" alt="" />
                        </picture>
                        <article>
                            <h3>Unearth</h3>
                            <p>Unearth ancient artifacts at the Tel Shimron Excavations</p>
                            <div class="bm--buttons">
                                <a href="#" class="bm--cta style-outline has-arrow">Sample CTA</a>
                            </div>
                        </article>
                    </div>
                    <div class="bm--card bm--is-card is-vertical is-layout-flex has-bg--cream">
                        <picture data-ar="1:1">
                            <img loading="lazy" src="https://picsum.photos/900/900" alt="" />
                        </picture>
                        <article>
                            <h3>Unearth</h3>
                            <p>Unearth ancient artifacts at the Tel Shimron Excavations</p>
                            <div class="bm--buttons">
                                <a href="#" class="bm--cta style-outline has-arrow">Sample CTA</a>
                            </div>
                        </article>
                    </div>
                    <div class="bm--card bm--is-card is-vertical is-layout-flex has-bg--cream">
                        <picture data-ar="1:1">
                            <img loading="lazy" src="https://picsum.photos/475/475" alt="" />
                        </picture>
                        <article>
                            <h3>Unearth</h3>
                            <p>Unearth ancient artifacts at the Tel Shimron Excavations</p>
                            <div class="bm--buttons">
                                <a href="#" class="bm--cta style-outline has-arrow">Sample CTA</a>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bm--content-container has-bg--blue is-fullwidth bm--overlap">
        <div class="bm--content" data-layout="2up-half">
            <article>
                <h2>For Christ &amp; His Kingdom</h2>
                <p class="type--md">These words aren’t just a motto or a mission. It’s a way of life at Wheaton.</p>
                <p>As you grow professionally, you can also continue to grow your relationship with God. At Wheaton, spiritual development is embedded into everything we do.</p>
            </article>
            <aside>
                <nav>
                    <ul class="has-arrow">
                        <li><a href="#">Statement of Faith</a></li>
                        <li><a href="#">Community Covenant</a></li>
                        <li><a href="#">Christ at the Core</a></li>
                        <li><a href="#">Life with God Together</a></li>
                        <li><a href="#">Christ-Centered Diversity Commitment</a></li>
                    </ul>
                </nav>
                <figure data-media="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/6MCtMJDVfic" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </figure>
            </aside>
        </div>
    </section>
    <section class="bm--content-container has-bg--blue is-fullwidth bm--overlap">
        <div class="bm--content" data-layout="2up-half">
            <article>
                <h2>For Christ &amp; His Kingdom</h2>
                <p class="type--md">These words aren’t just a motto or a mission. It’s a way of life at Wheaton.</p>
                <p>As you grow professionally, you can also continue to grow your relationship with God. At Wheaton, spiritual development is embedded into everything we do.</p>
            </article>
            <aside>
                <nav>
                    <ul class="has-arrow">
                        <li><a href="#">Statement of Faith</a></li>
                        <li><a href="#">Community Covenant</a></li>
                        <li><a href="#">Christ at the Core</a></li>
                        <li><a href="#">Life with God Together</a></li>
                        <li><a href="#">Christ-Centered Diversity Commitment</a></li>
                    </ul>
                </nav>
                <figure data-media="image">
                    <picture>
                        <img loading="lazy" src="https://placehold.jp/384x587.png" />
                    </picture>
                    <picture>
                        <img loading="lazy" src="https://placehold.jp/384x587.png" />
                    </picture>
                </figure>
            </aside>
        </div>
    </section>
    {{ content | safe }}
</main>