---
layout: layouts/base.njk
section: home
---
{% include "components/bm-program-finder-2023-data.njk" %}
<main class="is-new-style">
    {% include "components/bm-home-hero.njk" %}
    {% include "components/bm-content-ctas.njk" %}
    {% include "components/bm-gallery-staggered.njk" %}
    {% include "sections/bm-section-stats.njk" %}
    <section class="bm--content-container has-bg--cream is-fullwidth">
        <div class="bm--content">
            {% include "components/bm-section-header.njk" %}
            <article class="bm--text-image" data-image="left" data-size="normal">
                <figure>
                    <img src="https://placehold.jp/384x587.png" />
                </figure>
                <article class="content">
                    <header>
                        <h2>The component title</h2>
                        <p class="type--lg">Title subhead</p>
                    </header>
                    <div data-layout="2up-half" data-align="start">
                        <div class="bm-stat">
                            <h3><span class="is-large">99<sup>%</sup></span> Employed or in graduate school</h3>
                            <p>Wheaton graduates are highly prepared for what comes next, whether it’s a dream job or an advanced degree.</p>
                            <p><cite>(Class of 2022 data)</cite></p>
                        </div>
                        <div class="bm-stat">
                            <h3><span class="is-large">99<sup>%</sup></span> Employed or in graduate school</h3>
                            <p>Wheaton graduates are highly prepared for what comes next, whether it’s a dream job or an advanced degree.</p>
                            <p><cite>(Class of 2022 data)</cite></p>
                        </div>
                    </div>
                </article>
            </article>
            <article class="bm--text-image" data-image="right" data-size="normal">
                <figure>
                    <img src="https://placehold.jp/450x450.png" />
                </figure>
                <article class="content">
                    <span class="subhead">Title subhead</span>
                    <h2>The component title</h2>
                </article>
            </article>
        </div>
    </section>
    <section class="bm--content-container">
        <div class="bm--content">
            {% include "components/bm-carousel-cards.njk" %}
        </div>
    </section>
    <section class="bm--content-container has-bg--blue is-fullwidth bm--overlap">
        <div class="bm--content" data-layout="2up-half">
            <article>
                <h2>For Christ &amp; His Kingdom</h2>
                <p class="type--md">These words aren’t just a motto or a mission. It’s a way of life at Wheaton.</p>
                <p>As you grow professionally, you can also continue to grow your relationship with God. At Wheaton, spiritual development is embedded into everything we do.</p>
            </article>
            <aside>
                <nav>
                    <ul class="has-arrow">
                        <li><a href="#">Statement of Faith</a></li>
                        <li><a href="#">Community Covenant</a></li>
                        <li><a href="#">Christ at the Core</a></li>
                        <li><a href="#">Life with God Together</a></li>
                        <li><a href="#">Christ-Centered Diversity Commitment</a></li>
                    </ul>
                </nav>
                <figure data-media="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/6MCtMJDVfic" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </figure>
            </aside>
        </div>
    </section>
    <section class="bm--content-container has-bg--blue is-fullwidth bm--overlap">
        <div class="bm--content" data-layout="2up-half">
            <article>
                <h2>For Christ &amp; His Kingdom</h2>
                <p class="type--md">These words aren’t just a motto or a mission. It’s a way of life at Wheaton.</p>
                <p>As you grow professionally, you can also continue to grow your relationship with God. At Wheaton, spiritual development is embedded into everything we do.</p>
            </article>
            <aside>
                <nav>
                    <ul class="has-arrow">
                        <li><a href="#">Statement of Faith</a></li>
                        <li><a href="#">Community Covenant</a></li>
                        <li><a href="#">Christ at the Core</a></li>
                        <li><a href="#">Life with God Together</a></li>
                        <li><a href="#">Christ-Centered Diversity Commitment</a></li>
                    </ul>
                </nav>
                <figure data-media="image">
                    <picture>
                        <img src="https://placehold.jp/384x587.png" />
                    </picture>
                    <picture>
                        <img src="https://placehold.jp/384x587.png" />
                    </picture>
                </figure>
            </aside>
        </div>
    </section>
    {{ content | safe }}
</main>