---
layout: layouts/base.njk
section: home
---
{% include "components/bm-home-hero.njk" %}
<main class="is-new-style">
    {% include "components/bm-content-ctas.njk" %}
    {% include "components/bm-gallery-staggered.njk" %}
    <section class="bm--content-container has-bg--light-blue is-fullwidth text-centered align-center">
            <header class="bm--section-title">
                <h2>Rigorous, respected &amp; recognized</h2>
                <p>A top-tier liberal arts education in a Christ-centered community</p>
            </header>
            <section data-layout="4up">
                <div class="bm-stat">
                    <h3><span class="is-large">99<sup>%</sup></span> Employed or in graduate school</h3>
                    <p>Wheaton graduates are highly prepared for what comes next, whether it’s a dream job or an advanced degree.</p>
                    <p><cite>(Class of 2022 data)</cite></p>
                </div>
                <div class="bm-stat">
                    <h3><span class="is-large"><sup>#</sup>12</span> Top 20 best alumni networks</h3>
                    <p>Our thriving international alumni network is active, engaged, and always willing to help other Wheaties succeed.</p>
                    <p><cite>(Princeton Review, 2023)</cite></p>
                </div>
                <div class="bm-stat">
                    <h3><span class="is-large"><sup>TOP</sup>100</span> National liberal arts colleges</h3>
                    <p>Wheaton is consistently ranked among the nation’s best liberal arts colleges.</p>
                    <p><cite>(U.S. News &amp; World Report, 2022)</cite></p>
                </div>
                <div class="bm-stat">
                    <h3><span class="is-large"><sup>#</sup>12</span> Top 20 best alumni networks</h3>
                    <p>Our thriving international alumni network is active, engaged, and always willing to help other Wheaties succeed.</p>
                    <p><cite>(Princeton Review, 2023)</cite></p>
                </div>
            </section>
        </article>
        <div class="bm--buttons">
            <a href="#" class="bm--cta style-outline has-arrow"> More rankings and distinctions</a>
        </div>
    </section>
    {{ content | safe }}
</main>