---
layout: base.njk
section: pages
---
<main class="is-new-style">
{% include "sections/bm-section-news-header.njk" %}
<section class="news-grid is-fullwidth has-inner-margins">
    {% include "components/bm-card-news.njk" %}
    {% include "components/bm-card-news-grid.njk" %}
</section>
</main>