---
layout: base.njk
section: pages
---
{% include "components/bm-hero-news.njk" %}
<main class="is-new-style">
    <div class="news-article-container">
    <article class="news-article">
      <header class="news-article--header">
        <div class="news-article--meta">
          <time datetime="2024-04-29" class="news-article--date">April 29, 2024</time>
        </div>
        <h1 class="news-article--title">
          Associate Professor of New Testament Dr. Esau McCaulley Appointed Jonathan Blanchard Chair of New Testament and Public Theology
        </h1>
      </header>

      <div class="news-article--body">
        <p class="news-article--excerpt">
          Wheaton College is pleased to announce that Associate Professor of New Testament Dr. Esau McCaulley will be appointed to the Jonathan Blanchard Chair of New Testament and Public Theology effective July 1, 2024. This honor recognizes McCaulley's contributions to New Testament scholarship and his service to the church and wider society as a public theologian.
        </p>

        <div class="news-article--content">
          <p>As a scholar, his research and writing focus on Pauline Exegesis and what he has characterized as Black Ecclesial Theology. Black Ecclesial Theology examines the interpretative practices and Scripture reading tendencies of Black churches, theologians, pastors, and denominations in America with particular attention to elements of the Black Church that combine traditional Christian belief with concern for the oppressed.</p>

          <p>He has authored numerous books and articles, including <em>Sharing in the Son's Inheritance: Davidic Messianism and Paul's Worldwide Interpretation of the Abrahamic Land Promise in Galatians</em> (T&T Clark, 2019) and <em>Reading While Black: African American Biblical Interpretation as an Exercise in Hope</em> (IVP Academic, 2020), which won numerous awards including <em>Christianity Today's</em> Book of the Year. McCaulley also served as the editor of <em>New Testament in Color: A Multi-Ethnic Commentary on the New Testament</em> (IVP Academic, 2024). His forthcoming works include <em>The Story of God Commentary New Testament: Colossians and Philemon</em> (Zondervan) and <em>How to Read the Book that Sets You Free: The Bible, Slavery, and Abolition</em> (Yale University Press).</p>
        </div>
      </div>
    </article>
    </div>
</main>