---
layout: general.njk
section: home
title: Program Finder 2023
---

<!-- demo of the program finder.  This is the JS bundle we'll need to pull into T4. -->
<main>
    {{ content | safe }}
    <div id="program-finder-mountpoint"></div>
    {% include "components/bm-program-finder-2023-data.njk" %}
</main>