---
layout: layouts/program.njk
section: grad
---

<main id="content" class="layout-program">
    {% include "sections/bm-section-program-header.njk" %}
    {% include "sections/bm-section-program-features.njk" %}
    <section id="value" class="bm--section-value">
        <h2>Why Study Anthropology at Wheaton?</h2>
        {% include "components/bm-stat-callout.njk" %}
    </section>
    {% include "sections/bm-section-rfi.njk" %}
    {% include "sections/bm-section-3card.njk" %}
</main>