---
layout: layouts/program.njk
section: pages
---
{% include "components/bm-give-floater.njk" %}
<main id="content" class="layout-program is-new-style">
    {% include "sections/bm-section-program-header.njk" %}
    {% include "sections/bm-section-program-features.njk" %}
    <section id="value" class="bm--section-value">
        <h2>Why Study Anthropology at Wheaton?</h2>
        {% include "components/bm-stat-callout.njk" %}
    </section>
    {% include "sections/bm-section-rfi.njk" %}
    <section class="bm--video is-fullwidth has-bg--light-blue">
        <header><h2>Video Heading Huzzah</h2></header>
        {% include "components/bm-video-embed.njk" %}
    </section>
    {% include "sections/bm-section-3card.njk" %}
    {% include "components/bm-cta-callout.njk" %}
    {% include "components/bm-text-image.njk" %}
</main>