button.form_button_submit,
.bravery button,
.bravery a[class^="button"],
.bravery button[class^="button"],
.bravery .bm--cta,
.bravery .cta,
.is-new-style a[class^="button"],
.is-new-style button[class^="button"],
.is-new-style [class^="button"] > a,
.bm--cta {
    appearance: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px 18px;
    gap: var(--space--gap-regular);
    font-family: var(--wc-font-family--sans-serif);
    font-size: var(--type-size--small);
    background-color: var(--color--white);
    border: 1px solid var(--color--grey-300);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 4px;
    color: var(--color--blue-600);
    transition: all 200ms linear;
    > svg {
        width: 24px;
        height:24px;
    }
    &:hover {
        background: var(--color--grey-50);
        border-color: var(--color--grey-400);
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    }
    &:focus {
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #F2F4F7;
    }
}
// Button Styles
.style-ghost {
    border: 0;
    box-shadow: none !important;
    padding-inline-start: var(--space--grid-unit);
    padding-inline-end: var(--space--grid-unit);
    &.invert {
        background-color: transparent;
        color: inherit;
    }
}
.style-bold,
.style-primary,
a.button-download,
.button.download,
.button-primary > a,
.button-download > a {
    background: var(--color--blue-600) !important;
    color: var(--color--white) !important;
    &:hover {
        background-color: var(--color--blue-700) !important;
    }
}
.style-secondary {
    background-color: var(--color--white);
}
.style-loud {
    background-color: var(--color--orange-600);
    border-color: var(--color--orange-700);
    color: var(--color--white);
    box-shadow: 0px 1px 2px rgba(#D57435, 0.05);
    &:hover {
        box-shadow: 0px 1px 2px rgba(#D57435, 0.05);
        background-color: var(--color--orange-700);
        border-color: var(--color--orange-700);
    }
    &:active {
        box-shadow: 0px 1px 2px rgba(#D57435, 0.05);
        border-color: var(--color--orange-700);
    }
}
.bm--callout {
    .style-bold,
    .style-primary {
        background: var(--color--white);
        color: var(--color--blue-600);
        &:hover {
            background-color: var(--color--cyan-500);
            color: var(--color--white);
        }
    }
    .style-outline {
        border-color: var(--color--white);
        background-color: var(--color--blue-600);
        color: var(--color--white);
        &:hover {
            background-color: var(--color--white);
            color: var(--color--blue-600);
        }
    }
}
.menu-more .label {
    display: none;
}
a[class^="button"],
[class^="button"] > a,
a.bm--cta,
a.cta {
    text-decoration: none;
}
@media (min-width: 1024px) {
    .menu-more .label {
        display: inline;
        font-size: var(--type-size--medium);
    }
    button,
    .button,
    .bm--cta
    .cta {
        >svg {
            height: 20px;
            width: 20px;
        }
    }
}

.bm--giving {
    position: absolute;
    left: 1.5vw;
    transform: translateY(-5px);
    font-weight: 600;
}
.bm--buttons,
.bm--actions {
    display: flex;
    align-items: flex-start;
    gap: var(--space--gap-medium);
    &.is-stacked {
        flex-direction: column;
        margin-block-end: var(--space--gap-large);
        align-items: stretch;
    }
}
.bm--cta-link {
    font-weight: 500;
    display: inline-flex;
    gap: 8px;
    color: var(--color--blue-600);
    text-underline-offset: 5px;
    align-items: center;
    &:after {
        content: "";
        background-color: currentColor;
        mask: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.41079 3.57611C9.73622 3.25067 10.2639 3.25067 10.5893 3.57611L16.4226 9.40944C16.7481 9.73488 16.7481 10.2625 16.4226 10.588L10.5893 16.4213C10.2639 16.7467 9.73622 16.7467 9.41079 16.4213C9.08535 16.0958 9.08535 15.5682 9.41079 15.2428L13.8215 10.832H4.16671C3.70647 10.832 3.33337 10.4589 3.33337 9.9987C3.33337 9.53846 3.70647 9.16536 4.16671 9.16536H13.8215L9.41079 4.75462C9.08535 4.42918 9.08535 3.90155 9.41079 3.57611Z' fill='currentColor'/%3E%3C/svg%3E%0A");
        display: block;
        width: 20px;
        height: 20px;
        transition: all .15s ease-in-out;
        position: relative;
    }
    &:hover {
        &:after {
            transform: translateX(-2px);
        }
    }
}
// Button group
.bm--buttons {
    display: flex;
    gap: var(--space--gap-large);
    justify-content: flex-start;
}

.button.download,
.button-download > a {
    display: inline-flex;
    gap: var(--space--gap-regular);
    text-decoration: none !important;
    align-items: center;
    color: inherit;
    &:after {
        content: "";
        background-color: var(--color--orange-600);
        mask: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.7071 7.79289C16.0976 8.18342 16.0976 8.81658 15.7071 9.20711L8.70711 16.2071C8.31658 16.5976 7.68342 16.5976 7.29289 16.2071L0.292893 9.20711C-0.0976318 8.81658 -0.0976318 8.18342 0.292893 7.79289C0.683417 7.40237 1.31658 7.40237 1.70711 7.79289L7 13.0858L7 1.5C7 0.947715 7.44772 0.5 8 0.5C8.55228 0.5 9 0.947715 9 1.5L9 13.0858L14.2929 7.79289C14.6834 7.40237 15.3166 7.40237 15.7071 7.79289Z' fill='%23D57435'/%3E%3C/svg%3E");
        display: block;
        width: 19px;
        height: 20px;
        transition: all .15s ease-in-out;
        position: relative;
    }

}
.button-download {
    display: inline-flex !important;
}

.icon-reverse svg {
    rotate: 180deg;
}

.is-style-fill {
    width: 100%;
    flex: 1 100%;
}