// from layouts
.bm--page-title {
    padding-block-start: calc(var(--space--grid-unit) * 6);
    @media (min-width: 1024px) {
        padding-block-start: calc(var(--space--grid-unit) * 10);
    }
    @media (min-width: 1300px) {
        padding-block-start: calc(var(--space--grid-unit) * 23);
    }
}
.container--blue-dark {
    color: #fff !important;
}
.hero__content h1,
.hero__content h2,
.container--blue-dark h1,
.container--blue-dark h2,
.container--blue-dark h3 {
    color: inherit;
}

.no-sidebar {
    .main {
        float: none !important;
        &:after {
            content: "";
            display: block;
            clear: both;
        }
        @media (min-width: 64em) {
            float: none !important;
        }
    }
}

.overlay-menu {
    // existing styles
}

@media (prefers-reduced-motion: reduce) {
    .overlay-menu {
        transition: none !important;
    }
    .overlay-menu .full-search,
    .overlay-menu .nav-menu--header,
    .bm-carousel--items .bm--card,
    .finder,
    .program-finder-2023 .col1,
    .program-finder-2023 .col2 {
        animation: none !important;
        transition: none !important;
    }
}