.type--xxl {
    font-size: var(--type-size--xxl);
    line-height: 1;
}
.type--xl {
    font-size: var(--type-size--xl);
    line-height: 1.1;
}
.type--lg {
    font-size: var(--type-size--large);
    line-height: 1.13;
}
.type--md {
    font-size: var(--type-size--medium);
    line-height: 1.165;
}
.type--regular {
    font-size: var(--type-size--regular);
    line-height: 1.23;
}
.type--small {
    font-size: var(--type-size--small);
    line-height: 1.2;
    font-weight: 500;
    color: var(--color--grey-700);
}
.type--xs {
    font-size: var(--type-size--xsmall);
    line-height: 1.2;
}
.type--tiny {
    font-size: var(--type-size--tiny);
    line-height: 1.2;
}

.is-large {
    font-size: var(--type-size--xl) !important;
    line-height: 1.5;
    letter-spacing: -.02em;
}
.text-centered {
    text-align: center;
}
sup {
    font-size: 0.5em;
}