<header data-size="normal" class="main-header">
    <a href="/" title="Wheaton College homepage">
        <img id="nav-logo-main" src="/public/images/svg/logo-main.svg" />
    </a>

    <nav class="main-navigation">
        <a class="main-navigation-link" href="/academics">Academics</a>
        <a class="main-navigation-link" href="/costaid">Cost & Aid</a>
        <a class="main-navigation-link" href="/lifeatwheaton">Life at Wheaton</a>

        <button onclick="showOverlay()" class="menu-button-more" aria-expanded="false" tabindex="0">More<img
                class="menu-more-icon" src="/public/images/svg/icon-menu.svg" />
        </button>

        <button onclick="showOverlay()" id="menu-button-more-mobile" aria-expanded="false" tabindex="0"><img
                class="menu-more-icon" src="/public/images/svg/icon-menu.svg" />
        </button>
        
        <!-- overlay component start -->
        <div id="menu-overlay-content-wrapper" class="overlay">
            <a href="javascript:void(0)" class="closebtn" onclick="closeOverlay()">&times;</a>

            <section class="overlay-content" id="bm--full-menu" data-state="hidden" data-feature="nav">
                <div class="overlay-content">
                    <a href="#">About</a>
                    <a href="#">Services</a>
                    <a href="#">Clients</a>
                    <a href="#">Contact</a>
                </div>
                <header class="full-search">
                    <form class="search" action="https://search.wheaton.edu/s/search.html" method="GET">
                        <input name="collection" type="hidden" value="wheaton-search">
                        <label for="search-input">Search
                            <span class="twitter-typeahead"
                                style="position: relative; display: inline-block;"><input
                                    class="search__input tt-input" type="search" placeholder="Search website"
                                    id="search-input" name="query" autocomplete="off" spellcheck="false" dir="auto"
                                    style="position: relative; vertical-align: top;">
                                <pre aria-hidden="true"></pre>
                                <div class="tt-menu"
                                    style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;">
                                    <div class="tt-dataset tt-dataset-organic"></div>
                                </div>
                            </span>
                        </label>
                        <button class="search__button" type="submit"><span class="hide">Search</span></button>
                    </form>
                </header>

            </section>
        </div>
        <!-- overlay component end -->



    </nav>
    <section class="nav-actions">
        <a href="/apply" class="nav-actions-link">Apply</a>
        <a href="/visit" class="nav-actions-link">Visit</a>
        <button onclick="showOverlay()" class="search-button" aria-expanded="false" tabindex="0">
            <img class=search-icon src="/public/images/svg/icon-search.svg" />
        </button>
    </section>
</header>