:root {
    --wc-font-family--serif: "arno-pro-display", serif;
    --wc-font-family--sans-serif: "futura-pt", sans-serif;
    --wc-font-family--display: var(--wc-font-family--serif);
    --type-size--super: clamp(2.75rem, calc(2.3rem + 7.26vw), 6.38rem);
    --type-size--xxl: clamp(2.75rem, calc(1rem + 7.26vw), 4.5rem);
    --type-size--xl-fluid: clamp(2.55rem, calc(-0.25rem + 4.39vw), 4.50rem);
    --type-size--xl: 2.75rem;
    --type-size--large: 1.875rem;
    --type-size--medium: 1.5rem;
    --type-size--base: 1.125rem;
    --type-size--regular: var(--type-size--base);
    --type-size--small: 1rem;
    --type-size--xsmall: 0.875rem;
    --type-size--tiny: 0.75rem;
    --wc-line-height: 1.5;
    --type-size--display-2xl: 4.5rem;
    --type-size--display-xl: 3.75rem;
    --type-size--display-lg: 3rem;
    --type-size--display-md: 2.25rem;
    --type-size--display-sm: 1.875rem;
    --type-size--display-xs: 1.5rem;
    --type-size--text-xl: 1.25rem;
    --type-size--text-lg: 1.125rem;
    --type-size--text-md: 1rem;
    --type-size--text-regular: 1rem;
    --type-size--text-sm: 0.875rem;
    --type-size--text-xs: 0.75rem;
    --color--blue-900: #0b1f3a;
    --color--blue-800: #0f2a50;
    --color--blue-600: #114f8f;
    --color--blue-dark: #133666;
    --color--blue-700: #133666;
    --color--blue-300: #a8d7ff;
    --color--blue-250: #acc9ea;
    --color--cyan-500: #1c9ad6;
    --color--cyan-25: #f2fbff;
    --color--white: #fff;
    --color--cream: #fcfaf5;
    --color--orange-600: #d57435;
    --color--orange-700: #a84c11;
    --color--grey-50: #f9fafb;
    --color--grey-100: #f2f4f7;
    --color--grey-300: #d0d5dd;
    --color--grey-400: #a1a8b3;
    --color--grey-600: #525b67;
    --color--grey-700: #434a54;
    --color--grey-900: #141a28;
    --gradient--blue-primary: linear-gradient(45deg, var(--color--blue-800) 0%, var(--color--blue-600) 100%);
    --gradient--blue-light: linear-gradient(180deg, rgba(242, 251, 255, .5) 0%, var(--color--cyan-25) 100%);
    --elevation--large: 0px 12px 16px -4px rgba(16, 24, 40, .08), 0px 4px 6px -2px rgba(16, 24, 40, .03);
    --elevation--large-invert: 4px 12px 16px 0 rgba(16, 24, 40, .08), 2px 4px 6px 0px rgba(16, 24, 40, .03);
    --space--grid-unit: 8px;
    --space--gap-regular: 8px;
    --space--gap-medium: calc(var(--space--grid-unit)*2);
    --space--gap-large: calc(var(--space--grid-unit)*3);
    --space--gap-xl: calc(var(--space--grid-unit)*4);
    --space--gap-xxl: calc(var(--space--grid-unit)*5);
    --space--gap-3xl: calc(var(--space--grid-unit)*6);
    --max-1280: calc(50vw - 640px);
    --max-1480: calc(-50vw - -740px);
    --full-bleed: calc(-50vw - -640px);
    --corner--radius: calc(var(--space--grid-unit)/2);
    --bm--primary-font: var(--font--serif)
}

*,
:after,
:before {
    box-sizing: border-box
}

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
p {
    margin: 0
}

ol[role=list],
ul[role=list] {
    list-style: none
}

html:focus-within {
    scroll-behavior: smooth
}

body {
    font-size: var(--type-size--base) !important;
    line-height: 1.5;
    min-height: 100vh;
    text-rendering: optimizeSpeed
}

a:not([class]) {
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto
}

img,
picture,
svg {
    display: block;
    max-width: 100%
}

button,
input,
select,
textarea {
    font: inherit
}

hr {
    background-color: var(--color--grey-100);
    border: none;
    display: block;
    height: 1px;
    transition: all .15s ease-in-out;
    width: 100%
}

.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    word-wrap: normal !important;
    border: 0;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

@media (prefers-reduced-motion:reduce) {
    html:focus-within {
        scroll-behavior: auto
    }

    *,
    :after,
    :before {
        animation-duration: .01ms !important;
        animation-iteration-count: 1 !important;
        scroll-behavior: auto !important;
        transition-duration: .01ms !important
    }
}

.has-bg--white {
    background: var(--color--white)
}

.has-bg--cream {
    background: var(--color--cream)
}

.has-bg--light-blue {
    background: var(--color--cyan-25)
}

.has-bg--blue {
    background-color: var(--color--blue-600);
    color: var(--color--white)
}

.has-bg--blue-gradient {
    background: var(--gradient--blue-primary);
    color: var(--color--white)
}

.has-bg--blue-gradient-light {
    background: var(--gradient--blue-light)
}

.has-bg--blue.has-watermark {
    background-blend-mode: multiply;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    color: var(--color--white)
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 400
}

.type--xxl,
h1 {
    font-size: var(--type-size--xxl);
    line-height: 1
}

.type--xl,
h2 {
    font-size: var(--type-size--xl);
    line-height: 1.1
}

.type--lg,
h3 {
    font-size: var(--type-size--large);
    line-height: 1.13
}

.type--md,
h4 {
    font-size: var(--type-size--medium);
    line-height: 1.165
}

.type--regular,
h4 {
    font-size: var(--type-size--regular);
    line-height: 1.23
}

.type--small {
    color: var(--color--grey-700);
    font-size: var(--type-size--small);
    font-weight: 500;
    line-height: 1.2
}

.type--xs {
    font-size: var(--type-size--xsmall);
    line-height: 1.2
}

.type--tiny {
    font-size: var(--type-size--tiny);
    line-height: 1.2
}

body {
    font-family: var(--wc-font-family--sans-serif) !important;
    line-height: var(--wc-line-height) !important;
    overflow-x: hidden
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--wc-font-family--display);
    font-weight: 400;
    letter-spacing: -.02em;
    line-height: 1.05;
    margin-bottom: 1rem
}

h1,
h2,
h3 {
    color: var(--color--blue-700)
}

.h1,
.type-xxl,
h1 {
    font-size: var(--type-size--xxl);
    font-weight: 400;
    line-height: 1
}

.h2,
.type-large,
h2 {
    font-size: var(--type-size--xl);
    font-weight: 400
}

.h3,
h3 {
    font-size: var(--type-size--large)
}

.h4,
h4 {
    color: var(--color--blue-700);
    font-family: var(--wc-font-family--san-serif);
    font-size: var(--wc-font-size--text-md);
    font-weight: 500
}

a {
    color: var(--color--blue-600)
}

a:not([class]) {
    text-decoration: underline
}

a:not([class]):hover {
    text-decoration: none
}

.has-arrow a,
a.has-arrow {
    align-items: center;
    display: inline-flex;
    gap: var(--space--grid-unit)
}

.has-arrow a:after,
a.has-arrow:after {
    background-color: var(--color--orange-600);
    content: "";
    display: block;
    height: 16px;
    mask: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M5.529 3.527c.26-.26.682-.26.942 0l4 4c.26.26.26.683 0 .943l-4 4a.667.667 0 1 1-.942-.943L9.057 8 5.53 4.47a.667.667 0 0 1 0-.943Z' clip-rule='evenodd'/%3E%3C/svg%3E");
    -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M5.529 3.527c.26-.26.682-.26.942 0l4 4c.26.26.26.683 0 .943l-4 4a.667.667 0 1 1-.942-.943L9.057 8 5.53 4.47a.667.667 0 0 1 0-.943Z' clip-rule='evenodd'/%3E%3C/svg%3E");
    position: relative;
    transition: all .15s ease-in-out;
    width: 16px
}

.has-arrow a:hover:after,
a.has-arrow:hover:after {
    transform: translateX(-2px)
}

ol,
ul {
    font-size: var(--wc-font-size--text-regular);
    padding-left: 2.5rem
}

ol.bm--bullets-check,
ul.bm--bullets-check {
    padding-left: 20px
}

ol.bm--bullets-check li,
ul.bm--bullets-check li {
    font-size: var(--type-size--regular);
    line-height: 24px;
    list-style-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Crect width='20' height='20' fill='%23DCEFFF' rx='10'/%3E%3Cpath fill='%233D68A2' fill-rule='evenodd' d='M14.247 6.158 8.28 11.917l-1.583-1.692c-.292-.275-.75-.292-1.083-.058a.764.764 0 0 0-.217 1.008l1.875 3.05c.183.283.5.458.858.458.342 0 .667-.175.85-.458.3-.392 6.025-7.217 6.025-7.217.75-.766-.158-1.441-.758-.858v.008Z' clip-rule='evenodd'/%3E%3C/svg%3E");
    text-indent: 8px
}

li {
    font-size: var(--wc-font-size--text-regular) !important;
    font-weight: 400 !important;
    margin-bottom: .75rem !important
}

p {
    font-size: var(--wc-font-size--text-lg);
    margin-bottom: 2rem
}

.bm-subhead {
    color: var(--color--grey-600);
    display: block;
    font-family: var(--wc-font-family--sans-serif) !important;
    font-size: var(--type-size--medium);
    letter-spacing: normal;
    margin-bottom: var(--space--gap-medium)
}

.layout-program h1 {
    font-size: var(--type-size--super)
}

.bm--cta,
.bravery .bm--cta,
.bravery .button,
.bravery .cta,
.bravery button,
button.form_button_submit {
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--color--white);
    border: 1px solid var(--color--grey-300);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
    color: var(--color--blue-600);
    cursor: pointer;
    display: flex;
    font-family: var(--wc-font-family--sans-serif);
    font-size: var(--type-size--small);
    gap: var(--space--gap-regular);
    justify-content: center;
    padding: 10px 18px;
    transition: all .2s linear
}

.bm--cta>svg,
.bravery .bm--cta>svg,
.bravery .button>svg,
.bravery .cta>svg,
.bravery button>svg,
button.form_button_submit>svg {
    height: 24px;
    width: 24px
}

.bm--cta:hover,
.bravery .bm--cta:hover,
.bravery .button:hover,
.bravery .cta:hover,
.bravery button:hover,
button.form_button_submit:hover {
    background: var(--color--grey-50);
    border-color: var(--color--grey-400);
    box-shadow: 0 1px 2px rgba(16, 24, 40, .05)
}

.bm--cta:focus,
.bravery .bm--cta:focus,
.bravery .button:focus,
.bravery .cta:focus,
.bravery button:focus,
button.form_button_submit:focus {
    box-shadow: 0 1px 2px rgba(16, 24, 40, .05), 0 0 0 4px #f2f4f7
}

.style-ghost {
    border: 0;
    box-shadow: none !important;
    padding-left: var(--space--grid-unit);
    padding-right: var(--space--grid-unit)
}

.style-ghost.invert {
    background-color: transparent;
    color: inherit
}

.style-bold,
.style-primary {
    background: var(--color--blue-600) !important;
    color: var(--color--white) !important
}

.style-bold:hover,
.style-primary:hover {
    background-color: var(--color--blue-700) !important
}

.style-secondary {
    background-color: var(--color--white)
}

.style-loud {
    background-color: var(--color--orange-600);
    color: var(--color--white)
}

.style-loud:hover {
    background-color: var(--color--orange-700)
}

.bm--callout .style-bold,
.bm--callout .style-primary {
    background: var(--color--white);
    color: var(--color--blue-600)
}

.bm--callout .style-bold:hover,
.bm--callout .style-primary:hover {
    background-color: var(--color--cyan-500);
    color: var(--color--white)
}

.bm--callout .style-outline {
    background-color: var(--color--blue-600);
    border-color: var(--color--white);
    color: var(--color--white)
}

.bm--callout .style-outline:hover {
    background-color: var(--color--white);
    color: var(--color--blue-600)
}

.menu-more .label {
    display: none
}

a.bm--cta,
a.button,
a.cta {
    text-decoration: none
}

@media (min-width:1024px) {
    .menu-more .label {
        display: inline;
        font-size: var(--type-size--medium)
    }

    .bm--cta .cta>svg,
    .button>svg,
    button>svg {
        height: 20px;
        width: 20px
    }
}

.bm--giving {
    font-weight: 600;
    left: 1.5vw;
    position: absolute;
    transform: translateY(-5px)
}

.bm--buttons {
    align-items: flex-start;
    gap: var(--space--gap-medium)
}

.bm--cta-link {
    align-items: center;
    color: var(--color--blue-600);
    display: inline-flex;
    font-weight: 500;
    gap: 8px;
    text-underline-offset: 5px
}

.bm--cta-link:after {
    background-color: currentColor;
    content: "";
    display: block;
    height: 20px;
    -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M9.41 3.576a.833.833 0 0 1 1.18 0l5.833 5.833a.833.833 0 0 1 0 1.179l-5.834 5.833a.833.833 0 0 1-1.178-1.178l4.41-4.411H4.168a.833.833 0 1 1 0-1.667h9.655L9.41 4.755a.833.833 0 0 1 0-1.179Z' clip-rule='evenodd'/%3E%3C/svg%3E");
    mask: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M9.41 3.576a.833.833 0 0 1 1.18 0l5.833 5.833a.833.833 0 0 1 0 1.179l-5.834 5.833a.833.833 0 0 1-1.178-1.178l4.41-4.411H4.168a.833.833 0 1 1 0-1.667h9.655L9.41 4.755a.833.833 0 0 1 0-1.179Z' clip-rule='evenodd'/%3E%3C/svg%3E");
    position: relative;
    transition: all .15s ease-in-out;
    width: 20px
}

.bm--cta-link:hover:after {
    transform: translateX(-2px)
}

.bm--buttons {
    display: flex;
    gap: var(--space--gap-large);
    justify-content: flex-start
}

.form_label,
label {
    color: var(--color--grey-700);
    font-size: var(--type-size--xsmall) !important;
    font-weight: 500
}

input[type=email],
input[type=tel],
input[type=text],
select {
    background-color: var(--color--white);
    border: 1px solid var(--color--grey-300);
    border-radius: var(--corner--radius);
    font-family: var(--wc-font-family--sans-serif);
    font-size: var(--type-size--small);
    padding: 7px 14px !important
}

input[type=email]:hover,
input[type=tel]:hover,
input[type=text]:hover,
select:hover {
    border-color: var(--color--grey-700)
}

input[type=email]:active,
input[type=email]:focus,
input[type=tel]:active,
input[type=tel]:focus,
input[type=text]:active,
input[type=text]:focus,
select:active,
select:focus {
    border-color: var(--color--blue-600);
    outline-color: var(--color--blue-600);
    outline-offset: 2px
}

.form_action button.form_button_submit {
    background-color: var(--color--grey-600);
    border: 0;
    box-shadow: unset;
    color: var(--color--white);
    width: 100%
}

.form_action button.form_button_submit:hover {
    background-color: var(--color--blue-600)
}

.form_responses button,
.form_responses input:not([type=checkbox]),
.form_responses select {
    width: 100%
}

@media (min-width:1024px) {
    .form_page_1 {
        display: grid;
        gap: var(--space--grid-unit);
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr
    }

    .form_page_1>div {
        grid-column: 1/span 2
    }

    .form_page_1>div[data-export="sys:first"] {
        grid-column: 1
    }

    .form_page_1>div[data-export="sys:last"] {
        grid-column: 2
    }
}

.form_birthdate .form_responses {
    display: flex;
    flex-wrap: nowrap;
    gap: var(--space--grid-unit)
}

.bravery input#query {
    color: var(--color--white)
}

table {
    border-collapse: collapse;
    width: 100%
}

tr:nth-of-type(odd) {
    background: var(--color--grey-100)
}

td,
th {
    border: 1px solid var(--color--grey-300);
    padding: 6px;
    text-align: left
}

th {
    background: var(--color--blue-600);
    border-color: var(--color--blue-600);
    color: var(--color--white);
    font-weight: 700
}

@media (min-device-width:768px) and (max-device-width:1024px),
only screen and (max-width:760px) {

    table,
    tbody,
    td,
    th,
    thead,
    tr {
        display: block
    }

    thead tr {
        left: -9999px;
        position: absolute;
        top: -9999px
    }

    tr {
        border: 1px solid #ccc
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        padding-left: 50%;
        position: relative
    }

    td:before {
        left: 6px;
        padding-right: 10px;
        position: absolute;
        top: 6px;
        white-space: nowrap;
        width: 45%
    }
}

.bm--icon {
    background-color: #e3f2f7;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    border: 6px solid #f2fbff;
    border-radius: 50%;
    display: block;
    height: 40px;
    margin-bottom: var(--space--gap-large);
    width: 40px !important
}

.icon--heart {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%230F3C7D' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z'/%3E%3C/svg%3E")
}

.icon--growth {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%230F3C7D' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='m23 6-9.5 9.5-5-5L1 18'/%3E%3Cpath d='M17 6h6v6'/%3E%3C/g%3E%3C/svg%3E")
}

.icon--target {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%230F3C7D' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Ccircle cx='12' cy='12' r='6'/%3E%3Ccircle cx='12' cy='12' r='2'/%3E%3C/g%3E%3C/svg%3E")
}

.icon--star {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%230F3C7D' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m12 2 3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z'/%3E%3C/svg%3E")
}

.icon--info {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%230F3C7D' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath d='M12 16v-4M12 8h.01'/%3E%3C/g%3E%3C/svg%3E")
}

.icon--book {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%230F3C7D' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2zM22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z'/%3E%3C/g%3E%3C/svg%3E")
}

.icon--globe {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%230F3C7D' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath d='M2 12h20M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z'/%3E%3C/g%3E%3C/svg%3E")
}

.icon--lightbulb {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%230F3C7D' stroke-linecap='square' stroke-miterlimit='10' stroke-width='2'%3E%3Cpath d='M20 9A8 8 0 0 0 4 9a7.997 7.997 0 0 0 5 7.413V19h6v-2.587A7.997 7.997 0 0 0 20 9zM15 19v4H9v-4'/%3E%3Cpath d='M8 9a4 4 0 0 1 4-4'/%3E%3C/g%3E%3C/svg%3E")
}

.main-header.bravery {
    align-items: center;
    background-color: var(--color--white);
    display: flex;
    filter: drop-shadow(0 1px 2px rgba(16, 24, 40, .05));
    gap: var(--space--gap-medium);
    height: 72px;
    justify-content: space-between;
    padding: var(--space--gap-medium);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10
}

.main-header.bravery .branding svg {
    height: 45px;
    width: auto
}

@media (min-width:1024px) {
    .main-header.bravery {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        padding: 0 var(--space--gap-large)
    }

    .main-header.bravery .branding svg {
        height: 72px
    }
}

@media (min-width:1300px) {
    .main-header.bravery {
        padding: 0 var(--space--gap-xl)
    }
}

.main-header.bravery,
.main-header.bravery .overlay-tools {
    color: var(--color--white);
    height: 72px;
    width: 100%
}

@media (min-width:1024px) {

    .main-header.bravery,
    .main-header.bravery .overlay-tools {
        border-top: 4px solid var(--color--blue-600);
        height: 96px
    }
}

.overlay-tools {
    display: flex;
    justify-content: space-between;
    padding: var(--space--gap-medium)
}

@media (min-width:1024px) {
    .overlay-tools {
        padding-bottom: 0;
        padding-top: 0
    }
}

.main-header.style-graduate.bravery {
    background-color: var(--color--blue-900)
}

.main-header.style-graduate.bravery .branding svg {
    height: 55px;
    width: auto
}

@media (min-width:1024px) {
    .main-header.style-graduate.bravery {
        border-color: var(--color--cyan-500)
    }

    .main-header.style-graduate.bravery .branding svg {
        height: 85px;
        width: auto
    }
}

@media (min-width:1300px) {
    .main-header.style-graduate.bravery .branding svg {
        height: 95px;
        width: auto
    }
}

.main-navigation,
.nav-actions {
    align-items: center;
    display: flex;
    gap: var(--space--gap-medium)
}

.main-navigation {
    font-family: var(--wc-font-family--serif);
    gap: var(--space--gap-large);
    order: 3
}

@media (min-width:1024px) {
    .main-navigation {
        flex: 1 auto;
        justify-content: center;
        order: 2
    }
}

.style-graduate .main-navigation {
    font-family: var(--wc-font-family--sans-serif-alt-bold)
}

.main-navigation>a {
    display: none
}

.bravery button.menu-more,
.bravery button.search,
.main-navigation>a {
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 0;
    color: var(--color--blue-600);
    font-family: inherit;
    font-size: var(--type-size--xsmall);
    padding: 10px 0;
    text-decoration: none
}

.bravery button.menu-more:hover,
.bravery button.search:hover,
.main-navigation>a:hover {
    background: transparent;
    border-bottom-color: var(--color--orange-600);
    transition: all .2s linear
}

@media (min-width:1024px) {

    .bravery button.menu-more,
    .bravery button.search,
    .main-navigation>a {
        display: flex;
        font-size: var(--type-size--medium)
    }
}

.style-graduate .bravery button.menu-more,
.style-graduate .bravery button.search,
.style-graduate .main-navigation>a {
    color: inherit;
    font-family: var(--wc-font-family--sans-serif-alt-bold)
}

.bravery.style-graduate button.menu-more,
.bravery.style-graduate button.search {
    color: inherit !important
}

.main-header:not(.slate-nav).main-navigation .menu-link,
.nav-actions:is(.slate-nav) {
    display: none
}

@media (min-width:1024px) {

    .main-header:not(.slate-nav).main-navigation .menu-link,
    .nav-actions:is(.slate-nav) {
        display: inline-flex
    }
}

.nav-actions {
    flex: 1 auto;
    justify-content: flex-end;
    order: 2
}

.nav-actions>.cta--visit,
.nav-actions>.search {
    display: none
}

@media (min-width:1024px) {
    .nav-actions {
        display: flex;
        flex: 0 1 auto;
        order: 3
    }

    .nav-actions>.cta--visit,
    .nav-actions>.search {
        display: flex
    }
}

.overlay-menu {
    background-color: var(--color--blue-600);
    bottom: 0;
    height: 100vh;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    transition: all .2s ease-in-out;
    width: 100vw
}

.overlay-menu,
.overlay-menu * {
    color: var(--color--white)
}

.overlay-menu a {
    color: inherit !important
}

.overlay-menu a.menu-link {
    font-size: var(--type-size--xl);
    padding: var(--space--gap-regular) 0;
    text-decoration: none
}

@media (min-width:1024px) {
    .overlay-menu a.menu-link {
        font-size: var(--type-size--super)
    }
}

.overlay-menu a.menu-link:hover {
    border-color: currentColor
}

.overlay-menu li {
    font-family: inherit;
    font-size: inherit;
    list-style: none
}

@media (min-width:1024px) {
    .overlay-menu {
        align-items: start;
        display: grid;
        gap: 0 var(--space--gap-large);
        grid-template-areas: "overlaytools overlaytools" "mainlinks    utilmenu";
        grid-template-columns: 10fr 2fr;
        grid-template-rows: 144px calc(100vh - 200px);
        padding: 0 calc(var(--space--grid-unit)*7)
    }
}

.overlay-tools {
    align-items: center;
    background-color: var(--color--blue-600);
    display: grid;
    gap: 0 var(--space--gap-regular);
    grid-area: overlaytools;
    grid-template-columns: calc(100% - 40px) 40px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 5
}

.overlay-tools form {
    align-items: center;
    color: var(--color--white);
    display: flex;
    grid-row: 1;
    padding: var(--space--gap-regular) var(--space--gap-medium);
    position: relative
}

.overlay-tools form:before {
    background-color: var(--color--blue-dark);
    border-radius: 12px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1
}

.overlay-tools form ::-moz-placeholder {
    color: var(--color--blue-250)
}

.overlay-tools form ::placeholder {
    color: var(--color--blue-250)
}

@media (min-width:1024px) {
    .overlay-tools form {
        padding: var(--space--gap-medium) var(--space--gap-large)
    }
}

.overlay-tools .close-menu {
    border: 0;
    grid-row: 1;
    padding: 10px 5px
}

.overlay-tools .close-menu:hover {
    background-color: var(--color--blue-700)
}

.overlay-tools input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    width: 100%
}

.overlay-tools .bm--results-container {
    grid-column: 1/span 2;
    grid-row: 2
}

@media (min-width:1024px) {
    .overlay-tools {
        align-content: center;
        position: relative;
        top: auto
    }
}

.icon--search {
    height: 24px;
    width: 24px
}

.bravery .bm--menu-links {
    padding: var(--space--gap-large) var(--space--gap-regular)
}

.bravery .bm--menu-links h2 {
    margin-bottom: 0
}

.bravery .bm--menu-links h2>button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 0;
    color: inherit;
    display: flex;
    font-family: inherit;
    font-size: inherit;
    justify-content: space-between;
    padding: 0 var(--space--gap-regular);
    text-align: left;
    width: 100%
}

.bravery .bm--menu-links h2>button svg {
    transform: rotate();
    transition: all .2s ease-in-out
}

.bravery .bm--menu-links button:hover,
.bravery .bm--menu-links button[aria-expanded=true] {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px
}

.bravery .bm--menu-links button:hover svg,
.bravery .bm--menu-links button[aria-expanded=true] svg {
    transform: rotate(-45deg)
}

.bravery .bm--menu-links ul {
    font-family: var(--wc-font-family--sans-serif);
    font-size: var(--type-size--regular);
    margin-top: 1rem
}

.bravery .bm--menu-links ul a {
    text-decoration: none
}

.bravery .bm--menu-links ul a:hover {
    text-decoration: underline
}

.bravery .bm--menu-links .accordion-panel {
    height: 0;
    transition: all .2s ease-in-out;
    visibility: hidden
}

.bravery .bm--menu-links .accordion-panel.visible {
    display: block;
    height: auto;
    visibility: visible
}

.bravery .bm--menu-links button[aria-expanded=true]+ul {
    height: auto;
    visibility: visible
}

@media (min-width:1024px) {
    .bravery .bm--menu-links {
        align-items: start;
        border-right: 1px solid var(--color--blue-800);
        display: grid;
        gap: var(--space--gap-medium) var(--space--gap-large);
        grid-template-columns: 3fr 4fr;
        padding-bottom: 0;
        padding-top: 0
    }

    .bravery .bm--menu-links button {
        cursor: auto
    }

    .bravery .bm--menu-links button:hover,
    .bravery .bm--menu-links button[aria-expanded=true] {
        text-decoration: underline;
        text-decoration-thickness: 4px;
        text-underline-offset: 16px
    }

    .bravery .bm--menu-links button:hover svg,
    .bravery .bm--menu-links button[aria-expanded=true] svg {
        transform: rotate(-45deg)
    }

    .bravery .bm--menu-links h2 {
        font-size: var(--type-size--xl-fluid);
        grid-auto-flow: row;
        grid-column: 1
    }

    .bravery .bm--menu-links h2 svg {
        display: none
    }

    .bravery .bm--menu-links h2>button {
        justify-content: start;
        white-space: ellipsis
    }

    .bravery .bm--menu-links .accordion-panel {
        grid-column: 2;
        grid-row: 1/span 6;
        height: auto;
        opacity: 0;
        transition: all .2s ease-in-out;
        visibility: hidden
    }

    .bravery .bm--menu-links .accordion-panel.visible {
        height: auto;
        opacity: 1;
        visibility: visible
    }
}

@media (min-width:1400px) {
    .bravery .bm--menu-links ul {
        font-size: var(--type-size--medium)
    }

    .bravery .bm--menu-links ul a {
        text-decoration: none
    }
}

@media (max-height:900px) and (min-width:1024px) and (max-width:1440px) {
    .bravery .bm--menu-links {
        gap: 0 var(--space--gap-large);
        grid-auto-rows: minmax(auto, 80px);
        padding-top: 0
    }

    .bravery .bm--menu-links h2 {
        font-size: var(--type-size--xl)
    }

    .bravery .bm--menu-links ul {
        font-size: var(--type-size--regular)
    }
}

.bm--utility-menus {
    display: flex;
    font-size: var(--type-size--regular);
    gap: var(--space--gap-medium);
    grid-area: utilmenu;
    padding: var(--space--gap-medium)
}

.bm--utility-menus>* {
    flex: 0 1 50%
}

.bm--utility-menus h2 {
    color: var(--color--blue-300);
    font-family: var(--wc-font-family--sans-serif-alt-bold);
    font-size: inherit
}

.bm--utility-menus li,
.bm--utility-menus ul {
    padding: 0
}

.bm--utility-menus ul {
    margin-bottom: var(--space--gap-3xl)
}

.bm--utility-menus li {
    margin-bottom: 0
}

.bm--utility-menus a {
    text-decoration: none
}

.bm--utility-menus a:hover {
    text-decoration: underline
}

@media (min-width:1024px) {
    .bm--utility-menus {
        display: block;
        padding: 0
    }
}

.overlay-menu[data-state=hidden] {
    opacity: 0;
    transition: all .15s ease-in-out;
    visibility: hidden
}

.overlay-menu[data-state=visible] {
    opacity: 1;
    visibility: visible
}

body.menu-open {
    overflow: hidden
}

.main-footer.bravery {
    align-items: center;
    background-color: var(--color--blue-dark);
    color: var(--color--white);
    display: flex;
    flex-direction: column;
    gap: var(--space--gap-large);
    padding: var(--space--gap-large) 5vw var(--space--gap-regular)
}

.main-footer.bravery.slate-footer {
    align-items: flex-start
}

.main-footer.bravery a {
    color: inherit
}

.main-footer.bravery .inverse-logo {
    max-width: 240px;
    width: 45vw
}

@media (min-width:1024px) {
    .main-footer.bravery {
        gap: calc(var(--space--grid-unit)*9);
        padding: calc(var(--space--grid-unit)*8) 5vw calc(var(--space--grid-unit)*6)
    }
}

@media (min-width:1450px) {
    .main-footer.bravery {
        padding: calc(var(--space--grid-unit)*8) calc(50vw - 700px) calc(var(--space--grid-unit)*6)
    }
}

.main-footer.bravery li,
.main-footer.bravery ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.main-footer.bravery .legal {
    border-top: 1px solid hsla(0, 0%, 100%, .25);
    display: flex;
    flex-direction: column;
    font-family: var(--wc-font-family--sans-serif);
    font-size: var(--type-size--xsmall);
    gap: var(--space--gap-medium);
    padding-top: var(--space--gap-regular);
    width: 100%
}

.main-footer.bravery .legal a {
    text-decoration: none
}

.main-footer.bravery .legal a:hover {
    text-decoration: underline
}

.main-footer.bravery .legal ul {
    display: flex;
    flex-direction: column;
    gap: var(--space--gap-medium);
    justify-content: flex-end
}

@media (min-width:900px) {
    .main-footer.bravery .legal {
        flex-direction: row;
        justify-content: space-between
    }

    .main-footer.bravery .legal ul {
        flex-direction: row
    }
}

.bravery .footer-nav {
    width: 100%
}

.bravery .footer-nav section {
    border-top: 1px solid var(--color--blue-200);
    margin-bottom: var(--space--gap-regular);
    padding-top: var(--space--gap-regular)
}

.bravery .footer-nav section:first-child {
    border-top: 0
}

.bravery .footer-nav .contact {
    padding-top: var(--space--gap-large)
}

.bravery .footer-nav h2,
.bravery .footer-nav h2>button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    color: inherit;
    font-family: var(--wc-font-family--serif);
    font-size: var(--type-size--medium);
    padding-left: 0;
    padding-right: 0
}

.bravery .footer-nav button[aria-expanded] {
    align-items: center;
    display: flex;
    justify-content: space-between;
    transform: rotate(0deg);
    width: 100%
}

.bravery .footer-nav button[aria-expanded]>svg {
    height: 24px;
    transition: all .15s ease-in-out;
    width: 24px
}

.bravery .footer-nav button[aria-expanded=true]>svg {
    transform: rotate(-45deg)
}

.bravery .footer-nav address,
.bravery .footer-nav section {
    font-family: var(--wc-font-family--sans-serif);
    font-style: normal
}

.bravery .footer-nav a {
    color: var(--color--blue-200);
    display: block;
    padding-bottom: .5rem;
    padding-top: .5rem;
    text-decoration: none
}

.bravery .footer-nav a:hover {
    color: var(--color--white);
    text-decoration: underline
}

.bravery .footer-nav .social-links {
    display: flex;
    gap: var(--space--gap-medium);
    margin-top: var(--space--gap-large)
}

.bravery .footer-nav .social-links svg {
    height: var(--type-size--medium);
    width: var(--type-size--medium)
}

@media (min-width:1144px) {
    .bravery .footer-nav {
        align-items: flex-start;
        display: flex;
        gap: var(--space--gap-large);
        justify-content: space-between
    }

    .bravery .footer-nav>section {
        border: 0;
        flex-basis: 15%
    }

    .bravery .footer-nav>section button>svg {
        display: none
    }

    .bravery .footer-nav>section :not(h2):not(button) {
        font-size: var(--type-size--xsmall)
    }

    .bravery .footer-nav .contact {
        padding-top: calc(var(--space--gap-regular) + 10px)
    }

    .bravery .footer-nav .social-links svg {
        height: var(--type-size--small);
        width: var(--type-size--small)
    }

    .bravery .footer-nav h2>button {
        cursor: inherit;
        pointer-events: none
    }
}

@media (max-width:1024px) {
    .has-js .accordion-panel {
        display: none
    }

    .has-js .accordion-panel.visible {
        display: block
    }
}

.bm--breadcrumb {
    font-size: var(--type-size--text-lg);
    margin-bottom: var(--space--gap-xxl)
}

.bm--breadcrumb li,
.bm--breadcrumb ol {
    list-style: none;
    margin: 0;
    padding: 0
}

.bm--breadcrumb ol {
    align-items: center;
    display: flex;
    justify-content: flex-start
}

.bm--breadcrumb li {
    align-items: center;
    display: flex;
    font-weight: 400
}

.bm--breadcrumb li:not(:last-child):after {
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3E%3Cpath stroke='%23D0D5DD' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.333' d='m6 12 4-4-4-4'/%3E%3C/svg%3E");
    display: inline-flex;
    line-height: 0;
    margin-left: var(--space--grid-unit);
    margin-right: var(--space--grid-unit)
}

.bm--breadcrumb a {
    color: var(--color--grey-600) !important;
    font-family: var(--wc-font-family--sans-serif) !important;
    text-decoration: none !important
}

.bm--breadcrumb a[aria-current=page] {
    color: var(--color--blue-600) !important
}

.bm--breadcrumb a:hover {
    text-decoration: underline !important
}

@media (max-width:1023px) {

    .bm--breadcrumb li:not(:nth-last-child(2)),
    .bm--breadcrumb li:nth-last-child(2):after {
        display: none
    }
}

.bm--page-title h1,
.bm--program-header h1 {
    color: var(--color--blue-dark);
    grid-column: 1
}

.bm--page-title .bm--actions,
.bm--program-header .bm--actions {
    grid-column: 2;
    grid-row: 1/span 2
}

.bm--page-title .bm--content,
.bm--program-header .bm--content {
    grid-column: 1;
    grid-row: 2;
    max-width: 650px
}

@media (min-width:1024px) {

    .bm--page-title,
    .bm--program-header {
        display: grid;
        grid-template-columns: auto minmax(300px, 15vw);
        grid-template-rows: auto auto
    }

    .bm--page-title .bm--content,
    .bm--program-header .bm--content {
        margin-top: var(--space--gap-xl)
    }
}

.bm--page-title>h1 {
    max-width: 880px
}

.bm--program-header h1 {
    font-size: var(--type-size--super);
    grid-row: 1
}

.bm--actions {
    display: none;
    text-align: right
}

.bm--actions li,
.bm--actions ul {
    list-style: none;
    padding: 0
}

.bm--actions li {
    margin-bottom: var(--space--gap-regular)
}

@media (min-width:1024px) {
    .bm--actions {
        display: block
    }
}

.bm--action-link a {
    text-decoration: none
}

.bm--program-features {
    margin-bottom: var(--space--gap-xl)
}

.bm--program-features h2 {
    font-family: var(--wc-font-family--sans-serif);
    letter-spacing: normal
}

.bm--section-program-features {
    border-top: 1px solid #d9d9d9;
    padding-top: var(--space--gap-3xl)
}

@media (min-width:1024px) {
    .bm--section-program-features {
        align-items: flex-start;
        display: flex;
        gap: var(--space--gap-xl);
        justify-content: stretch;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
        width: 100%
    }

    .bm--section-program-features>* {
        flex: 1 auto
    }
}

.bm--callout {
    background: var(--gradient--blue-primary);
    border-radius: var(--corner--radius);
    box-shadow: var(--elevation--large);
    color: var(--color--white);
    max-width: 1224px;
    padding: calc(var(--space--grid-unit)*4) var(--space--gap-medium)
}

.bm--callout * {
    color: inherit
}

@media (min-width:1024px) {
    .bm--callout {
        display: flex;
        gap: var(--space--gap-xl);
        margin-left: auto;
        margin-right: auto;
        padding-left: var(--space--gap-xl);
        padding-right: var(--space--gap-xl)
    }
}

.bm--section-value {
    text-align: center
}

.bm--section-value>h2 {
    color: var(--color--blue-600)
}

.bm--stat-callout {
    text-align: inherit
}

.bm--stat-callout .bm--icon {
    background-position: 50%;
    background-size: 30px 30px;
    height: 60px;
    width: 60px !important
}

.bm--stat-callout h3 {
    font-family: var(--wc-font-family--sans-serif);
    font-size: var(--type-size--medium);
    letter-spacing: normal
}

.bm--stat-callout h3 .is-large {
    display: block;
    font-family: var(--wc-font-family--serif) !important;
    font-size: var(--type-size--xl) !important;
    letter-spacing: -.02em;
    line-height: 1.5
}

@media (min-width:1024px) {
    .bm--stat-callout {
        flex-basis: 33%
    }

    .bm--stat-callout .bm-stat {
        flex: 0 33%
    }
}

.bm--stat-callout {
    padding-bottom: calc(var(--space--grid-unit)*8);
    padding-top: calc(var(--space--grid-unit)*8);
    text-align: center
}

.bm--stat-callout p {
    font-size: var(--type-size--small);
    margin-bottom: 0
}

.bm--cta-callout {
    border-radius: 16px
}

@media (min-width:1024px) {
    .bm--cta-callout {
        gap: var(--space--gap-3xl);
        justify-content: space-between;
        padding-left: var(--space--gap-3xl);
        padding-right: var(--space--gap-3xl)
    }

    .bm--cta-callout header {
        flex: 1 auto
    }

    .bm--cta-callout .bm--buttons {
        flex: 1 0 auto;
        justify-content: flex-end
    }

    .bm--cta-callout p {
        font-size: var(--type-size--medium)
    }
}

.bm-stat {
    align-items: center;
    display: flex;
    flex-direction: column
}

.bm--rfi {
    margin-bottom: var(--space--gap-xxl);
    padding-left: 0;
    padding-right: 0;
    text-align: center
}

.bm--rfi h2 {
    color: var(--color--blue-600)
}

.bm--rfi p {
    font-size: var(--type-size--regular);
    margin-bottom: calc(var(--space--grid-unit)*6)
}

@media (min-width:1024px) {
    .bm--rfi {
        align-items: stretch;
        display: flex;
        justify-content: stretch
    }

    .bm--rfi .bm--cover {
        background-clip: border-box;
        border-bottom-left-radius: var(--corner--radius);
        border-top-left-radius: var(--corner--radius);
        flex: 1 50%;
        max-height: 90vh
    }
}

.bm--rfi-form {
    padding: var(--space--gap-xl) 4vw
}

@media (min-width:1024px) {
    .bm--rfi-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left
    }
}

@media (min-width:1300px) {
    .bm--rfi-form {
        flex: 0 1 50%
    }
}

.bm--cover {
    border-radius: var(--corner--radius);
    overflow: hidden
}

.bm--cover>img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.bm--card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: var(--space--gap-xxl);
    margin-top: var(--space--gap-xxl)
}

.bm--card figure {
    border-radius: var(--corner--radius);
    height: 527px;
    max-width: 100%;
    overflow: hidden;
    width: 384px
}

.bm--card figure>img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.bm--card .card--content {
    margin-top: var(--space--gap-xl)
}

.bm--card .card--content h3 {
    color: var(--color--blue-600)
}

.bm--is-card {
    background-color: var(--color--white);
    border: 1px solid var(--color--grey-100);
    border-radius: var(--corner--radius);
    box-shadow: var(--elevation--large);
    padding: var(--space--gap-xl)
}

a.bm--card {
    color: unset;
    text-decoration: none;
    transition: all .2s ease-in-out
}

a.bm--card:hover {
    box-shadow: var(--elevation--large-invert)
}

.bm--section-title h2 {
    color: var(--color--blue-600)
}

.bm--section-title h2 .subhead {
    color: var(--color--grey-700)
}

.bm--jump-menu {
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    background-color: var(--color--white);
    background: hsla(0, 0%, 100%, .65);
    bottom: 0;
    left: 0;
    padding: var(--space--gap-medium) var(--space--gap-regular);
    position: fixed;
    width: 100%;
    z-index: 25
}

.bm--jump-menu li,
.bm--jump-menu ul {
    list-style: none;
    margin: 0;
    padding-left: 0
}

.bm--jump-menu a {
    align-content: center;
    display: flex;
    height: calc(var(--space--grid-unit)*6);
    text-decoration: none
}

.bm--jump-menu button {
    background-color: var(--color--orange-600);
    border: 0;
    color: var(--color--white);
    font-size: var(--type-size--base);
    position: relative;
    width: 100%;
    z-index: 1
}

.bm--jump-menu button:active {
    background-color: var(--color--orange-700)
}

.bm--jump-menu ul {
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    background: var(--color--white);
    background: hsla(0, 0%, 100%, .65);
    bottom: 0;
    box-shadow: var(--elevation--large-invert);
    left: 0;
    opacity: 0;
    padding: var(--space--gap-xl) var(--space--gap-medium) calc(var(--space--grid-unit)*10);
    position: absolute;
    transform: translateY(95%);
    transition: all .25s ease-in-out;
    visibility: hidden;
    width: 100%;
    z-index: 0
}

.bm--jump-menu ul.visible {
    opacity: 1;
    transform: translateY(0);
    visibility: visible
}

@media (min-width:1024px) {
    .bm--jump-menu {
        align-self: start;
        border-bottom: 1px solid var(--color--grey-300);
        bottom: unset;
        grid-column: 1/span 2;
        margin-bottom: calc(var(--space--grid-unit)*4);
        padding: 0;
        position: sticky;
        top: 248px;
        z-index: unset
    }

    .bm--jump-menu button {
        display: none
    }

    .bm--jump-menu ul {
        bottom: unset;
        box-shadow: unset;
        left: unset;
        opacity: 1;
        padding: 0;
        position: unset;
        position: static;
        transform: unset;
        visibility: visible
    }

    .bm--jump-menu li {
        border-top: 1px solid var(--color--grey-300)
    }

    .bm--jump-menu a {
        height: calc(var(--space--grid-unit)*7)
    }
}

.bm--section-nav {
    background-color: var(--color--white);
    margin-bottom: var(--space--gap-large);
    margin-top: var(--space--gap-large);
    width: 100%
}

.bm--section-nav button {
    align-items: center;
    display: flex;
    font-weight: 500;
    justify-content: space-between;
    padding: var(--space--gap-medium);
    width: 100%
}

.bm--section-nav button:after {
    color: var(--color--blue-600);
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 8v8m-4-4h8m6 0c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.477 10 10Z'/%3E%3C/svg%3E");
    display: block;
    height: 24px;
    transform: rotate(0);
    transform-origin: center;
    transition: all .15s ease-in-out;
    width: 24px
}

.bm--section-nav button[aria-expanded=true]:after {
    transform: rotate(-45deg)
}

.bm--section-nav h2 {
    display: none;
    font-family: var(--wc-font-family--sans-serif);
    font-size: var(--type-size--base);
    font-weight: 500
}

.bm--section-nav div {
    display: flex;
    flex-direction: column;
    gap: var(--space--gap-large);
    max-height: 0;
    opacity: 0;
    padding: 0 18px;
    transition: opacity .15s ease-in-out, padding .2s ease-in-out .15s, max-height .2s ease-in-out .15s
}

.bm--section-nav div.visible {
    max-height: 700px;
    opacity: 1;
    padding: var(--space--gap-large) 18px;
    transition: padding .25s ease-in-out, max-height .25s ease-in-out, opacity .15s ease-in-out .15s
}

@media (min-width:1024px) {
    .bm--section-nav {
        background-color: var(--color--grey-100);
        border: 0;
        border-radius: 16px;
        padding: var(--space--gap-large) var(--space--gap-medium)
    }

    .bm--section-nav h2 {
        display: block
    }

    .bm--section-nav button {
        display: none
    }

    .bm--section-nav div {
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
        max-height: none;
        opacity: 1;
        padding: 0
    }
}

.bm--section-quotes {
    margin-top: calc(var(--space--grid-unit)*6);
    padding-left: 0;
    padding-right: 0
}

.bm--quote {
    border-left: 2px solid var(--color--orange-600);
    color: var(--color--blue-600);
    font-family: var(--wc-font-family--serif);
    font-size: var(--type-size--large);
    margin: var(--space--gap-large) 0;
    padding: 0;
    padding-left: var(--space--gap-large)
}

.bm--quote p {
    letter-spacing: -.02em;
    line-height: 1.1;
    margin-bottom: var(--space--gap-regular)
}

.bm--quote cite {
    font-family: var(--wc-font-family--sans-serif);
    font-size: var(--type-size--small);
    font-style: normal
}

.bm--quote cite:first-line {
    font-size: var(--type-size--base);
    font-weight: 400
}

.bm--collapsible {
    margin-bottom: var(--space--gap-medium);
    padding: var(--space--gap-xl);
    transition: all .2s ease-in-out
}

.bm--collapsible.visible,
.bm--collapsible:hover,
.bm--collapsible[aria-expanded=true] {
    background-color: var(--color--grey-50);
    border-radius: var(--corner--radius)
}

.bm--collapsible h3 {
    font-family: var(--wc-font-family--sans-serif);
    margin-bottom: 0
}

.bm--collapsible button {
    align-items: top;
    background: transparent;
    border: 0;
    box-shadow: none;
    color: var(--color--grey-900);
    cursor: pointer;
    display: flex;
    font-size: var(--type-size--text-xl);
    font-weight: 500;
    gap: 24px;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 100%
}

.bm--collapsible button:after {
    color: var(--color--grey-400);
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 8v8m-4-4h8m6 0c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.477 10 10Z'/%3E%3C/svg%3E");
    display: block;
    height: 24px;
    transform: rotate(0);
    transform-origin: center;
    transition: all .15s ease-in-out;
    width: 24px
}

.bm--collapsible button[aria-expanded=true]:after {
    transform: rotate(-45deg)
}

.bm--collapsible button:active,
.bm--collapsible button:focus {
    background-color: transparent;
    color: inherit
}

.bm--collapsible div {
    max-width: 650px;
    padding-top: inherit
}

.bm--collapsible p:last-of-type {
    margin-bottom: 0
}

.bm--text-image {
    padding-left: 0;
    padding-right: 0
}

.bm--text-image figure {
    margin-bottom: var(--space--gap-xxl);
    margin-top: var(--space--gap-xxl);
    position: relative
}

.bm--text-image article {
    padding-left: 3vw;
    padding-right: 3vw
}

@media (min-width:1024px) {
    .bm--text-image {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        margin: var(--space--gap-3xl) auto;
        padding-left: 0;
        padding-right: 0;
        width: 100%
    }

    .bm--text-image figure {
        border-radius: var(--corner--radius);
        flex: 1 50%;
        height: 50vw;
        max-height: 1000px;
        max-width: 50%;
        order: 1;
        overflow: hidden;
        width: 50%
    }

    .bm--text-image figure img {
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center center;
        object-position: center center;
        width: 100%
    }

    .bm--text-image article {
        flex: 1 50%;
        max-width: 50%;
        order: 2;
        padding: 0 calc(var(--space--grid-unit)*8);
        width: 50%
    }

    .bm--text-image[data-image=right] article {
        justify-content: flex-end;
        order: 1;
        padding: 0 calc(var(--space--grid-unit)*8) 0 7vw
    }

    .bm--text-image[data-image=right] figure {
        order: 2
    }
}

.bm--video {
    margin-bottom: var(--space--gap-large);
    padding-bottom: calc(var(--space--grid-unit)*10);
    padding-top: calc(var(--space--grid-unit)*10)
}

.bm--video header {
    margin-bottom: var(--space--gap-xxl);
    text-align: center
}

@media (min-width:1024px) {
    .bm--video {
        margin-bottom: var(--space--gap-3xl);
        padding-bottom: calc(var(--space--grid-unit)*12);
        padding-top: calc(var(--space--grid-unit)*12)
    }
}

.bm--video-container {
    box-shadow: var(--elevation--large);
    height: auto;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    width: 100%
}

.bm--video-container:after {
    content: "";
    display: block;
    padding-bottom: 56.26%;
    width: 100%
}

.bm--video-container iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.bm--content>.bm--video {
    background-color: transparent;
    border-bottom: 1px solid var(--color--grey-100);
    border-top: 1px solid var(--color--grey-100)
}

.bm--content>.bm--video header {
    text-align: left
}

.bm--content>.bm--video h2 {
    font-size: var(--type-size--medium)
}

.bm-grid--faculty {
    display: grid;
    gap: calc(var(--space--grid-unit)*6);
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: calc(var(--space--grid-unit)*6);
    padding-top: calc(var(--space--grid-unit)*6)
}

@media (min-width:900px) {
    .bm-grid--faculty {
        grid-template-columns: repeat(3, 1fr)
    }
}

@media (min-width:1200px) {
    .bm-grid--faculty {
        grid-template-columns: repeat(4, 1fr)
    }
}

@media (min-width:1600px) {
    .bm-grid--faculty {
        grid-template-columns: repeat(5, 1fr)
    }
}

@media (min-width:900px) {
    [data-layout="3up"] .bm-grid--faculty {
        grid-template-columns: 100%
    }
}

@media (min-width:1200px) {
    [data-layout="3up"] .bm-grid--faculty {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media (min-width:1600px) {
    [data-layout="3up"] .bm-grid--faculty {
        grid-template-columns: repeat(3, 1fr)
    }
}

@media (min-width:900px) {
    [data-layout="2up-half"] .bm-grid--faculty {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media (min-width:1200px) {
    [data-layout="2up-half"] .bm-grid--faculty {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media (min-width:1600px) {
    [data-layout="2up-half"] .bm-grid--faculty {
        grid-template-columns: repeat(3, 1fr)
    }
}

.bm-card--faculty img {
    border-radius: var(--space--grid-unit);
    height: auto;
    width: 100%
}

.bm-card--faculty h3 {
    font-family: var(--wc-font-family--sans-serif);
    font-size: var(--type-size--medium);
    font-weight: 500;
    margin-bottom: 0
}

.bm-card--faculty figcaption {
    font-size: var(--type-size--base);
    margin-top: calc(var(--space--grid-unit)*2)
}

main.is-new-style {
    display: flex;
    flex-direction: column;
    gap: var(--space--gap-xl);
    padding: calc(var(--space--grid-unit)*8) 4vw calc(var(--space--grid-unit)*12)
}

@media (min-width:1024px) {
    main.is-new-style {
        gap: var(--space--gap-3xl);
        padding: calc(var(--space--grid-unit)*10) 7vw calc(var(--space--grid-unit)*15)
    }

    main.is-new-style .bm--page-title+.bm--section-nav {
        margin-top: calc(var(--space--gap-2xl)*-1)
    }
}

@media (min-width:1300px) {
    main.is-new-style {
        gap: calc(var(--space--grid-unit)*12);
        padding: calc(var(--space--grid-unit)*23) var(--max-1280) calc(var(--space--grid-unit)*23)
    }

    main.is-new-style .bm--page-title+.bm--section-nav {
        margin-top: calc(var(--space--grid-unit)*-6)
    }
}

.bm-margins {
    padding: var(--space--gap-medium);
    width: 100%
}

@media (min-width:1024px) {
    .bm-margins {
        padding: 0
    }
}

.is-fullwidth {
    margin-left: -4vw;
    margin-right: -4vw;
    width: 100vw
}

@media (min-width:1024px) {
    .is-fullwidth {
        margin-left: -7vw;
        margin-right: -7vw
    }
}

@media (min-width:1300px) {
    .is-fullwidth {
        margin-left: var(--full-bleed);
        margin-right: var(--full-bleed)
    }
}

@media (min-width:1024px) {
    .is-widewidth {
        margin-left: -3.5vw;
        margin-right: -3.5vw
    }
}

@media (min-width:1500px) {
    .is-widewidth {
        margin-left: var(--max-1480);
        margin-right: var(--max-1480);
        max-width: 1480px;
        width: 100vw
    }
}

@media (min-width:1024px) {
    .has-jump-menu {
        display: grid;
        gap: var(--space--gap-xxl);
        grid-template-columns: min(20vw, 260px) auto;
        justify-content: start
    }

    .has-jump-menu .bm--jump-menu {
        grid-column: 1;
        grid-row: 1
    }
}

@media (min-width:1280px) {
    .has-jump-menu {
        -moz-column-gap: var(--space--gap-3xl);
        column-gap: var(--space--gap-3xl);
        grid-template-columns: min(20vw, 260px) 1024px
    }
}

[data-layout=has-margins] {
    margin: 0 auto;
    max-width: 850px;
    padding: 0
}

@media (min-width:1024px) {
    [data-layout="3up"] {
        -moz-column-gap: var(--space--gap-large);
        column-gap: var(--space--gap-large);
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: repeat(3, 1fr);
        margin-left: auto;
        margin-right: auto;
        max-width: 1280px;
        padding-left: 0;
        padding-right: 0
    }
}

@media (min-width:1300px) {
    [data-layout="3up"] {
        -moz-column-gap: var(--space--gap-xl);
        column-gap: var(--space--gap-xl)
    }
}

[data-layout="1up"] {
    grid-column: 1/-1;
    width: 100%
}

main>[data-layout="1up"] {
    max-width: calc(1280px + 14vw)
}

@media (min-width:1024px) {
    [data-layout="2up-half"] {
        align-items: start;
        -moz-column-gap: var(--space--gap-xxl);
        column-gap: var(--space--gap-xxl);
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: repeat(2, 1fr)
    }

    [data-layout="2up-half"] .bm--section-title {
        padding-left: 4vw;
        position: sticky;
        top: 208px
    }

    [data-layout="2up-half"] .bm--section-title[data-layout="1up"] {
        grid-column: 1/span 2;
        padding-left: 0;
        position: unset
    }
}

@media (min-width:1300px) {
    [data-layout="2up-half"] {
        -moz-column-gap: calc(var(--space--grid-unit)*8);
        column-gap: calc(var(--space--grid-unit)*8);
        margin-left: auto;
        margin-right: auto;
        max-width: calc(1280px + 14vw)
    }
}

.bm--cover-image+.bm--content-container {
    padding-top: calc(var(--space--grid-unit)*10)
}

@media (min-width:1024px) {
    .bm--cover-image+.bm--content-container {
        padding-top: calc(var(--space--grid-unit)*12)
    }
}

.bm--content>section:not(:first-child) {
    margin-top: calc(var(--space--grid-unit)*6);
    padding-top: var(--space--gap-xl);
    position: relative
}

.bm--content address,
.bm--content li,
.bm--content ol,
.bm--content p,
.bm--content ul {
    max-width: 650px
}

.bm--content-block:before {
    background-color: var(--color--blue-600);
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 0;
    width: 100%
}

.bm--content-block address,
.bm--content-block li,
.bm--content-block ol,
.bm--content-block p,
.bm--content-block ul {
    max-width: 650px
}

.bm--content h3 {
    color: var(--color--grey-900);
    font-family: var(--wc-fon-family--sans-serif);
    font-size: var(--type-size--medium);
    font-weight: 500
}

.bm--content hr {
    margin-bottom: var(--space--gap-large)
}

.bm--content hr:not(:first-child) {
    margin-top: var(--space--gap-large)
}

@media (min-width:1024px) {
    .bm--content hr {
        margin-bottom: var(--space--gap-3xl)
    }

    .bm--content hr:not(:first-child) {
        margin-top: var(--space--gap-3xl)
    }
}

.has-text-2col+* {
    margin-top: var(--space--gap-xl)
}

@media (min-width:1024px) {
    .has-text-2col {
        -moz-columns: 2;
        column-count: 2;
        -moz-column-gap: var(--space--gap-3xl);
        column-gap: var(--space--gap-3xl);
        max-width: 1024px
    }

    .has-text-2col+* {
        margin-top: var(--space--gap-3xl)
    }
}